Node-Red Flows/dashboard_flows_Win10Version.json
[
    {
        "id": "65e22a06500efde0",
        "type": "tab",
        "label": "DashBoard - Analog Config",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f88f21995298ca7f",
        "type": "group",
        "z": "65e22a06500efde0",
        "name": "config_i0",
        "style": {
            "stroke": "#ffff00",
            "label": true,
            "fill": "#ffffbf",
            "fill-opacity": "0.5",
            "color": "#000000"
        },
        "nodes": [
            "390ea45d71cdd4ce",
            "6ea5c550fdfec21f",
            "2233a35ec4669aaa",
            "3336f08765d4cc6b",
            "b31ceb355e027ffe",
            "a2f32b2161c118aa",
            "0f986a760ad1cdf7",
            "d48f6ddcc9608883",
            "fce5e0a11a12b5c5",
            "54553e4b25d62c58",
            "5a168b2536f5d3d3",
            "325781ac2fe53948",
            "91127f8487a65c9e",
            "3883601112826930",
            "673671f17c9d2159",
            "d830fb4ed00eb2eb",
            "2ee02098f80454ad",
            "916e207f4d91bbc3",
            "cffc9c6c11822a04",
            "2a990996a97733b9",
            "5474d25375850746",
            "ed0b9a81ace9a789",
            "02d4aec04d4f013b",
            "9e93e0c356a9a10f",
            "be3fc51803dc5a72",
            "25cc11085279a2bd",
            "5fa9a20163993467",
            "594dceb606dd5279",
            "ae5ce9f3e53d5f17",
            "e7641c5e8e036d4c",
            "e07509a8bfc4fc1c",
            "cc15ca43b1c402ec",
            "4c5227a317f92c6e",
            "f93b8957e0f83b72",
            "cef8ef4e9f6661c2",
            "392af83c845ef17b",
            "f781ed8c2998aa03",
            "d2d0f06ced71c924",
            "c76d0fba4be7ea35",
            "0621d8c03df52343",
            "cd327b65f0bd3a65",
            "517fed71bb409534",
            "e62595917f69cfef",
            "8cfad0e5e071c81d",
            "175deafe55016bec",
            "ff301bfee4038ffe",
            "846a98445acbbd43",
            "c812eedaf11839be",
            "10e37b0945879fdb",
            "eb55112eca25af9c",
            "094971358f2c4c41",
            "c7e25538bfbea84b",
            "6d5c776218b2b44c",
            "b4c28e487b704c92",
            "97c9527d2485e2ad",
            "8121d3d6263b8a28",
            "1f146ba9309e1fb7"
        ],
        "x": 2274,
        "y": 119,
        "w": 2132,
        "h": 942
    },
    {
        "id": "a3fbd1f805562e64",
        "type": "group",
        "z": "65e22a06500efde0",
        "name": "config_u1",
        "style": {
            "stroke": "#3f93cf",
            "label": true,
            "fill": "#7fb7df",
            "fill-opacity": "0.5",
            "color": "#000000"
        },
        "nodes": [
            "85527a0eae8b14d3",
            "3b540d8491166c4f",
            "eeee56ac10655235",
            "85555c92d6920cd7",
            "3e9b09a15bef85e8",
            "a847aed05e8bc739",
            "b85658982885dca7",
            "bdc54f4e40f8a98d",
            "0e1f434d3905cfe6",
            "c2761334a7201162",
            "4a9835ca5cb859cd",
            "6e6c0dc9c29263ce",
            "3235ef9ee9900fa8",
            "910df37905499680",
            "4f96836b9a59366f",
            "88a76ea254209bfe",
            "823b34f62aa90234",
            "d942c5b1e5d7037e",
            "5d7ea843c6a147de",
            "00288c1babada7c0",
            "bbbe25d93b099471",
            "15a7c8c41a58e7f0",
            "635eafd1736ab9ad",
            "fa531c0082db47a8",
            "23f6883c8359ae1c",
            "f69d31c34e951a55",
            "ea1d4614560f0ab6",
            "50c9ddfdd2bb2409",
            "d780e60bcd514fb2",
            "24a3b80fb6fe3bb7",
            "d1221555ae806d84",
            "acbcd63b07b4b299",
            "d7a83e1438b47f4f",
            "b4ec45e58a0c814b",
            "3677674869b64dcc",
            "ba6267d811d3769e",
            "b2b74feb1145de02",
            "3a0c9b0abd8b404b",
            "1dee900f015384d9",
            "f9e31f8498efb5ed",
            "6e60f71c4ec3ba7a",
            "4fb50a62764534f6",
            "3c0101ea0112ecca",
            "005f2a5fc41707c5",
            "8c1764cdaedab491",
            "f60b61d49020cdfb",
            "5f2e56d47bc9db1c",
            "2a93f9020a921407",
            "7d24eba2cfaac26b",
            "f6d92fcc20039461",
            "f3871aabd9b6e177",
            "0304992cd4a89790",
            "fda54d70037c16bb",
            "399b1a4ec690f8c9",
            "fd494df53a1a51c7",
            "6f563fcf74fbb109"
        ],
        "x": 54,
        "y": 1119,
        "w": 2152,
        "h": 942
    },
    {
        "id": "354638edd0519813",
        "type": "group",
        "z": "65e22a06500efde0",
        "name": "config_i1",
        "style": {
            "stroke": "#ffff00",
            "label": true,
            "fill": "#ffff7f",
            "fill-opacity": "0.5",
            "color": "#000000"
        },
        "nodes": [
            "f5cda17aba473c7e",
            "575f07abed7778ca",
            "26ea8bb5c400736e",
            "9481838f4e7a4226",
            "5f57390064168a30",
            "987d30efac1960e4",
            "be2c6ee038e50b7a",
            "427a4250dcaed5d7",
            "646b3030fafb8daf",
            "6c06383e40b6e228",
            "b730c05ab4a5ce16",
            "8b47358eba9ab171",
            "68723b40022b0d31",
            "95a83f219d7f91f9",
            "c12de36266644e6e",
            "348af2cbd527aeee",
            "395d0bccd8cff3ae",
            "b3af2f989ed06217",
            "f9e02443cfbe058e",
            "735428896e807908",
            "3b8e2bedf1435711",
            "596f2369a5c444a4",
            "55261632cb775ee1",
            "32cb18fed5b2cba0",
            "9f5b57e9da89d978",
            "baf2c9ef680a4706",
            "4a030c80b810ac6d",
            "433be6a7cf995625",
            "2bc55f8a61e01adc",
            "9da2cff19a0f448c",
            "f23cf8cbcc382af8",
            "eb76732fe1aac089",
            "de21508cb5680cf0",
            "c9714b9e67157c20",
            "1856b3d862befbf6",
            "7e3847801029d98f",
            "850892d88de6dd97",
            "86dee1d8183faab2",
            "9ec23e5a8619a9d1",
            "fe11f4bb102e8889",
            "1bee9ea7c8bac4a8",
            "9d8339ac5645cfdc",
            "f1430b7e18b2f59d",
            "b0179e10de161077",
            "56f096a94f084e41",
            "2623cf8234119e02",
            "3345734ba2599ac7",
            "0a08bf422f67cf9b",
            "cf3cfd88132d7650",
            "a1cf0d3f3d794e45",
            "cabc5a960e42b767",
            "5609dbba38c12861",
            "a94cac357119c8a6",
            "af9103bd19d5a22e",
            "cf76df96e95b6382",
            "20dc77d9195d5646"
        ],
        "x": 2274,
        "y": 1119,
        "w": 2132,
        "h": 942
    },
    {
        "id": "dbd94cb91876550c",
        "type": "group",
        "z": "65e22a06500efde0",
        "name": "config_u0",
        "style": {
            "stroke": "#0070c0",
            "label": true,
            "fill": "#bfdbef",
            "fill-opacity": "0.5",
            "color": "#000000"
        },
        "nodes": [
            "4339c7c551c942c0",
            "d2e7db714c3f1a68",
            "2a4e57fb46bf8851",
            "bdbafd7015c19fb4",
            "9fc935ddfdaed7c0",
            "c5c415eeb4e69c82",
            "4e973c18cd5bfea3",
            "5158abdf6515513a",
            "c08dac60676ba926",
            "76895a4e9689d810",
            "7b28736e0c44b1f9",
            "2a8331ac9248d8ab",
            "f034cf1008adbdd5",
            "457f450e07a4e7d8",
            "36092be52284433d",
            "a44088ab6095d7bf",
            "0546084492670fdf",
            "6285d13b37527e6a",
            "ad051210c289de86",
            "21806e43d483c0e1",
            "bdd4ca45e5260524",
            "ce32e2846ac1b4c3",
            "0a8e8339bee1fa9f",
            "549811fa4ad7aad2",
            "2d91db443a241862",
            "46876e5d1d4f8178",
            "457a642cdaa36e6a",
            "e76974ed280df15b",
            "2b0326079215ffef",
            "a0779933654969d0",
            "650c5342d8b5729d",
            "93008b6a3c974d8e",
            "b410eb6bf3568d25",
            "cac819cb3b50633d",
            "51b6660577ebe8bb",
            "553fc124fb9d69c7",
            "baf24a5881f8ca08",
            "902de42013a6b30f",
            "77033a07bb701f26",
            "7905487f76d7a7a8",
            "8a62664ab5e41264",
            "fa8e3cee209a4ff3",
            "6e368083d5976de2",
            "e2440dfef7c9f0c9",
            "ecd5704382a4805f",
            "703cb321794e858e",
            "55ad6b670ed52316",
            "28e7eefc0dad5a4f",
            "03701cacd7c5f8ba",
            "b9fe3ec2d34025a4",
            "06f111387fa8aa32",
            "f281ccea3f28bb0f",
            "8c764812525cd341",
            "15815b4108983d9d",
            "060f466f5f40357e",
            "4d61a860599b96ab",
            "55e42bb11575c395"
        ],
        "x": 54,
        "y": 119,
        "w": 2152,
        "h": 942
    },
    {
        "id": "390ea45d71cdd4ce",
        "type": "ui_dropdown",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "dd_ConfigChoice_i0",
        "label": "Saved Configurations",
        "tooltip": "Select desired (saved) sensor config.",
        "place": "",
        "group": "7858837884bebd2a",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "configChoice_i0",
        "topicType": "str",
        "className": "",
        "x": 2940,
        "y": 380,
        "wires": [
            [
                "594dceb606dd5279",
                "e7641c5e8e036d4c",
                "1f146ba9309e1fb7"
            ]
        ]
    },
    {
        "id": "6ea5c550fdfec21f",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_RangeMin_i0",
        "label": "Range Min",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMin_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4230,
        "y": 400,
        "wires": [
            [
                "ed0b9a81ace9a789"
            ]
        ]
    },
    {
        "id": "2233a35ec4669aaa",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_RangeMax_i0",
        "label": "Range Max",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMax_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4230,
        "y": 480,
        "wires": [
            [
                "02d4aec04d4f013b"
            ]
        ]
    },
    {
        "id": "3336f08765d4cc6b",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_Units_i0",
        "label": "Units",
        "tooltip": "(Meters, Seconds, Pascal, Bar, ...)",
        "group": "7858837884bebd2a",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "units_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4210,
        "y": 320,
        "wires": [
            [
                "cffc9c6c11822a04"
            ]
        ]
    },
    {
        "id": "b31ceb355e027ffe",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_AlarmMin_i0",
        "label": "Alarm Min",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMin_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4220,
        "y": 560,
        "wires": [
            [
                "9e93e0c356a9a10f"
            ]
        ]
    },
    {
        "id": "a2f32b2161c118aa",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_AlarmMax_i0",
        "label": "Alarm Max",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMax_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4230,
        "y": 640,
        "wires": [
            [
                "be3fc51803dc5a72"
            ]
        ]
    },
    {
        "id": "0f986a760ad1cdf7",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "btn_Save_i0",
        "group": "7858837884bebd2a",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save current config by the sensor name provided.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-floppy-o",
        "payload": "true",
        "payloadType": "bool",
        "topic": "btnsave_i0",
        "topicType": "msg",
        "x": 2410,
        "y": 960,
        "wires": [
            [
                "5474d25375850746",
                "4c5227a317f92c6e"
            ]
        ]
    },
    {
        "id": "d48f6ddcc9608883",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_SensorName_i0",
        "label": "Sensor Name",
        "tooltip": "Sensor Name, and subsquently config file name. No spaces allowed.",
        "group": "7858837884bebd2a",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "name_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4230,
        "y": 240,
        "wires": [
            [
                "916e207f4d91bbc3"
            ]
        ]
    },
    {
        "id": "fce5e0a11a12b5c5",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "btn_Delete_i0",
        "group": "7858837884bebd2a",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "Delete selected configuration.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-times",
        "payload": "false",
        "payloadType": "bool",
        "topic": "delete_i0",
        "topicType": "msg",
        "x": 2400,
        "y": 800,
        "wires": [
            [
                "ae5ce9f3e53d5f17",
                "4c5227a317f92c6e",
                "97c9527d2485e2ad",
                "cef8ef4e9f6661c2"
            ]
        ]
    },
    {
        "id": "54553e4b25d62c58",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_AlarmPreMin_i0",
        "label": "Alarm PreMin",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmpreMin_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4230,
        "y": 720,
        "wires": [
            [
                "5fa9a20163993467"
            ]
        ]
    },
    {
        "id": "5a168b2536f5d3d3",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_AlarmPreMax_i0",
        "label": "Alarm PreMax",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmPreMax_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4240,
        "y": 800,
        "wires": [
            [
                "25cc11085279a2bd"
            ]
        ]
    },
    {
        "id": "325781ac2fe53948",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 3230,
        "y": 960,
        "wires": [
            [
                "2ee02098f80454ad"
            ]
        ]
    },
    {
        "id": "91127f8487a65c9e",
        "type": "file in",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2880,
        "y": 520,
        "wires": [
            [
                "f93b8957e0f83b72",
                "392af83c845ef17b"
            ]
        ]
    },
    {
        "id": "3883601112826930",
        "type": "exec",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3230,
        "y": 800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "673671f17c9d2159",
        "type": "inject",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 2370,
        "y": 320,
        "wires": [
            [
                "d830fb4ed00eb2eb"
            ]
        ]
    },
    {
        "id": "d830fb4ed00eb2eb",
        "type": "fs-file-lister",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "start": "C:\\Users\\gilvi\\Documents\\pea_virtBanc\\project_data\\sensor_configs\\current_configs",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": true,
        "depth": "0",
        "stat": false,
        "showWarnings": true,
        "x": 2680,
        "y": 320,
        "wires": [
            [
                "e07509a8bfc4fc1c",
                "cc15ca43b1c402ec"
            ]
        ]
    },
    {
        "id": "2ee02098f80454ad",
        "type": "file",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3300,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "916e207f4d91bbc3",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value name_i0",
        "rules": [
            {
                "t": "set",
                "p": "name_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4240,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "cffc9c6c11822a04",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value units_i0",
        "rules": [
            {
                "t": "set",
                "p": "units_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4230,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2a990996a97733b9",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2850,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5474d25375850746",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Get and Join Current Values",
        "func": "var name_i0 = flow.get(\"name_i0\") || \"DEFAULT_VALUE\"; \nvar units_i0 = flow.get(\"units_i0\") || \"DEFAULT UNITS\";\nvar rangeMin_i0 = flow.get(\"rangeMin_i0\") || \"0\";\nvar rangeMax_i0 = flow.get(\"rangeMax_i0\") || \"0\";\nvar alarmMin_i0 = flow.get(\"alarmMin_i0\") || \"0\";\nvar alarmMax_i0 = flow.get(\"alarmMax_i0\") || \"0\";\nvar alarmPreMin_i0 = flow.get(\"alarmPreMin_i0\") || \"0\";\nvar alarmPreMax_i0 = flow.get(\"alarmPreMax_i0\") || \"0\";\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_i0,\n    \"units\": units_i0,\n    \"rangeMin\": rangeMin_i0,\n    \"rangeMax\": rangeMax_i0,\n    \"alarmMin\": alarmMin_i0,\n    \"alarmMax\": alarmMax_i0,\n    \"alarmPreMin\": alarmPreMin_i0,\n    \"alarmPreMax\": alarmPreMax_i0\n}\n\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs\\\\\" + name_i0 + \".json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2900,
        "y": 960,
        "wires": [
            [
                "325781ac2fe53948",
                "2a990996a97733b9"
            ]
        ]
    },
    {
        "id": "ed0b9a81ace9a789",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value rangeMin_i0",
        "rules": [
            {
                "t": "set",
                "p": "rangeMin_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4250,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "02d4aec04d4f013b",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value rangeMax_i0",
        "rules": [
            {
                "t": "set",
                "p": "rangeMax_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4250,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "9e93e0c356a9a10f",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value AlarmMin_i0",
        "rules": [
            {
                "t": "set",
                "p": "alarmMin_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4250,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "be3fc51803dc5a72",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value AlarmMax_i0",
        "rules": [
            {
                "t": "set",
                "p": "alarmMax_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4250,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "25cc11085279a2bd",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value AlarmPreMax_i0",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMax_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4260,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "5fa9a20163993467",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value AlarmPreMin_i0",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMin_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4260,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "594dceb606dd5279",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value ConfigChoice_i0",
        "rules": [
            {
                "t": "set",
                "p": "configChoice_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2940,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "ae5ce9f3e53d5f17",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Delete selected choice",
        "func": "var configChoice_i0 = flow.get(\"configChoice_i0\");\nmsg.payload = \"cd C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs && del \" + configChoice_i0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2900,
        "y": 800,
        "wires": [
            [
                "3883601112826930",
                "6d5c776218b2b44c"
            ]
        ]
    },
    {
        "id": "e7641c5e8e036d4c",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Get choice to load config file",
        "func": "var configChoice_i0 = flow.get(\"configChoice_i0\");\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs\\\\\" + configChoice_i0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3260,
        "y": 440,
        "wires": [
            [
                "91127f8487a65c9e"
            ]
        ]
    },
    {
        "id": "e07509a8bfc4fc1c",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2690,
        "y": 380,
        "wires": []
    },
    {
        "id": "cc15ca43b1c402ec",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Get file names and update Drop Down",
        "func": "msg.options = msg.payload \nmsg.payload = null\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2950,
        "y": 320,
        "wires": [
            [
                "390ea45d71cdd4ce"
            ]
        ]
    },
    {
        "id": "4c5227a317f92c6e",
        "type": "delay",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2410,
        "y": 880,
        "wires": [
            [
                "d830fb4ed00eb2eb"
            ]
        ]
    },
    {
        "id": "f93b8957e0f83b72",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2890,
        "y": 580,
        "wires": []
    },
    {
        "id": "cef8ef4e9f6661c2",
        "type": "ui_switch",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "swt_OnOff_i0",
        "label": "Off / On",
        "tooltip": "Turn on or off this sensor slot.",
        "group": "7858837884bebd2a",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "swtOnOff_i0",
        "topicType": "global",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 2700,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "392af83c845ef17b",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3070,
        "y": 520,
        "wires": [
            [
                "f781ed8c2998aa03",
                "cd327b65f0bd3a65"
            ]
        ]
    },
    {
        "id": "f781ed8c2998aa03",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3090,
        "y": 580,
        "wires": []
    },
    {
        "id": "d2d0f06ced71c924",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "CHANGE FILE NAME PATH",
        "info": "Aqui mudar o comando de modo a funcionar no IOT.",
        "x": 2900,
        "y": 760,
        "wires": []
    },
    {
        "id": "c76d0fba4be7ea35",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "README - Notes for the directory structure in IOT2040",
        "info": "# Criar directório onde serão guardados os config files e posteriormente acedidos.\n\n## Estrutura do Directório:\n\n---\n\n### project_Data/\n### ├─ sensor_Configs/\n### │  ├─ acquired_Data/\n### │  │  ├─ sensor1_Data.json\n### │  ├─ adicional_NotificationSettings/\n### │  │  ├─ extra_Noti_1.json\n### │  ├─ current_Configs/\n### │  │  ├─ config1_Current.json\n### │  ├─ rs232_Configs/\n### │  │  ├─ config1_rs232.json\n### │  ├─ voltage_Configs/\n### │  │  ├─ config1_Voltage.json\n### \n\n---\n",
        "x": 3400,
        "y": 160,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "0621d8c03df52343",
        "type": "switch",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Route Values",
        "property": "parts",
        "propertyType": "msg",
        "rules": [
            {
                "t": "index",
                "v": "0",
                "vt": "num",
                "v2": "0",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "1",
                "vt": "num",
                "v2": "1",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "2",
                "vt": "num",
                "v2": "2",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "3",
                "vt": "num",
                "v2": "3",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "4",
                "vt": "num",
                "v2": "4",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "5",
                "vt": "num",
                "v2": "5",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "6",
                "vt": "num",
                "v2": "6",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "7",
                "vt": "num",
                "v2": "7",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 8,
        "x": 3530,
        "y": 520,
        "wires": [
            [
                "d48f6ddcc9608883"
            ],
            [
                "3336f08765d4cc6b"
            ],
            [
                "e62595917f69cfef"
            ],
            [
                "8cfad0e5e071c81d"
            ],
            [
                "c812eedaf11839be"
            ],
            [
                "175deafe55016bec"
            ],
            [
                "ff301bfee4038ffe"
            ],
            [
                "846a98445acbbd43"
            ]
        ]
    },
    {
        "id": "cd327b65f0bd3a65",
        "type": "split",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "splitConfigFile",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 3300,
        "y": 520,
        "wires": [
            [
                "0621d8c03df52343",
                "517fed71bb409534",
                "8121d3d6263b8a28"
            ]
        ]
    },
    {
        "id": "517fed71bb409534",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "parts",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3280,
        "y": 580,
        "wires": []
    },
    {
        "id": "e62595917f69cfef",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 460,
        "wires": [
            [
                "6ea5c550fdfec21f"
            ]
        ]
    },
    {
        "id": "8cfad0e5e071c81d",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 500,
        "wires": [
            [
                "2233a35ec4669aaa"
            ]
        ]
    },
    {
        "id": "175deafe55016bec",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 580,
        "wires": [
            [
                "a2f32b2161c118aa"
            ]
        ]
    },
    {
        "id": "ff301bfee4038ffe",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 620,
        "wires": [
            [
                "54553e4b25d62c58"
            ]
        ]
    },
    {
        "id": "846a98445acbbd43",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 660,
        "wires": [
            [
                "5a168b2536f5d3d3"
            ]
        ]
    },
    {
        "id": "c812eedaf11839be",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 540,
        "wires": [
            [
                "b31ceb355e027ffe"
            ]
        ]
    },
    {
        "id": "10e37b0945879fdb",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 3260,
        "y": 400,
        "wires": []
    },
    {
        "id": "eb55112eca25af9c",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 2900,
        "y": 920,
        "wires": []
    },
    {
        "id": "094971358f2c4c41",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Read Me",
        "info": "### A ideia aqui é permitir dar enable ou disable à configuração.\n### Podendo desligar ou ligar a entrada em causa.",
        "x": 2700,
        "y": 600,
        "wires": []
    },
    {
        "id": "c7e25538bfbea84b",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "CHANGE FOLDER PATH",
        "info": "### Aqui colocar o path para a pasta correcta de configuração dos sensores em causa. (currente, tensão, rs232)\n\nNeste caso, o path da pasta /../voltage_configs/",
        "x": 2690,
        "y": 280,
        "wires": []
    },
    {
        "id": "6d5c776218b2b44c",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2870,
        "y": 860,
        "wires": []
    },
    {
        "id": "b4c28e487b704c92",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "btn_refresh_i0",
        "group": "7858837884bebd2a",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "Refresh",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "false",
        "payloadType": "bool",
        "topic": "clean_i0",
        "topicType": "msg",
        "x": 2400,
        "y": 700,
        "wires": [
            [
                "97c9527d2485e2ad",
                "cef8ef4e9f6661c2",
                "d830fb4ed00eb2eb"
            ]
        ]
    },
    {
        "id": "97c9527d2485e2ad",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Set to Null",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3870,
        "y": 700,
        "wires": [
            [
                "d48f6ddcc9608883",
                "3336f08765d4cc6b",
                "6ea5c550fdfec21f",
                "2233a35ec4669aaa",
                "b31ceb355e027ffe",
                "a2f32b2161c118aa",
                "54553e4b25d62c58",
                "5a168b2536f5d3d3"
            ]
        ]
    },
    {
        "id": "85527a0eae8b14d3",
        "type": "ui_dropdown",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "dd_ConfigChoice_u1",
        "label": "Saved Configurations",
        "tooltip": "Select desired (saved) sensor config.",
        "place": "",
        "group": "db8bdb881220f945",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "configChoice_u1",
        "topicType": "str",
        "className": "",
        "x": 740,
        "y": 1380,
        "wires": [
            [
                "50c9ddfdd2bb2409",
                "24a3b80fb6fe3bb7",
                "6f563fcf74fbb109"
            ]
        ]
    },
    {
        "id": "3b540d8491166c4f",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_RangeMin_u1",
        "label": "Range Min",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMin_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2030,
        "y": 1400,
        "wires": [
            [
                "15a7c8c41a58e7f0"
            ]
        ]
    },
    {
        "id": "eeee56ac10655235",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_RangeMax_u1",
        "label": "Range Max",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMax_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2030,
        "y": 1480,
        "wires": [
            [
                "635eafd1736ab9ad"
            ]
        ]
    },
    {
        "id": "85555c92d6920cd7",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_Units_u1",
        "label": "Units",
        "tooltip": "(Meters, Seconds, Pascal, Bar, ...)",
        "group": "db8bdb881220f945",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "units_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2010,
        "y": 1320,
        "wires": [
            [
                "5d7ea843c6a147de"
            ]
        ]
    },
    {
        "id": "3e9b09a15bef85e8",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_AlarmMin_u1",
        "label": "Alarm Min",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMin_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2030,
        "y": 1560,
        "wires": [
            [
                "fa531c0082db47a8"
            ]
        ]
    },
    {
        "id": "a847aed05e8bc739",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_AlarmMax_u1",
        "label": "Alarm Max",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMax_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2030,
        "y": 1640,
        "wires": [
            [
                "23f6883c8359ae1c"
            ]
        ]
    },
    {
        "id": "b85658982885dca7",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "btn_Save_u1",
        "group": "db8bdb881220f945",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save current config by the sensor name provided.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-floppy-o",
        "payload": "true",
        "payloadType": "bool",
        "topic": "btnsave_u1",
        "topicType": "msg",
        "x": 170,
        "y": 1960,
        "wires": [
            [
                "bbbe25d93b099471",
                "d7a83e1438b47f4f"
            ]
        ]
    },
    {
        "id": "bdc54f4e40f8a98d",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_SensorName_u1",
        "label": "Sensor Name",
        "tooltip": "Sensor Name, and subsquently config file name. No spaces allowed.",
        "group": "db8bdb881220f945",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "name_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2040,
        "y": 1240,
        "wires": [
            [
                "d942c5b1e5d7037e"
            ]
        ]
    },
    {
        "id": "0e1f434d3905cfe6",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "btn_Delete_u1",
        "group": "db8bdb881220f945",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "Delete selected configuration.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-times",
        "payload": "false",
        "payloadType": "bool",
        "topic": "delete_u1",
        "topicType": "msg",
        "x": 180,
        "y": 1800,
        "wires": [
            [
                "d780e60bcd514fb2",
                "d7a83e1438b47f4f",
                "399b1a4ec690f8c9",
                "3677674869b64dcc"
            ]
        ]
    },
    {
        "id": "c2761334a7201162",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_AlarmPreMin_u1",
        "label": "Alarm PreMin",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmpreMin_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2040,
        "y": 1720,
        "wires": [
            [
                "ea1d4614560f0ab6"
            ]
        ]
    },
    {
        "id": "4a9835ca5cb859cd",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_AlarmPreMax_u1",
        "label": "Alarm PreMax",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmPreMax_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2040,
        "y": 1800,
        "wires": [
            [
                "f69d31c34e951a55"
            ]
        ]
    },
    {
        "id": "6e6c0dc9c29263ce",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 1070,
        "y": 1960,
        "wires": [
            [
                "823b34f62aa90234"
            ]
        ]
    },
    {
        "id": "3235ef9ee9900fa8",
        "type": "file in",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 1520,
        "wires": [
            [
                "b4ec45e58a0c814b",
                "ba6267d811d3769e"
            ]
        ]
    },
    {
        "id": "910df37905499680",
        "type": "exec",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1050,
        "y": 1800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4f96836b9a59366f",
        "type": "inject",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 1320,
        "wires": [
            [
                "88a76ea254209bfe"
            ]
        ]
    },
    {
        "id": "88a76ea254209bfe",
        "type": "fs-file-lister",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "start": "C:\\Users\\gilvi\\Documents\\pea_virtBanc\\project_data\\sensor_configs\\voltage_configs",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": true,
        "depth": "0",
        "stat": false,
        "showWarnings": true,
        "x": 480,
        "y": 1320,
        "wires": [
            [
                "d1221555ae806d84",
                "acbcd63b07b4b299"
            ]
        ]
    },
    {
        "id": "823b34f62aa90234",
        "type": "file",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1140,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "d942c5b1e5d7037e",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value name_u1",
        "rules": [
            {
                "t": "set",
                "p": "name_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "5d7ea843c6a147de",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value units_u1",
        "rules": [
            {
                "t": "set",
                "p": "units_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "00288c1babada7c0",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 2020,
        "wires": []
    },
    {
        "id": "bbbe25d93b099471",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Get and Join Current Values",
        "func": "var name_u1 = flow.get(\"name_u1\") || \"DEFAULT_VALUE\"; \nvar units_u1 = flow.get(\"units_u1\") || \"DEFAULT UNITS\";\nvar rangeMin_u1 = flow.get(\"rangeMin_u1\") || \"0\";\nvar rangeMax_u1 = flow.get(\"rangeMax_u1\") || \"0\";\nvar alarmMin_u1 = flow.get(\"alarmMin_u1\") || \"0\";\nvar alarmMax_u1 = flow.get(\"alarmMax_u1\") || \"0\";\nvar alarmPreMin_u1 = flow.get(\"alarmPreMin_u1\") || \"0\";\nvar alarmPreMax_u1 = flow.get(\"alarmPreMax_u1\") || \"0\";\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_u1,\n    \"units\": units_u1,\n    \"rangeMin\": rangeMin_u1,\n    \"rangeMax\": rangeMax_u1,\n    \"alarmMin\": alarmMin_u1,\n    \"alarmMax\": alarmMax_u1,\n    \"alarmPreMin\": alarmPreMin_u1,\n    \"alarmPreMax\": alarmPreMax_u1\n}\n\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs\\\\\" + name_u1 + \".json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1960,
        "wires": [
            [
                "6e6c0dc9c29263ce",
                "00288c1babada7c0"
            ]
        ]
    },
    {
        "id": "15a7c8c41a58e7f0",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value rangeMin_u1",
        "rules": [
            {
                "t": "set",
                "p": "rangeMin_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "635eafd1736ab9ad",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value rangeMax_u1",
        "rules": [
            {
                "t": "set",
                "p": "rangeMax_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "fa531c0082db47a8",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value AlarmMin_u1",
        "rules": [
            {
                "t": "set",
                "p": "alarmMin_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "23f6883c8359ae1c",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value AlarmMax_u1",
        "rules": [
            {
                "t": "set",
                "p": "alarmMax_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "f69d31c34e951a55",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value AlarmPreMax_u1",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMax_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2060,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "ea1d4614560f0ab6",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value AlarmPreMin_u1",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMin_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2060,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "50c9ddfdd2bb2409",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value ConfigChoice_u1",
        "rules": [
            {
                "t": "set",
                "p": "configChoice_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "d780e60bcd514fb2",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Delete selected choice",
        "func": "var configChoice_u1 = flow.get(\"configChoice_u1\");\nmsg.payload = \"cd C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs && del \" + configChoice_u1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1800,
        "wires": [
            [
                "910df37905499680",
                "fda54d70037c16bb"
            ]
        ]
    },
    {
        "id": "24a3b80fb6fe3bb7",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Get choice to load config file",
        "func": "var configChoice_u1 = flow.get(\"configChoice_u1\");\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs\\\\\" + configChoice_u1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 1440,
        "wires": [
            [
                "3235ef9ee9900fa8"
            ]
        ]
    },
    {
        "id": "d1221555ae806d84",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1360,
        "wires": []
    },
    {
        "id": "acbcd63b07b4b299",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Get file names and update Drop Down",
        "func": "msg.options = msg.payload\nmsg.payload = null\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 1320,
        "wires": [
            [
                "85527a0eae8b14d3"
            ]
        ]
    },
    {
        "id": "d7a83e1438b47f4f",
        "type": "delay",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 1880,
        "wires": [
            [
                "88a76ea254209bfe"
            ]
        ]
    },
    {
        "id": "b4ec45e58a0c814b",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1580,
        "wires": []
    },
    {
        "id": "3677674869b64dcc",
        "type": "ui_switch",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "swt_OnOff_u1",
        "label": "Off / On",
        "tooltip": "Turn on or off this sensor slot.",
        "group": "db8bdb881220f945",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "swtOnOff_u1",
        "topicType": "global",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 500,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "ba6267d811d3769e",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 1520,
        "wires": [
            [
                "b2b74feb1145de02",
                "6e60f71c4ec3ba7a"
            ]
        ]
    },
    {
        "id": "b2b74feb1145de02",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 1580,
        "wires": []
    },
    {
        "id": "3a0c9b0abd8b404b",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "CHANGE FILE NAME PATH",
        "info": "Aqui mudar o comando de modo a funcionar no IOT.",
        "x": 740,
        "y": 1760,
        "wires": []
    },
    {
        "id": "1dee900f015384d9",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "README - Notes for the directory structure in IOT2040",
        "info": "# Criar directório onde serão guardados os config files e posteriormente acedidos.\n\n## Estrutura do Directório:\n\n---\n\n### project_Data/\n### ├─ sensor_Configs/\n### │  ├─ acquired_Data/\n### │  │  ├─ sensor1_Data.json\n### │  ├─ adicional_NotificationSettings/\n### │  │  ├─ extra_Noti_1.json\n### │  ├─ current_Configs/\n### │  │  ├─ config1_Current.json\n### │  ├─ rs232_Configs/\n### │  │  ├─ config1_rs232.json\n### │  ├─ voltage_Configs/\n### │  │  ├─ config1_Voltage.json\n### \n\n---\n",
        "x": 1100,
        "y": 1160,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "f9e31f8498efb5ed",
        "type": "switch",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Route Values",
        "property": "parts",
        "propertyType": "msg",
        "rules": [
            {
                "t": "index",
                "v": "0",
                "vt": "num",
                "v2": "0",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "1",
                "vt": "num",
                "v2": "1",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "2",
                "vt": "num",
                "v2": "2",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "3",
                "vt": "num",
                "v2": "3",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "4",
                "vt": "num",
                "v2": "4",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "5",
                "vt": "num",
                "v2": "5",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "6",
                "vt": "num",
                "v2": "6",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "7",
                "vt": "num",
                "v2": "7",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 8,
        "x": 1330,
        "y": 1520,
        "wires": [
            [
                "bdc54f4e40f8a98d"
            ],
            [
                "85555c92d6920cd7"
            ],
            [
                "3c0101ea0112ecca"
            ],
            [
                "005f2a5fc41707c5"
            ],
            [
                "2a93f9020a921407"
            ],
            [
                "8c1764cdaedab491"
            ],
            [
                "f60b61d49020cdfb"
            ],
            [
                "5f2e56d47bc9db1c"
            ]
        ]
    },
    {
        "id": "6e60f71c4ec3ba7a",
        "type": "split",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "splitConfigFile",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1100,
        "y": 1520,
        "wires": [
            [
                "f9e31f8498efb5ed",
                "4fb50a62764534f6"
            ]
        ]
    },
    {
        "id": "4fb50a62764534f6",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "parts",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1580,
        "wires": []
    },
    {
        "id": "3c0101ea0112ecca",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1460,
        "wires": [
            [
                "3b540d8491166c4f"
            ]
        ]
    },
    {
        "id": "005f2a5fc41707c5",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1500,
        "wires": [
            [
                "eeee56ac10655235"
            ]
        ]
    },
    {
        "id": "8c1764cdaedab491",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1580,
        "wires": [
            [
                "a847aed05e8bc739"
            ]
        ]
    },
    {
        "id": "f60b61d49020cdfb",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1620,
        "wires": [
            [
                "c2761334a7201162"
            ]
        ]
    },
    {
        "id": "5f2e56d47bc9db1c",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1660,
        "wires": [
            [
                "4a9835ca5cb859cd"
            ]
        ]
    },
    {
        "id": "2a93f9020a921407",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 1540,
        "wires": [
            [
                "3e9b09a15bef85e8"
            ]
        ]
    },
    {
        "id": "7d24eba2cfaac26b",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 1060,
        "y": 1400,
        "wires": []
    },
    {
        "id": "f6d92fcc20039461",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 740,
        "y": 1920,
        "wires": []
    },
    {
        "id": "f3871aabd9b6e177",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Read Me",
        "info": "### A ideia aqui é permitir dar enable ou disable à configuração.\n### Podendo desligar ou ligar a entrada em causa.",
        "x": 480,
        "y": 1600,
        "wires": []
    },
    {
        "id": "0304992cd4a89790",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "CHANGE FOLDER PATH",
        "info": "### Aqui colocar o path para a pasta correcta de configuração dos sensores em causa. (currente, tensão, rs232)\n\nNeste caso, o path da pasta /../voltage_configs/",
        "x": 490,
        "y": 1280,
        "wires": []
    },
    {
        "id": "fda54d70037c16bb",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1860,
        "wires": []
    },
    {
        "id": "399b1a4ec690f8c9",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Set to Null",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 1700,
        "wires": [
            [
                "bdc54f4e40f8a98d",
                "85555c92d6920cd7",
                "3b540d8491166c4f",
                "eeee56ac10655235",
                "3e9b09a15bef85e8",
                "a847aed05e8bc739",
                "c2761334a7201162",
                "4a9835ca5cb859cd"
            ]
        ]
    },
    {
        "id": "f5cda17aba473c7e",
        "type": "ui_dropdown",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "dd_ConfigChoice_i1",
        "label": "Saved Configurations",
        "tooltip": "Select desired (saved) sensor config.",
        "place": "",
        "group": "de718d4d4247e336",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "configChoice_i1",
        "topicType": "str",
        "className": "",
        "x": 2940,
        "y": 1380,
        "wires": [
            [
                "433be6a7cf995625",
                "9da2cff19a0f448c"
            ]
        ]
    },
    {
        "id": "575f07abed7778ca",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_RangeMin_i1",
        "label": "Range Min",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMin_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4230,
        "y": 1400,
        "wires": [
            [
                "596f2369a5c444a4"
            ]
        ]
    },
    {
        "id": "26ea8bb5c400736e",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_RangeMax_i1",
        "label": "Range Max",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMax_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4230,
        "y": 1480,
        "wires": [
            [
                "55261632cb775ee1"
            ]
        ]
    },
    {
        "id": "9481838f4e7a4226",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_Units_i1",
        "label": "Units",
        "tooltip": "(Meters, Seconds, Pascal, Bar, ...)",
        "group": "de718d4d4247e336",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "units_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4210,
        "y": 1320,
        "wires": [
            [
                "f9e02443cfbe058e"
            ]
        ]
    },
    {
        "id": "5f57390064168a30",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_AlarmMin_i1",
        "label": "Alarm Min",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMin_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4220,
        "y": 1560,
        "wires": [
            [
                "32cb18fed5b2cba0"
            ]
        ]
    },
    {
        "id": "987d30efac1960e4",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_AlarmMax_i1",
        "label": "Alarm Max",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMax_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4230,
        "y": 1640,
        "wires": [
            [
                "9f5b57e9da89d978"
            ]
        ]
    },
    {
        "id": "be2c6ee038e50b7a",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "btn_Save_i1",
        "group": "de718d4d4247e336",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save current config by the sensor name provided.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-floppy-o",
        "payload": "true",
        "payloadType": "bool",
        "topic": "btnsave_i1",
        "topicType": "msg",
        "x": 2390,
        "y": 1960,
        "wires": [
            [
                "3b8e2bedf1435711",
                "de21508cb5680cf0"
            ]
        ]
    },
    {
        "id": "427a4250dcaed5d7",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_SensorName_i1",
        "label": "Sensor Name",
        "tooltip": "Sensor Name, and subsquently config file name. No spaces allowed.",
        "group": "de718d4d4247e336",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "name_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4230,
        "y": 1240,
        "wires": [
            [
                "b3af2f989ed06217"
            ]
        ]
    },
    {
        "id": "646b3030fafb8daf",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "btn_Delete_i1",
        "group": "de718d4d4247e336",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "Delete selected configuration.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-times",
        "payload": "false",
        "payloadType": "bool",
        "topic": "delete_i1",
        "topicType": "msg",
        "x": 2380,
        "y": 1800,
        "wires": [
            [
                "2bc55f8a61e01adc",
                "de21508cb5680cf0",
                "1856b3d862befbf6"
            ]
        ]
    },
    {
        "id": "6c06383e40b6e228",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_AlarmPreMin_i1",
        "label": "Alarm PreMin",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmpreMin_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4230,
        "y": 1720,
        "wires": [
            [
                "4a030c80b810ac6d"
            ]
        ]
    },
    {
        "id": "b730c05ab4a5ce16",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_AlarmPreMax_i1",
        "label": "Alarm PreMax",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmPreMax_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4240,
        "y": 1800,
        "wires": [
            [
                "baf2c9ef680a4706"
            ]
        ]
    },
    {
        "id": "8b47358eba9ab171",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 3210,
        "y": 1960,
        "wires": [
            [
                "395d0bccd8cff3ae"
            ]
        ]
    },
    {
        "id": "68723b40022b0d31",
        "type": "file in",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2880,
        "y": 1520,
        "wires": [
            [
                "c9714b9e67157c20",
                "7e3847801029d98f"
            ]
        ]
    },
    {
        "id": "95a83f219d7f91f9",
        "type": "exec",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3210,
        "y": 1800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c12de36266644e6e",
        "type": "inject",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 2390,
        "y": 1320,
        "wires": [
            [
                "348af2cbd527aeee"
            ]
        ]
    },
    {
        "id": "348af2cbd527aeee",
        "type": "fs-file-lister",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "start": "C:\\Users\\gilvi\\Documents\\pea_virtBanc\\project_data\\sensor_configs\\current_configs",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": true,
        "depth": "0",
        "stat": false,
        "showWarnings": true,
        "x": 2680,
        "y": 1320,
        "wires": [
            [
                "f23cf8cbcc382af8",
                "eb76732fe1aac089"
            ]
        ]
    },
    {
        "id": "395d0bccd8cff3ae",
        "type": "file",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3280,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "b3af2f989ed06217",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value name_i1",
        "rules": [
            {
                "t": "set",
                "p": "name_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4240,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "f9e02443cfbe058e",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value units_i1",
        "rules": [
            {
                "t": "set",
                "p": "units_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4230,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "735428896e807908",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2830,
        "y": 2020,
        "wires": []
    },
    {
        "id": "3b8e2bedf1435711",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Get and Join Current Values",
        "func": "var name_i1 = flow.get(\"name_i1\") || \"DEFAULT_VALUE\"; \nvar units_i1 = flow.get(\"units_i1\") || \"DEFAULT UNITS\";\nvar rangeMin_i1 = flow.get(\"rangeMin_i1\") || \"0\";\nvar rangeMax_i1 = flow.get(\"rangeMax_i1\") || \"0\";\nvar alarmMin_i1 = flow.get(\"alarmMin_i1\") || \"0\";\nvar alarmMax_i1 = flow.get(\"alarmMax_i1\") || \"0\";\nvar alarmPreMin_i1= flow.get(\"alarmPreMin_i1\") || \"0\";\nvar alarmPreMax_i1 = flow.get(\"alarmPreMax_i1\") || \"0\";\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_i1,\n    \"units\": units_i1,\n    \"rangeMin\": rangeMin_i1,\n    \"rangeMax\": rangeMax_i1,\n    \"alarmMin\": alarmMin_i1,\n    \"alarmMax\": alarmMax_i1,\n    \"alarmPreMin\": alarmPreMin_i1,\n    \"alarmPreMax\": alarmPreMax_i1\n}\n\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs\\\\\" + name_i1 + \".json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1960,
        "wires": [
            [
                "8b47358eba9ab171",
                "735428896e807908"
            ]
        ]
    },
    {
        "id": "596f2369a5c444a4",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value rangeMin_i1",
        "rules": [
            {
                "t": "set",
                "p": "rangeMin_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4250,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "55261632cb775ee1",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value rangeMax_i1",
        "rules": [
            {
                "t": "set",
                "p": "rangeMax_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4250,
        "y": 1520,
        "wires": [
            []
        ]
    },
    {
        "id": "32cb18fed5b2cba0",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value AlarmMin_i1",
        "rules": [
            {
                "t": "set",
                "p": "alarmMin_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4250,
        "y": 1600,
        "wires": [
            []
        ]
    },
    {
        "id": "9f5b57e9da89d978",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value AlarmMax_i1",
        "rules": [
            {
                "t": "set",
                "p": "alarmMax_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4250,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "baf2c9ef680a4706",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value AlarmPreMax_i1",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMax_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4260,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "4a030c80b810ac6d",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value AlarmPreMin_i1",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMin_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4260,
        "y": 1760,
        "wires": [
            []
        ]
    },
    {
        "id": "433be6a7cf995625",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value ConfigChoice_i1",
        "rules": [
            {
                "t": "set",
                "p": "configChoice_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2940,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "2bc55f8a61e01adc",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Delete selected choice",
        "func": "var configChoice_i1 = flow.get(\"configChoice_i1\");\nmsg.payload = \"cd C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs && del \" + configChoice_i1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2880,
        "y": 1800,
        "wires": [
            [
                "95a83f219d7f91f9",
                "a94cac357119c8a6"
            ]
        ]
    },
    {
        "id": "9da2cff19a0f448c",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Get choice to load config file",
        "func": "var configChoice_i1 = flow.get(\"configChoice_i1\");\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs\\\\\" + configChoice_i1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3260,
        "y": 1440,
        "wires": [
            [
                "68723b40022b0d31"
            ]
        ]
    },
    {
        "id": "f23cf8cbcc382af8",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2690,
        "y": 1380,
        "wires": []
    },
    {
        "id": "eb76732fe1aac089",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Get file names and update Drop Down",
        "func": "msg.options = msg.payload\nmsg.payload = null\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2950,
        "y": 1320,
        "wires": [
            [
                "f5cda17aba473c7e"
            ]
        ]
    },
    {
        "id": "de21508cb5680cf0",
        "type": "delay",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2390,
        "y": 1880,
        "wires": [
            [
                "348af2cbd527aeee"
            ]
        ]
    },
    {
        "id": "c9714b9e67157c20",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2890,
        "y": 1580,
        "wires": []
    },
    {
        "id": "1856b3d862befbf6",
        "type": "ui_switch",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "swt_OnOff_i1",
        "label": "Off / On",
        "tooltip": "Turn on or off this sensor slot.",
        "group": "de718d4d4247e336",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "swtOnOff_i1",
        "topicType": "global",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 2660,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "7e3847801029d98f",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3070,
        "y": 1520,
        "wires": [
            [
                "850892d88de6dd97",
                "1bee9ea7c8bac4a8"
            ]
        ]
    },
    {
        "id": "850892d88de6dd97",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3090,
        "y": 1580,
        "wires": []
    },
    {
        "id": "86dee1d8183faab2",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "CHANGE FILE NAME PATH",
        "info": "Aqui mudar o comando de modo a funcionar no IOT.",
        "x": 2880,
        "y": 1760,
        "wires": []
    },
    {
        "id": "9ec23e5a8619a9d1",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "README - Notes for the directory structure in IOT2040",
        "info": "# Criar directório onde serão guardados os config files e posteriormente acedidos.\n\n## Estrutura do Directório:\n\n---\n\n### project_Data/\n### ├─ sensor_Configs/\n### │  ├─ acquired_Data/\n### │  │  ├─ sensor1_Data.json\n### │  ├─ adicional_NotificationSettings/\n### │  │  ├─ extra_Noti_1.json\n### │  ├─ current_Configs/\n### │  │  ├─ config1_Current.json\n### │  ├─ rs232_Configs/\n### │  │  ├─ config1_rs232.json\n### │  ├─ voltage_Configs/\n### │  │  ├─ config1_Voltage.json\n### \n\n---\n",
        "x": 3420,
        "y": 1160,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "fe11f4bb102e8889",
        "type": "switch",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Route Values",
        "property": "parts",
        "propertyType": "msg",
        "rules": [
            {
                "t": "index",
                "v": "0",
                "vt": "num",
                "v2": "0",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "1",
                "vt": "num",
                "v2": "1",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "2",
                "vt": "num",
                "v2": "2",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "3",
                "vt": "num",
                "v2": "3",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "4",
                "vt": "num",
                "v2": "4",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "5",
                "vt": "num",
                "v2": "5",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "6",
                "vt": "num",
                "v2": "6",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "7",
                "vt": "num",
                "v2": "7",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 8,
        "x": 3530,
        "y": 1520,
        "wires": [
            [
                "427a4250dcaed5d7"
            ],
            [
                "9481838f4e7a4226"
            ],
            [
                "f1430b7e18b2f59d"
            ],
            [
                "b0179e10de161077"
            ],
            [
                "0a08bf422f67cf9b"
            ],
            [
                "56f096a94f084e41"
            ],
            [
                "2623cf8234119e02"
            ],
            [
                "3345734ba2599ac7"
            ]
        ]
    },
    {
        "id": "1bee9ea7c8bac4a8",
        "type": "split",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "splitConfigFile",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 3300,
        "y": 1520,
        "wires": [
            [
                "fe11f4bb102e8889",
                "9d8339ac5645cfdc"
            ]
        ]
    },
    {
        "id": "9d8339ac5645cfdc",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "parts",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3280,
        "y": 1580,
        "wires": []
    },
    {
        "id": "f1430b7e18b2f59d",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 1460,
        "wires": [
            [
                "575f07abed7778ca"
            ]
        ]
    },
    {
        "id": "b0179e10de161077",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 1500,
        "wires": [
            [
                "26ea8bb5c400736e"
            ]
        ]
    },
    {
        "id": "56f096a94f084e41",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 1580,
        "wires": [
            [
                "987d30efac1960e4"
            ]
        ]
    },
    {
        "id": "2623cf8234119e02",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 1620,
        "wires": [
            [
                "6c06383e40b6e228"
            ]
        ]
    },
    {
        "id": "3345734ba2599ac7",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 1660,
        "wires": [
            [
                "b730c05ab4a5ce16"
            ]
        ]
    },
    {
        "id": "0a08bf422f67cf9b",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3860,
        "y": 1540,
        "wires": [
            [
                "5f57390064168a30"
            ]
        ]
    },
    {
        "id": "cf3cfd88132d7650",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 3260,
        "y": 1400,
        "wires": []
    },
    {
        "id": "a1cf0d3f3d794e45",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 2880,
        "y": 1920,
        "wires": []
    },
    {
        "id": "cabc5a960e42b767",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Read Me",
        "info": "### A ideia aqui é permitir dar enable ou disable à configuração.\n### Podendo desligar ou ligar a entrada em causa.",
        "x": 2640,
        "y": 1580,
        "wires": []
    },
    {
        "id": "5609dbba38c12861",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "CHANGE FOLDER PATH",
        "info": "### Aqui colocar o path para a pasta correcta de configuração dos sensores em causa. (currente, tensão, rs232)\n\nNeste caso, o path da pasta /../voltage_configs/",
        "x": 2690,
        "y": 1280,
        "wires": []
    },
    {
        "id": "a94cac357119c8a6",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2850,
        "y": 1860,
        "wires": []
    },
    {
        "id": "af9103bd19d5a22e",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "btn_refresh_i1",
        "group": "de718d4d4247e336",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "Refresh",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-eraser",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 2380,
        "y": 1700,
        "wires": [
            [
                "cf76df96e95b6382",
                "1856b3d862befbf6",
                "348af2cbd527aeee"
            ]
        ]
    },
    {
        "id": "cf76df96e95b6382",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Set to Null",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3870,
        "y": 1700,
        "wires": [
            [
                "427a4250dcaed5d7",
                "9481838f4e7a4226",
                "575f07abed7778ca",
                "26ea8bb5c400736e",
                "5f57390064168a30",
                "987d30efac1960e4",
                "6c06383e40b6e228",
                "b730c05ab4a5ce16"
            ]
        ]
    },
    {
        "id": "4339c7c551c942c0",
        "type": "ui_dropdown",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "dd_ConfigChoice_u0",
        "label": "Saved Configurations",
        "tooltip": "Select desired (saved) sensor config.",
        "place": "",
        "group": "a6e009ae9c645b20",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "configChoice_u0",
        "topicType": "str",
        "className": "",
        "x": 720,
        "y": 380,
        "wires": [
            [
                "e76974ed280df15b",
                "55e42bb11575c395"
            ]
        ]
    },
    {
        "id": "d2e7db714c3f1a68",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_RangeMin_u0",
        "label": "Range Min",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMin_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2030,
        "y": 400,
        "wires": [
            [
                "ce32e2846ac1b4c3"
            ]
        ]
    },
    {
        "id": "2a4e57fb46bf8851",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_RangeMax_u0",
        "label": "Range Max",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMax_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2030,
        "y": 480,
        "wires": [
            [
                "0a8e8339bee1fa9f"
            ]
        ]
    },
    {
        "id": "bdbafd7015c19fb4",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_Units_u0",
        "label": "Units",
        "tooltip": "(Meters, Seconds, Pascal, Bar, ...)",
        "group": "a6e009ae9c645b20",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "units_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2010,
        "y": 320,
        "wires": [
            [
                "ad051210c289de86"
            ]
        ]
    },
    {
        "id": "9fc935ddfdaed7c0",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_AlarmMin_u0",
        "label": "Alarm Min",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMin_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2030,
        "y": 560,
        "wires": [
            [
                "549811fa4ad7aad2"
            ]
        ]
    },
    {
        "id": "c5c415eeb4e69c82",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_AlarmMax_u0",
        "label": "Alarm Max",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMax_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2030,
        "y": 640,
        "wires": [
            [
                "2d91db443a241862"
            ]
        ]
    },
    {
        "id": "4e973c18cd5bfea3",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "btn_Save_u0",
        "group": "a6e009ae9c645b20",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save current config by the sensor name provided.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-floppy-o",
        "payload": "true",
        "payloadType": "bool",
        "topic": "btnsave_u0",
        "topicType": "msg",
        "x": 190,
        "y": 960,
        "wires": [
            [
                "bdd4ca45e5260524",
                "93008b6a3c974d8e"
            ]
        ]
    },
    {
        "id": "5158abdf6515513a",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_SensorName_u0",
        "label": "Sensor Name",
        "tooltip": "Sensor Name, and subsquently config file name. No spaces allowed.",
        "group": "a6e009ae9c645b20",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "name_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2040,
        "y": 240,
        "wires": [
            [
                "6285d13b37527e6a"
            ]
        ]
    },
    {
        "id": "c08dac60676ba926",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "btn_Delete_u0",
        "group": "a6e009ae9c645b20",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "Delete selected configuration.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-times",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 800,
        "wires": [
            [
                "2b0326079215ffef",
                "93008b6a3c974d8e",
                "8c764812525cd341",
                "cac819cb3b50633d"
            ]
        ]
    },
    {
        "id": "76895a4e9689d810",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_AlarmPreMin_u0",
        "label": "Alarm PreMin",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmpreMin_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2040,
        "y": 720,
        "wires": [
            [
                "457a642cdaa36e6a"
            ]
        ]
    },
    {
        "id": "7b28736e0c44b1f9",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_AlarmPreMax_u0",
        "label": "Alarm PreMax",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmPreMax_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2040,
        "y": 800,
        "wires": [
            [
                "46876e5d1d4f8178"
            ]
        ]
    },
    {
        "id": "2a8331ac9248d8ab",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 1090,
        "y": 960,
        "wires": [
            [
                "0546084492670fdf"
            ]
        ]
    },
    {
        "id": "f034cf1008adbdd5",
        "type": "file in",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 680,
        "y": 520,
        "wires": [
            [
                "b410eb6bf3568d25",
                "51b6660577ebe8bb"
            ]
        ]
    },
    {
        "id": "457f450e07a4e7d8",
        "type": "exec",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1090,
        "y": 800,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "36092be52284433d",
        "type": "inject",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "a44088ab6095d7bf"
            ]
        ]
    },
    {
        "id": "a44088ab6095d7bf",
        "type": "fs-file-lister",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "start": "C:\\Users\\gilvi\\Documents\\pea_virtBanc\\project_data\\sensor_configs\\voltage_configs",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": true,
        "depth": "0",
        "stat": false,
        "showWarnings": true,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "650c5342d8b5729d",
                "4d61a860599b96ab"
            ]
        ]
    },
    {
        "id": "0546084492670fdf",
        "type": "file",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1160,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "6285d13b37527e6a",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value name_u0",
        "rules": [
            {
                "t": "set",
                "p": "name_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ad051210c289de86",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value units_u0",
        "rules": [
            {
                "t": "set",
                "p": "units_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2040,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "21806e43d483c0e1",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1020,
        "wires": []
    },
    {
        "id": "bdd4ca45e5260524",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Get and Join Current Values",
        "func": "var name_u0 = flow.get(\"name_u0\") || \"DEFAULT_VALUE\"; \nvar units_u0 = flow.get(\"units_u0\") || \"DEFAULT UNITS\";\nvar rangeMin_u0 = flow.get(\"rangeMin_u0\") || \"0\";\nvar rangeMax_u0 = flow.get(\"rangeMax_u0\") || \"0\";\nvar alarmMin_u0 = flow.get(\"alarmMin_u0\") || \"0\";\nvar alarmMax_u0 = flow.get(\"alarmMax_u0\") || \"0\";\nvar alarmPreMin_u0 = flow.get(\"alarmPreMin_u0\") || \"0\";\nvar alarmPreMax_u0 = flow.get(\"alarmPreMax_u0\") || \"0\";\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_u0,\n    \"units\": units_u0,\n    \"rangeMin\": rangeMin_u0,\n    \"rangeMax\": rangeMax_u0,\n    \"alarmMin\": alarmMin_u0,\n    \"alarmMax\": alarmMax_u0,\n    \"alarmPreMin\": alarmPreMin_u0,\n    \"alarmPreMax\": alarmPreMax_u0\n}\n\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs\\\\\" + name_u0 + \".json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 960,
        "wires": [
            [
                "2a8331ac9248d8ab",
                "21806e43d483c0e1"
            ]
        ]
    },
    {
        "id": "ce32e2846ac1b4c3",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value rangeMin_u0",
        "rules": [
            {
                "t": "set",
                "p": "rangeMin_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0a8e8339bee1fa9f",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value rangeMax_u0",
        "rules": [
            {
                "t": "set",
                "p": "rangeMax_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "549811fa4ad7aad2",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value AlarmMin_u0",
        "rules": [
            {
                "t": "set",
                "p": "alarmMin_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "2d91db443a241862",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value AlarmMax_u0",
        "rules": [
            {
                "t": "set",
                "p": "alarmMax_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "46876e5d1d4f8178",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value AlarmPreMax_u0",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMax_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2060,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "457a642cdaa36e6a",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value AlarmPreMin_u0",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMin_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2060,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e76974ed280df15b",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value ConfigChoice_u0",
        "rules": [
            {
                "t": "set",
                "p": "configChoice_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 440,
        "wires": [
            [
                "a0779933654969d0"
            ]
        ]
    },
    {
        "id": "2b0326079215ffef",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Delete selected choice",
        "func": "var configChoice_u0 = flow.get(\"configChoice_u0\");\nmsg.payload = \"cd C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs && del \" + configChoice_u0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 800,
        "wires": [
            [
                "457f450e07a4e7d8",
                "f281ccea3f28bb0f"
            ]
        ]
    },
    {
        "id": "a0779933654969d0",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Get choice to load config file",
        "func": "var configChoice_u0 = flow.get(\"configChoice_u0\");\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs\\\\\" + configChoice_u0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 440,
        "wires": [
            [
                "f034cf1008adbdd5"
            ]
        ]
    },
    {
        "id": "650c5342d8b5729d",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Get file names and update Drop Down",
        "func": "msg.options = msg.payload\nmsg.payload = null\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 320,
        "wires": [
            [
                "4339c7c551c942c0"
            ]
        ]
    },
    {
        "id": "93008b6a3c974d8e",
        "type": "delay",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 170,
        "y": 880,
        "wires": [
            [
                "a44088ab6095d7bf"
            ]
        ]
    },
    {
        "id": "b410eb6bf3568d25",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 580,
        "wires": []
    },
    {
        "id": "cac819cb3b50633d",
        "type": "ui_switch",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "swt_OnOff_u0",
        "label": "Off / On",
        "tooltip": "Turn on or off this sensor slot.",
        "group": "a6e009ae9c645b20",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "swtOnOff_u0",
        "topicType": "global",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 480,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "51b6660577ebe8bb",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 870,
        "y": 520,
        "wires": [
            [
                "553fc124fb9d69c7",
                "7905487f76d7a7a8"
            ]
        ]
    },
    {
        "id": "553fc124fb9d69c7",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 580,
        "wires": []
    },
    {
        "id": "baf24a5881f8ca08",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "CHANGE FILE NAME PATH",
        "info": "Aqui mudar o comando de modo a funcionar no IOT.",
        "x": 740,
        "y": 760,
        "wires": []
    },
    {
        "id": "902de42013a6b30f",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "README - Notes for the directory structure in IOT2040",
        "info": "# Criar directório onde serão guardados os config files e posteriormente acedidos.\n\n## Estrutura do Directório:\n\n---\n\n### project_Data/\n### ├─ sensor_Configs/\n### │  ├─ acquired_Data/\n### │  │  ├─ sensor1_Data.json\n### │  ├─ adicional_NotificationSettings/\n### │  │  ├─ extra_Noti_1.json\n### │  ├─ current_Configs/\n### │  │  ├─ config1_Current.json\n### │  ├─ rs232_Configs/\n### │  │  ├─ config1_rs232.json\n### │  ├─ voltage_Configs/\n### │  │  ├─ config1_Voltage.json\n### \n\n---\n# NO WINDOWS TEMOS DE ESCREVER DOUBLE SLASHS ('\\'), NO LINUX É PRECISO APENAS UM\n### EX:\nWindows: msg.payload = \"C:\\\\Users\\\\user1\\\\Documents\"\nLinux:   msg.payload = \"C:\\Users\\user\\Documents\"",
        "x": 1080,
        "y": 160,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "77033a07bb701f26",
        "type": "switch",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Route Values",
        "property": "parts",
        "propertyType": "msg",
        "rules": [
            {
                "t": "index",
                "v": "0",
                "vt": "num",
                "v2": "0",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "1",
                "vt": "num",
                "v2": "1",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "2",
                "vt": "num",
                "v2": "2",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "3",
                "vt": "num",
                "v2": "3",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "4",
                "vt": "num",
                "v2": "4",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "5",
                "vt": "num",
                "v2": "5",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "6",
                "vt": "num",
                "v2": "6",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "7",
                "vt": "num",
                "v2": "7",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 8,
        "x": 1330,
        "y": 520,
        "wires": [
            [
                "5158abdf6515513a"
            ],
            [
                "bdbafd7015c19fb4"
            ],
            [
                "fa8e3cee209a4ff3"
            ],
            [
                "6e368083d5976de2"
            ],
            [
                "55ad6b670ed52316"
            ],
            [
                "e2440dfef7c9f0c9"
            ],
            [
                "ecd5704382a4805f"
            ],
            [
                "703cb321794e858e"
            ]
        ]
    },
    {
        "id": "7905487f76d7a7a8",
        "type": "split",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "splitConfigFile",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1100,
        "y": 520,
        "wires": [
            [
                "77033a07bb701f26",
                "8a62664ab5e41264",
                "15815b4108983d9d"
            ]
        ]
    },
    {
        "id": "8a62664ab5e41264",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "parts",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 580,
        "wires": []
    },
    {
        "id": "fa8e3cee209a4ff3",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 460,
        "wires": [
            [
                "d2e7db714c3f1a68"
            ]
        ]
    },
    {
        "id": "6e368083d5976de2",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 500,
        "wires": [
            [
                "2a4e57fb46bf8851"
            ]
        ]
    },
    {
        "id": "e2440dfef7c9f0c9",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 580,
        "wires": [
            [
                "c5c415eeb4e69c82"
            ]
        ]
    },
    {
        "id": "ecd5704382a4805f",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 620,
        "wires": [
            [
                "76895a4e9689d810"
            ]
        ]
    },
    {
        "id": "703cb321794e858e",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 660,
        "wires": [
            [
                "7b28736e0c44b1f9"
            ]
        ]
    },
    {
        "id": "55ad6b670ed52316",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1660,
        "y": 540,
        "wires": [
            [
                "9fc935ddfdaed7c0"
            ]
        ]
    },
    {
        "id": "28e7eefc0dad5a4f",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 1060,
        "y": 400,
        "wires": []
    },
    {
        "id": "03701cacd7c5f8ba",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 740,
        "y": 920,
        "wires": []
    },
    {
        "id": "b9fe3ec2d34025a4",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Read Me",
        "info": "### A ideia aqui é permitir dar enable ou disable à configuração.\n### Podendo desligar ou ligar a entrada em causa.",
        "x": 460,
        "y": 620,
        "wires": []
    },
    {
        "id": "06f111387fa8aa32",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "CHANGE FOLDER PATH",
        "info": "### Aqui colocar o path para a pasta correcta de configuração dos sensores em causa. (currente, tensão, rs232)\n\nNeste caso, o path da pasta /../voltage_configs/",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "f281ccea3f28bb0f",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 860,
        "wires": []
    },
    {
        "id": "8c764812525cd341",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Set to Null",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1670,
        "y": 700,
        "wires": [
            [
                "5158abdf6515513a",
                "bdbafd7015c19fb4",
                "d2e7db714c3f1a68",
                "2a4e57fb46bf8851",
                "9fc935ddfdaed7c0",
                "c5c415eeb4e69c82",
                "76895a4e9689d810",
                "7b28736e0c44b1f9"
            ]
        ]
    },
    {
        "id": "15815b4108983d9d",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 620,
        "wires": []
    },
    {
        "id": "060f466f5f40357e",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "btn_refresh_u0",
        "group": "a6e009ae9c645b20",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "8c764812525cd341",
                "a44088ab6095d7bf",
                "cac819cb3b50633d"
            ]
        ]
    },
    {
        "id": "4d61a860599b96ab",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 380,
        "wires": []
    },
    {
        "id": "55e42bb11575c395",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "fd494df53a1a51c7",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "btn_refresh_u1",
        "group": "db8bdb881220f945",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "Refresh.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "false",
        "payloadType": "bool",
        "topic": "refresh_u1",
        "topicType": "msg",
        "x": 180,
        "y": 1700,
        "wires": [
            [
                "88a76ea254209bfe",
                "399b1a4ec690f8c9",
                "3677674869b64dcc"
            ]
        ]
    },
    {
        "id": "5d26f4152572f091",
        "type": "comment",
        "z": "65e22a06500efde0",
        "name": "Gil",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "6f563fcf74fbb109",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1110,
        "y": 1340,
        "wires": []
    },
    {
        "id": "8121d3d6263b8a28",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3290,
        "y": 620,
        "wires": []
    },
    {
        "id": "1f146ba9309e1fb7",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3310,
        "y": 340,
        "wires": []
    },
    {
        "id": "20dc77d9195d5646",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3270,
        "y": 1320,
        "wires": []
    },
    {
        "id": "ef57f0ba1f43d8ff",
        "type": "ui_spacer",
        "z": "65e22a06500efde0",
        "name": "spacer",
        "group": "a6e009ae9c645b20",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "6daa333e79107aaf",
        "type": "ui_spacer",
        "z": "65e22a06500efde0",
        "name": "spacer",
        "group": "7858837884bebd2a",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "d06418327969d02b",
        "type": "ui_spacer",
        "z": "65e22a06500efde0",
        "name": "spacer",
        "group": "db8bdb881220f945",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "3fdf0db23c8d2094",
        "type": "ui_spacer",
        "z": "65e22a06500efde0",
        "name": "spacer",
        "group": "de718d4d4247e336",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "7858837884bebd2a",
        "type": "ui_group",
        "name": "i0 (Current)",
        "tab": "98faacdc975d01c5",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db8bdb881220f945",
        "type": "ui_group",
        "name": "u1 (Voltage)",
        "tab": "98faacdc975d01c5",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de718d4d4247e336",
        "type": "ui_group",
        "name": "i1 (Current)",
        "tab": "98faacdc975d01c5",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6e009ae9c645b20",
        "type": "ui_group",
        "name": "u0 (Voltage)",
        "tab": "98faacdc975d01c5",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "98faacdc975d01c5",
        "type": "ui_tab",
        "name": "Analog Config",
        "icon": "fa-sliders",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]