Node-Red Flows/dashboard_flows.json
[
    {
        "id": "69acb13e1ca97d6e",
        "type": "tab",
        "label": "Testes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "65e22a06500efde0",
        "type": "tab",
        "label": "DashBoard - Analog Config",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f7c08926646476c",
        "type": "tab",
        "label": "Dashboard - RS232/485 Config",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dbd94cb91876550c",
        "type": "group",
        "z": "65e22a06500efde0",
        "name": "config_u0",
        "style": {
            "stroke": "#0070c0",
            "label": true,
            "fill": "#bfdbef",
            "fill-opacity": "0.5",
            "color": "#000000"
        },
        "nodes": [
            "4339c7c551c942c0",
            "d2e7db714c3f1a68",
            "2a4e57fb46bf8851",
            "bdbafd7015c19fb4",
            "9fc935ddfdaed7c0",
            "c5c415eeb4e69c82",
            "4e973c18cd5bfea3",
            "5158abdf6515513a",
            "c08dac60676ba926",
            "76895a4e9689d810",
            "7b28736e0c44b1f9",
            "2a8331ac9248d8ab",
            "f034cf1008adbdd5",
            "457f450e07a4e7d8",
            "36092be52284433d",
            "a44088ab6095d7bf",
            "0546084492670fdf",
            "6285d13b37527e6a",
            "ad051210c289de86",
            "21806e43d483c0e1",
            "bdd4ca45e5260524",
            "ce32e2846ac1b4c3",
            "0a8e8339bee1fa9f",
            "549811fa4ad7aad2",
            "2d91db443a241862",
            "46876e5d1d4f8178",
            "457a642cdaa36e6a",
            "e76974ed280df15b",
            "2b0326079215ffef",
            "a0779933654969d0",
            "650c5342d8b5729d",
            "93008b6a3c974d8e",
            "b410eb6bf3568d25",
            "cac819cb3b50633d",
            "51b6660577ebe8bb",
            "553fc124fb9d69c7",
            "baf24a5881f8ca08",
            "902de42013a6b30f",
            "77033a07bb701f26",
            "7905487f76d7a7a8",
            "8a62664ab5e41264",
            "fa8e3cee209a4ff3",
            "6e368083d5976de2",
            "e2440dfef7c9f0c9",
            "ecd5704382a4805f",
            "703cb321794e858e",
            "55ad6b670ed52316",
            "28e7eefc0dad5a4f",
            "03701cacd7c5f8ba",
            "b9fe3ec2d34025a4",
            "06f111387fa8aa32",
            "f281ccea3f28bb0f",
            "8c764812525cd341",
            "060f466f5f40357e"
        ],
        "x": 14,
        "y": 39,
        "w": 2152,
        "h": 1062
    },
    {
        "id": "f88f21995298ca7f",
        "type": "group",
        "z": "65e22a06500efde0",
        "name": "config_i0",
        "style": {
            "stroke": "#ffff00",
            "label": true,
            "fill": "#ffffbf",
            "fill-opacity": "0.5",
            "color": "#000000"
        },
        "nodes": [
            "390ea45d71cdd4ce",
            "6ea5c550fdfec21f",
            "2233a35ec4669aaa",
            "3336f08765d4cc6b",
            "b31ceb355e027ffe",
            "a2f32b2161c118aa",
            "0f986a760ad1cdf7",
            "d48f6ddcc9608883",
            "fce5e0a11a12b5c5",
            "54553e4b25d62c58",
            "5a168b2536f5d3d3",
            "325781ac2fe53948",
            "91127f8487a65c9e",
            "3883601112826930",
            "673671f17c9d2159",
            "d830fb4ed00eb2eb",
            "2ee02098f80454ad",
            "916e207f4d91bbc3",
            "cffc9c6c11822a04",
            "2a990996a97733b9",
            "5474d25375850746",
            "ed0b9a81ace9a789",
            "02d4aec04d4f013b",
            "9e93e0c356a9a10f",
            "be3fc51803dc5a72",
            "25cc11085279a2bd",
            "5fa9a20163993467",
            "594dceb606dd5279",
            "ae5ce9f3e53d5f17",
            "e7641c5e8e036d4c",
            "e07509a8bfc4fc1c",
            "cc15ca43b1c402ec",
            "4c5227a317f92c6e",
            "f93b8957e0f83b72",
            "cef8ef4e9f6661c2",
            "392af83c845ef17b",
            "f781ed8c2998aa03",
            "d2d0f06ced71c924",
            "c76d0fba4be7ea35",
            "0621d8c03df52343",
            "cd327b65f0bd3a65",
            "517fed71bb409534",
            "e62595917f69cfef",
            "8cfad0e5e071c81d",
            "175deafe55016bec",
            "ff301bfee4038ffe",
            "846a98445acbbd43",
            "c812eedaf11839be",
            "10e37b0945879fdb",
            "eb55112eca25af9c",
            "094971358f2c4c41",
            "c7e25538bfbea84b",
            "6d5c776218b2b44c",
            "b4c28e487b704c92",
            "97c9527d2485e2ad"
        ],
        "x": 2334,
        "y": 119,
        "w": 2152,
        "h": 1042
    },
    {
        "id": "a3fbd1f805562e64",
        "type": "group",
        "z": "65e22a06500efde0",
        "name": "config_u1",
        "style": {
            "stroke": "#3f93cf",
            "label": true,
            "fill": "#7fb7df",
            "fill-opacity": "0.5",
            "color": "#000000"
        },
        "nodes": [
            "85527a0eae8b14d3",
            "3b540d8491166c4f",
            "eeee56ac10655235",
            "85555c92d6920cd7",
            "3e9b09a15bef85e8",
            "a847aed05e8bc739",
            "b85658982885dca7",
            "bdc54f4e40f8a98d",
            "0e1f434d3905cfe6",
            "c2761334a7201162",
            "4a9835ca5cb859cd",
            "6e6c0dc9c29263ce",
            "3235ef9ee9900fa8",
            "910df37905499680",
            "4f96836b9a59366f",
            "88a76ea254209bfe",
            "823b34f62aa90234",
            "d942c5b1e5d7037e",
            "5d7ea843c6a147de",
            "00288c1babada7c0",
            "bbbe25d93b099471",
            "15a7c8c41a58e7f0",
            "635eafd1736ab9ad",
            "fa531c0082db47a8",
            "23f6883c8359ae1c",
            "f69d31c34e951a55",
            "ea1d4614560f0ab6",
            "50c9ddfdd2bb2409",
            "d780e60bcd514fb2",
            "24a3b80fb6fe3bb7",
            "d1221555ae806d84",
            "acbcd63b07b4b299",
            "d7a83e1438b47f4f",
            "b4ec45e58a0c814b",
            "3677674869b64dcc",
            "ba6267d811d3769e",
            "b2b74feb1145de02",
            "3a0c9b0abd8b404b",
            "1dee900f015384d9",
            "f9e31f8498efb5ed",
            "6e60f71c4ec3ba7a",
            "4fb50a62764534f6",
            "3c0101ea0112ecca",
            "005f2a5fc41707c5",
            "8c1764cdaedab491",
            "f60b61d49020cdfb",
            "5f2e56d47bc9db1c",
            "2a93f9020a921407",
            "7d24eba2cfaac26b",
            "f6d92fcc20039461",
            "f3871aabd9b6e177",
            "0304992cd4a89790",
            "fda54d70037c16bb",
            "afa5bda3758b02e4",
            "399b1a4ec690f8c9"
        ],
        "x": 114,
        "y": 1219,
        "w": 2152,
        "h": 1042
    },
    {
        "id": "354638edd0519813",
        "type": "group",
        "z": "65e22a06500efde0",
        "name": "config_i1",
        "style": {
            "stroke": "#ffff00",
            "label": true,
            "fill": "#ffff7f",
            "fill-opacity": "0.5",
            "color": "#000000"
        },
        "nodes": [
            "f5cda17aba473c7e",
            "575f07abed7778ca",
            "26ea8bb5c400736e",
            "9481838f4e7a4226",
            "5f57390064168a30",
            "987d30efac1960e4",
            "be2c6ee038e50b7a",
            "427a4250dcaed5d7",
            "646b3030fafb8daf",
            "6c06383e40b6e228",
            "b730c05ab4a5ce16",
            "8b47358eba9ab171",
            "68723b40022b0d31",
            "95a83f219d7f91f9",
            "c12de36266644e6e",
            "348af2cbd527aeee",
            "395d0bccd8cff3ae",
            "b3af2f989ed06217",
            "f9e02443cfbe058e",
            "735428896e807908",
            "3b8e2bedf1435711",
            "596f2369a5c444a4",
            "55261632cb775ee1",
            "32cb18fed5b2cba0",
            "9f5b57e9da89d978",
            "baf2c9ef680a4706",
            "4a030c80b810ac6d",
            "433be6a7cf995625",
            "2bc55f8a61e01adc",
            "9da2cff19a0f448c",
            "f23cf8cbcc382af8",
            "eb76732fe1aac089",
            "de21508cb5680cf0",
            "c9714b9e67157c20",
            "1856b3d862befbf6",
            "7e3847801029d98f",
            "850892d88de6dd97",
            "86dee1d8183faab2",
            "9ec23e5a8619a9d1",
            "fe11f4bb102e8889",
            "1bee9ea7c8bac4a8",
            "9d8339ac5645cfdc",
            "f1430b7e18b2f59d",
            "b0179e10de161077",
            "56f096a94f084e41",
            "2623cf8234119e02",
            "3345734ba2599ac7",
            "0a08bf422f67cf9b",
            "cf3cfd88132d7650",
            "a1cf0d3f3d794e45",
            "cabc5a960e42b767",
            "5609dbba38c12861",
            "a94cac357119c8a6",
            "af9103bd19d5a22e",
            "cf76df96e95b6382"
        ],
        "x": 2334,
        "y": 1219,
        "w": 2152,
        "h": 1042
    },
    {
        "id": "2b474fe3b2fef345",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Virtual Bench for Industrial Equipment Diagnostics",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 44,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 5,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fde70368fd6754fe",
        "type": "ui_tab",
        "name": "Main Page",
        "icon": "home",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "98faacdc975d01c5",
        "type": "ui_tab",
        "name": "Analog Config",
        "icon": "fa-sliders",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c7f59de49c7a8309",
        "type": "ui_group",
        "name": "Analog u0",
        "tab": "fde70368fd6754fe",
        "order": 1,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6e009ae9c645b20",
        "type": "ui_group",
        "name": "u0 (Voltage)",
        "tab": "98faacdc975d01c5",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a04bf66944414959",
        "type": "ui_group",
        "name": "RS232/485 - 1",
        "tab": "fde70368fd6754fe",
        "order": 5,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "fe65ce7f33b906c7",
        "type": "ui_tab",
        "name": "RS232/485 Config",
        "icon": "fa-sliders",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "57e75abf8bb40e38",
        "type": "ui_group",
        "name": "RS232/485 - COM x30",
        "tab": "fe65ce7f33b906c7",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7e70887fe171a80f",
        "type": "ui_tab",
        "name": "Notifications (Alarms)",
        "icon": "fa-bell",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7c608bfb584e1fe1",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "7e70887fe171a80f",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "1398151bd47d6f38",
        "type": "ui_group",
        "name": "Analog i0",
        "tab": "fde70368fd6754fe",
        "order": 2,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b8b32a4e377a25e5",
        "type": "ui_group",
        "name": "Analog u1",
        "tab": "fde70368fd6754fe",
        "order": 3,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a3af07db5ba3630b",
        "type": "ui_group",
        "name": "Analog i1",
        "tab": "fde70368fd6754fe",
        "order": 4,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7f096fb6d5e34d45",
        "type": "ui_group",
        "name": "RS232/485 - 2",
        "tab": "fde70368fd6754fe",
        "order": 6,
        "disp": true,
        "width": 12,
        "collapse": false,
        "className": ""
    },
    {
        "id": "7858837884bebd2a",
        "type": "ui_group",
        "name": "i0 (Current)",
        "tab": "98faacdc975d01c5",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db8bdb881220f945",
        "type": "ui_group",
        "name": "u1 (Voltage)",
        "tab": "98faacdc975d01c5",
        "order": 3,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "de718d4d4247e336",
        "type": "ui_group",
        "name": "i1 (Current)",
        "tab": "98faacdc975d01c5",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f161c84d8b4b8b8b",
        "type": "ui_group",
        "name": "RS232/485 - COM x31",
        "tab": "fe65ce7f33b906c7",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4b6ae5d997c3c49c",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "57e75abf8bb40e38",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "a279491f81436e63",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "57e75abf8bb40e38",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "25abef7673e42b27",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "57e75abf8bb40e38",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "f8a3d2ce2b6742d9",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "57e75abf8bb40e38",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "fcc61c7d1cc21b61",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "57e75abf8bb40e38",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "3bd290d32dafbab1",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "57e75abf8bb40e38",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "38cf33b1a3d2b94f",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "57e75abf8bb40e38",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "79e8aa63700927b1",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "f161c84d8b4b8b8b",
        "order": 4,
        "width": 3,
        "height": 1
    },
    {
        "id": "138d2c7ba12746bd",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "f161c84d8b4b8b8b",
        "order": 7,
        "width": 3,
        "height": 1
    },
    {
        "id": "2999e610f4addc0a",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "f161c84d8b4b8b8b",
        "order": 10,
        "width": 3,
        "height": 1
    },
    {
        "id": "b9bf8538c64564f2",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "f161c84d8b4b8b8b",
        "order": 13,
        "width": 6,
        "height": 1
    },
    {
        "id": "f908c31a5f454ef0",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "f161c84d8b4b8b8b",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "f3f9691650fc66fd",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "f161c84d8b4b8b8b",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "4131a9826c402c98",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "f161c84d8b4b8b8b",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "f19b54d8ba0f5bef",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "c7f59de49c7a8309",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "9234f8865ce09ed6",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "c7f59de49c7a8309",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "f3aec7956440a0bf",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "c7f59de49c7a8309",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "e617e1f7c25a40c8",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "c7f59de49c7a8309",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "32f5d83a49e11e69",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "1398151bd47d6f38",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "b2f710ab89ffa27b",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "1398151bd47d6f38",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "58d1be4af44ef239",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "1398151bd47d6f38",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "f380939cf6879ec6",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "1398151bd47d6f38",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "2962fa8779cdb5c7",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "b8b32a4e377a25e5",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "4c9337d194a895d5",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "b8b32a4e377a25e5",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "35e2e79de49da061",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "b8b32a4e377a25e5",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "e39007cef214ad2d",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "b8b32a4e377a25e5",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "809e93105f05d6b4",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "a3af07db5ba3630b",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "de2dab112fe4bb0c",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "a3af07db5ba3630b",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "2dceaff7a4438239",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "a3af07db5ba3630b",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "8ef41f41206fcef1",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "a3af07db5ba3630b",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "1043e2cbc11d361f",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "a04bf66944414959",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "e48db79fc16db891",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "a04bf66944414959",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "da0c626ab4c228dc",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "a04bf66944414959",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "c8fc4017b10a9f3f",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "a04bf66944414959",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "233d5d824f9063f9",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "7f096fb6d5e34d45",
        "order": 1,
        "width": 12,
        "height": 1
    },
    {
        "id": "5fca3c0726917bf2",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "7f096fb6d5e34d45",
        "order": 2,
        "width": 12,
        "height": 1
    },
    {
        "id": "151f74c23a21aab7",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "7f096fb6d5e34d45",
        "order": 3,
        "width": 12,
        "height": 1
    },
    {
        "id": "54d43a45b2a645ca",
        "type": "ui_spacer",
        "z": "1f7c08926646476c",
        "name": "spacer",
        "group": "7f096fb6d5e34d45",
        "order": 4,
        "width": 12,
        "height": 1
    },
    {
        "id": "a312bb8e.67b4",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard"
    },
    {
        "id": "513054a246b101ac",
        "type": "ui_spacer",
        "z": "65e22a06500efde0",
        "name": "spacer",
        "group": "a6e009ae9c645b20",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "8bd7a1d3adddc001",
        "type": "ui_spacer",
        "z": "65e22a06500efde0",
        "name": "spacer",
        "group": "7858837884bebd2a",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "a119a3dac7abb42e",
        "type": "ui_spacer",
        "z": "65e22a06500efde0",
        "name": "spacer",
        "group": "db8bdb881220f945",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "8acf31c0df3b03df",
        "type": "ui_spacer",
        "z": "65e22a06500efde0",
        "name": "spacer",
        "group": "de718d4d4247e336",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "d3d14696b1288f9f",
        "type": "ui_button",
        "z": "69acb13e1ca97d6e",
        "name": "",
        "group": "1398151bd47d6f38",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d56f699dc0b6bc05",
        "type": "ui_button",
        "z": "69acb13e1ca97d6e",
        "name": "",
        "group": "c7f59de49c7a8309",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "782d051239ade281",
        "type": "ui_button",
        "z": "69acb13e1ca97d6e",
        "name": "",
        "group": "b8b32a4e377a25e5",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "cd51238b67aa8c75",
        "type": "ui_button",
        "z": "69acb13e1ca97d6e",
        "name": "",
        "group": "a3af07db5ba3630b",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "c7f7b9b6c1a7f86b",
        "type": "ui_button",
        "z": "69acb13e1ca97d6e",
        "name": "",
        "group": "a04bf66944414959",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e1fe3a63772b872a",
        "type": "ui_button",
        "z": "69acb13e1ca97d6e",
        "name": "",
        "group": "7f096fb6d5e34d45",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 110,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "7e4f9decb7e48ee9",
        "type": "ui_slider",
        "z": "69acb13e1ca97d6e",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "7c608bfb584e1fe1",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": 10,
        "step": 1,
        "className": "",
        "x": 250,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "4339c7c551c942c0",
        "type": "ui_dropdown",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "dd_ConfigChoice_u0",
        "label": "Saved Configurations",
        "tooltip": "Select desired (saved) sensor config.",
        "place": "",
        "group": "a6e009ae9c645b20",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "configChoice_u0",
        "topicType": "str",
        "className": "",
        "x": 700,
        "y": 380,
        "wires": [
            [
                "e76974ed280df15b"
            ]
        ]
    },
    {
        "id": "d2e7db714c3f1a68",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_RangeMin_u0",
        "label": "Range Min",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMin_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 1990,
        "y": 400,
        "wires": [
            [
                "ce32e2846ac1b4c3"
            ]
        ]
    },
    {
        "id": "2a4e57fb46bf8851",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_RangeMax_u0",
        "label": "Range Max",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMax_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 1990,
        "y": 480,
        "wires": [
            [
                "0a8e8339bee1fa9f"
            ]
        ]
    },
    {
        "id": "bdbafd7015c19fb4",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_Units_u0",
        "label": "Units",
        "tooltip": "(Meters, Seconds, Pascal, Bar, ...)",
        "group": "a6e009ae9c645b20",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "units_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 1970,
        "y": 320,
        "wires": [
            [
                "ad051210c289de86"
            ]
        ]
    },
    {
        "id": "9fc935ddfdaed7c0",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_AlarmMin_u0",
        "label": "Alarm Min",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMin_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 1990,
        "y": 560,
        "wires": [
            [
                "549811fa4ad7aad2"
            ]
        ]
    },
    {
        "id": "c5c415eeb4e69c82",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_AlarmMax_u0",
        "label": "Alarm Max",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMax_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 1990,
        "y": 640,
        "wires": [
            [
                "2d91db443a241862"
            ]
        ]
    },
    {
        "id": "4e973c18cd5bfea3",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "btn_Save_u0",
        "group": "a6e009ae9c645b20",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save current config by the sensor name provided.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-floppy-o",
        "payload": "true",
        "payloadType": "bool",
        "topic": "btnsave_u0",
        "topicType": "msg",
        "x": 130,
        "y": 820,
        "wires": [
            [
                "bdd4ca45e5260524",
                "93008b6a3c974d8e"
            ]
        ]
    },
    {
        "id": "5158abdf6515513a",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_SensorName_u0",
        "label": "Sensor Name",
        "tooltip": "Sensor Name, and subsquently config file name. No spaces allowed.",
        "group": "a6e009ae9c645b20",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "name_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2000,
        "y": 240,
        "wires": [
            [
                "6285d13b37527e6a"
            ]
        ]
    },
    {
        "id": "c08dac60676ba926",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "btn_Delete_u0",
        "group": "a6e009ae9c645b20",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "Delete selected configuration.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-times",
        "payload": "true",
        "payloadType": "bool",
        "topic": "delete_u0",
        "topicType": "msg",
        "x": 120,
        "y": 1020,
        "wires": [
            [
                "2b0326079215ffef",
                "93008b6a3c974d8e"
            ]
        ]
    },
    {
        "id": "76895a4e9689d810",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_AlarmPreMin_u0",
        "label": "Alarm PreMin",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmpreMin_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2000,
        "y": 720,
        "wires": [
            [
                "457a642cdaa36e6a"
            ]
        ]
    },
    {
        "id": "7b28736e0c44b1f9",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "txt_AlarmPreMax_u0",
        "label": "Alarm PreMax",
        "tooltip": "",
        "group": "a6e009ae9c645b20",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmPreMax_u0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2000,
        "y": 800,
        "wires": [
            [
                "46876e5d1d4f8178"
            ]
        ]
    },
    {
        "id": "2a8331ac9248d8ab",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 1050,
        "y": 820,
        "wires": [
            [
                "0546084492670fdf"
            ]
        ]
    },
    {
        "id": "f034cf1008adbdd5",
        "type": "file in",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 640,
        "y": 520,
        "wires": [
            [
                "b410eb6bf3568d25",
                "51b6660577ebe8bb"
            ]
        ]
    },
    {
        "id": "457f450e07a4e7d8",
        "type": "exec",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1050,
        "y": 1020,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "36092be52284433d",
        "type": "inject",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 320,
        "wires": [
            [
                "a44088ab6095d7bf"
            ]
        ]
    },
    {
        "id": "a44088ab6095d7bf",
        "type": "fs-file-lister",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "start": "C:\\Users\\gilvi\\Documents\\pea_virtBanc\\project_data\\sensor_configs\\voltage_configs",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": true,
        "depth": "0",
        "stat": false,
        "showWarnings": true,
        "x": 440,
        "y": 320,
        "wires": [
            [
                "650c5342d8b5729d"
            ]
        ]
    },
    {
        "id": "0546084492670fdf",
        "type": "file",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1120,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "6285d13b37527e6a",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value name_u0",
        "rules": [
            {
                "t": "set",
                "p": "name_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ad051210c289de86",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value units_u0",
        "rules": [
            {
                "t": "set",
                "p": "units_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2000,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "21806e43d483c0e1",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 860,
        "wires": []
    },
    {
        "id": "bdd4ca45e5260524",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Get and Join Current Values",
        "func": "var name_u0 = flow.get(\"name_u0\") || \"DEFAULT_VALUE\"; \nvar units_u0 = flow.get(\"units_u0\") || \"DEFAULT UNITS\";\nvar rangeMin_u0 = flow.get(\"rangeMin_u0\") || \"0\";\nvar rangeMax_u0 = flow.get(\"rangeMax_u0\") || \"0\";\nvar alarmMin_u0 = flow.get(\"alarmMin_u0\") || \"0\";\nvar alarmMax_u0 = flow.get(\"alarmMax_u0\") || \"0\";\nvar alarmPreMin_u0 = flow.get(\"alarmPreMin_u0\") || \"0\";\nvar alarmPreMax_u0 = flow.get(\"alarmPreMax_u0\") || \"0\";\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_u0,\n    \"units\": units_u0,\n    \"rangeMin\": rangeMin_u0,\n    \"rangeMax\": rangeMax_u0,\n    \"alarmMin\": alarmMin_u0,\n    \"alarmMax\": alarmMax_u0,\n    \"alarmPreMin\": alarmPreMin_u0,\n    \"alarmPreMax\": alarmPreMax_u0\n}\n\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs\\\\\" + name_u0 + \".json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 820,
        "wires": [
            [
                "2a8331ac9248d8ab",
                "21806e43d483c0e1"
            ]
        ]
    },
    {
        "id": "ce32e2846ac1b4c3",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value rangeMin_u0",
        "rules": [
            {
                "t": "set",
                "p": "rangeMin_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0a8e8339bee1fa9f",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value rangeMax_u0",
        "rules": [
            {
                "t": "set",
                "p": "rangeMax_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "549811fa4ad7aad2",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value AlarmMin_u0",
        "rules": [
            {
                "t": "set",
                "p": "alarmMin_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "2d91db443a241862",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value AlarmMax_u0",
        "rules": [
            {
                "t": "set",
                "p": "alarmMax_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2010,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "46876e5d1d4f8178",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value AlarmPreMax_u0",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMax_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "457a642cdaa36e6a",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value AlarmPreMin_u0",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMin_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2020,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "e76974ed280df15b",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Save Value ConfigChoice_u0",
        "rules": [
            {
                "t": "set",
                "p": "configChoice_u0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 440,
        "wires": [
            [
                "a0779933654969d0"
            ]
        ]
    },
    {
        "id": "2b0326079215ffef",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Delete selected choice",
        "func": "var configChoice_u0 = flow.get(\"configChoice_u0\");\nmsg.payload = \"cd C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs && del \" + configChoice_u0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 720,
        "y": 1020,
        "wires": [
            [
                "457f450e07a4e7d8",
                "f281ccea3f28bb0f"
            ]
        ]
    },
    {
        "id": "a0779933654969d0",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Get choice to load config file",
        "func": "var configChoice_u0 = flow.get(\"configChoice_u0\");\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs\\\\\" + configChoice_u0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 440,
        "wires": [
            [
                "f034cf1008adbdd5"
            ]
        ]
    },
    {
        "id": "650c5342d8b5729d",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Get file names and update Drop Down",
        "func": "msg.options = msg.payload \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 320,
        "wires": [
            [
                "4339c7c551c942c0"
            ]
        ]
    },
    {
        "id": "93008b6a3c974d8e",
        "type": "delay",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 130,
        "y": 920,
        "wires": [
            [
                "a44088ab6095d7bf",
                "88a76ea254209bfe"
            ]
        ]
    },
    {
        "id": "b410eb6bf3568d25",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 560,
        "wires": []
    },
    {
        "id": "cac819cb3b50633d",
        "type": "ui_switch",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "swt_OnOff_u0",
        "label": "Off / On",
        "tooltip": "Turn on or off this sensor slot.",
        "group": "a6e009ae9c645b20",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "swtOnOff_u0",
        "topicType": "global",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 140,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "51b6660577ebe8bb",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 830,
        "y": 520,
        "wires": [
            [
                "553fc124fb9d69c7",
                "7905487f76d7a7a8"
            ]
        ]
    },
    {
        "id": "553fc124fb9d69c7",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "baf24a5881f8ca08",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "CHANGE FILE NAME PATH",
        "info": "Aqui mudar o comando de modo a funcionar no IOT.",
        "x": 720,
        "y": 980,
        "wires": []
    },
    {
        "id": "77033a07bb701f26",
        "type": "switch",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Route Values",
        "property": "parts",
        "propertyType": "msg",
        "rules": [
            {
                "t": "index",
                "v": "0",
                "vt": "num",
                "v2": "0",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "1",
                "vt": "num",
                "v2": "1",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "2",
                "vt": "num",
                "v2": "2",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "3",
                "vt": "num",
                "v2": "3",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "4",
                "vt": "num",
                "v2": "4",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "5",
                "vt": "num",
                "v2": "5",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "6",
                "vt": "num",
                "v2": "6",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "7",
                "vt": "num",
                "v2": "7",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 8,
        "x": 1290,
        "y": 520,
        "wires": [
            [
                "5158abdf6515513a"
            ],
            [
                "bdbafd7015c19fb4"
            ],
            [
                "fa8e3cee209a4ff3"
            ],
            [
                "6e368083d5976de2"
            ],
            [
                "55ad6b670ed52316"
            ],
            [
                "e2440dfef7c9f0c9"
            ],
            [
                "ecd5704382a4805f"
            ],
            [
                "703cb321794e858e"
            ]
        ]
    },
    {
        "id": "7905487f76d7a7a8",
        "type": "split",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "splitConfigFile",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1060,
        "y": 520,
        "wires": [
            [
                "77033a07bb701f26",
                "8a62664ab5e41264"
            ]
        ]
    },
    {
        "id": "8a62664ab5e41264",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "parts",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 560,
        "wires": []
    },
    {
        "id": "fa8e3cee209a4ff3",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 460,
        "wires": [
            [
                "d2e7db714c3f1a68"
            ]
        ]
    },
    {
        "id": "6e368083d5976de2",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 500,
        "wires": [
            [
                "2a4e57fb46bf8851"
            ]
        ]
    },
    {
        "id": "e2440dfef7c9f0c9",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 580,
        "wires": [
            [
                "c5c415eeb4e69c82"
            ]
        ]
    },
    {
        "id": "ecd5704382a4805f",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 620,
        "wires": [
            [
                "76895a4e9689d810"
            ]
        ]
    },
    {
        "id": "703cb321794e858e",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 660,
        "wires": [
            [
                "7b28736e0c44b1f9"
            ]
        ]
    },
    {
        "id": "55ad6b670ed52316",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1620,
        "y": 540,
        "wires": [
            [
                "9fc935ddfdaed7c0"
            ]
        ]
    },
    {
        "id": "902de42013a6b30f",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "README - Notes for the directory structure in IOT2040",
        "info": "# Criar directrio onde sero guardados os config files e posteriormente acedidos.\n\n## Estrutura do Directrio:\n\n---\n\n### project_Data/\n###  sensor_Configs/\n###    acquired_Data/\n###      sensor1_Data.json\n###    adicional_NotificationSettings/\n###      extra_Noti_1.json\n###    current_Configs/\n###      config1_Current.json\n###    rs232_Configs/\n###      config1_rs232.json\n###    voltage_Configs/\n###      config1_Voltage.json\n### \n\n---\n",
        "x": 1180,
        "y": 200,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "28e7eefc0dad5a4f",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 980,
        "y": 400,
        "wires": []
    },
    {
        "id": "03701cacd7c5f8ba",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 720,
        "y": 780,
        "wires": []
    },
    {
        "id": "b9fe3ec2d34025a4",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Read Me",
        "info": "### A ideia aqui  permitir dar enable ou disable  configurao.\n### Podendo desligar ou ligar a entrada em causa.",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "06f111387fa8aa32",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "CHANGE FOLDER PATH",
        "info": "### Aqui colocar o path para a pasta correcta de configurao dos sensores em causa. (currente, tenso, rs232)\n\nNeste caso, o path da pasta /../voltage_configs/",
        "x": 450,
        "y": 280,
        "wires": []
    },
    {
        "id": "f281ccea3f28bb0f",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 1060,
        "wires": []
    },
    {
        "id": "8c764812525cd341",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "Set to Null",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1630,
        "y": 700,
        "wires": [
            [
                "5158abdf6515513a",
                "bdbafd7015c19fb4",
                "d2e7db714c3f1a68",
                "2a4e57fb46bf8851",
                "9fc935ddfdaed7c0",
                "c5c415eeb4e69c82",
                "76895a4e9689d810",
                "7b28736e0c44b1f9"
            ]
        ]
    },
    {
        "id": "390ea45d71cdd4ce",
        "type": "ui_dropdown",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "dd_ConfigChoice_i0",
        "label": "Saved Configurations",
        "tooltip": "Select desired (saved) sensor config.",
        "place": "",
        "group": "7858837884bebd2a",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "configChoice_i0",
        "topicType": "str",
        "className": "",
        "x": 3020,
        "y": 460,
        "wires": [
            [
                "594dceb606dd5279",
                "e7641c5e8e036d4c"
            ]
        ]
    },
    {
        "id": "6ea5c550fdfec21f",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_RangeMin_i0",
        "label": "Range Min",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMin_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4310,
        "y": 480,
        "wires": [
            [
                "ed0b9a81ace9a789"
            ]
        ]
    },
    {
        "id": "2233a35ec4669aaa",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_RangeMax_i0",
        "label": "Range Max",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMax_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4310,
        "y": 560,
        "wires": [
            [
                "02d4aec04d4f013b"
            ]
        ]
    },
    {
        "id": "3336f08765d4cc6b",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_Units_i0",
        "label": "Units",
        "tooltip": "(Meters, Seconds, Pascal, Bar, ...)",
        "group": "7858837884bebd2a",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "units_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4290,
        "y": 400,
        "wires": [
            [
                "cffc9c6c11822a04"
            ]
        ]
    },
    {
        "id": "b31ceb355e027ffe",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_AlarmMin_i0",
        "label": "Alarm Min",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMin_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4300,
        "y": 640,
        "wires": [
            [
                "9e93e0c356a9a10f"
            ]
        ]
    },
    {
        "id": "a2f32b2161c118aa",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_AlarmMax_i0",
        "label": "Alarm Max",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMax_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4310,
        "y": 720,
        "wires": [
            [
                "be3fc51803dc5a72"
            ]
        ]
    },
    {
        "id": "0f986a760ad1cdf7",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "btn_Save_i0",
        "group": "7858837884bebd2a",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save current config by the sensor name provided.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-floppy-o",
        "payload": "true",
        "payloadType": "bool",
        "topic": "btnsave_i0",
        "topicType": "msg",
        "x": 2450,
        "y": 880,
        "wires": [
            [
                "5474d25375850746",
                "4c5227a317f92c6e"
            ]
        ]
    },
    {
        "id": "d48f6ddcc9608883",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_SensorName_i0",
        "label": "Sensor Name",
        "tooltip": "Sensor Name, and subsquently config file name. No spaces allowed.",
        "group": "7858837884bebd2a",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "name_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4310,
        "y": 320,
        "wires": [
            [
                "916e207f4d91bbc3"
            ]
        ]
    },
    {
        "id": "fce5e0a11a12b5c5",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "btn_Delete_i0",
        "group": "7858837884bebd2a",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "Delete selected configuration.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-times",
        "payload": "true",
        "payloadType": "bool",
        "topic": "delete_i0",
        "topicType": "msg",
        "x": 2440,
        "y": 1080,
        "wires": [
            [
                "ae5ce9f3e53d5f17",
                "4c5227a317f92c6e"
            ]
        ]
    },
    {
        "id": "54553e4b25d62c58",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_AlarmPreMin_i0",
        "label": "Alarm PreMin",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmpreMin_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4310,
        "y": 800,
        "wires": [
            [
                "5fa9a20163993467"
            ]
        ]
    },
    {
        "id": "5a168b2536f5d3d3",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "txt_AlarmPreMax_i0",
        "label": "Alarm PreMax",
        "tooltip": "",
        "group": "7858837884bebd2a",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmPreMax_i0",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4320,
        "y": 880,
        "wires": [
            [
                "25cc11085279a2bd"
            ]
        ]
    },
    {
        "id": "325781ac2fe53948",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 3270,
        "y": 880,
        "wires": [
            [
                "2ee02098f80454ad"
            ]
        ]
    },
    {
        "id": "91127f8487a65c9e",
        "type": "file in",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2960,
        "y": 600,
        "wires": [
            [
                "f93b8957e0f83b72",
                "392af83c845ef17b"
            ]
        ]
    },
    {
        "id": "3883601112826930",
        "type": "exec",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3270,
        "y": 1080,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "673671f17c9d2159",
        "type": "inject",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 2430,
        "y": 420,
        "wires": [
            [
                "d830fb4ed00eb2eb"
            ]
        ]
    },
    {
        "id": "d830fb4ed00eb2eb",
        "type": "fs-file-lister",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "start": "C:\\Users\\gilvi\\Documents\\pea_virtBanc\\project_data\\sensor_configs\\current_configs",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": true,
        "depth": "0",
        "stat": false,
        "showWarnings": true,
        "x": 2760,
        "y": 420,
        "wires": [
            [
                "e07509a8bfc4fc1c",
                "cc15ca43b1c402ec"
            ]
        ]
    },
    {
        "id": "2ee02098f80454ad",
        "type": "file",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3340,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "916e207f4d91bbc3",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value name_i0",
        "rules": [
            {
                "t": "set",
                "p": "name_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4320,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "cffc9c6c11822a04",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value units_i0",
        "rules": [
            {
                "t": "set",
                "p": "units_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4310,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "2a990996a97733b9",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2890,
        "y": 920,
        "wires": []
    },
    {
        "id": "5474d25375850746",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Get and Join Current Values",
        "func": "var name_i0 = flow.get(\"name_i0\") || \"DEFAULT_VALUE\"; \nvar units_i0 = flow.get(\"units_i0\") || \"DEFAULT UNITS\";\nvar rangeMin_i0 = flow.get(\"rangeMin_i0\") || \"0\";\nvar rangeMax_i0 = flow.get(\"rangeMax_i0\") || \"0\";\nvar alarmMin_i0 = flow.get(\"alarmMin_i0\") || \"0\";\nvar alarmMax_i0 = flow.get(\"alarmMax_i0\") || \"0\";\nvar alarmPreMin_i0 = flow.get(\"alarmPreMin_i0\") || \"0\";\nvar alarmPreMax_i0 = flow.get(\"alarmPreMax_i0\") || \"0\";\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_i0,\n    \"units\": units_i0,\n    \"rangeMin\": rangeMin_i0,\n    \"rangeMax\": rangeMax_i0,\n    \"alarmMin\": alarmMin_i0,\n    \"alarmMax\": alarmMax_i0,\n    \"alarmPreMin\": alarmPreMin_i0,\n    \"alarmPreMax\": alarmPreMax_i0\n}\n\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs\\\\\" + name_i0 + \".json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2940,
        "y": 880,
        "wires": [
            [
                "325781ac2fe53948",
                "2a990996a97733b9"
            ]
        ]
    },
    {
        "id": "ed0b9a81ace9a789",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value rangeMin_i0",
        "rules": [
            {
                "t": "set",
                "p": "rangeMin_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4330,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "02d4aec04d4f013b",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value rangeMax_i0",
        "rules": [
            {
                "t": "set",
                "p": "rangeMax_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4330,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "9e93e0c356a9a10f",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value AlarmMin_i0",
        "rules": [
            {
                "t": "set",
                "p": "alarmMin_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4330,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "be3fc51803dc5a72",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value AlarmMax_i0",
        "rules": [
            {
                "t": "set",
                "p": "alarmMax_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4330,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "25cc11085279a2bd",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value AlarmPreMax_i0",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMax_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4340,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "5fa9a20163993467",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value AlarmPreMin_i0",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMin_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4340,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "594dceb606dd5279",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Save Value ConfigChoice_i0",
        "rules": [
            {
                "t": "set",
                "p": "configChoice_i0",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3020,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "ae5ce9f3e53d5f17",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Delete selected choice",
        "func": "var configChoice_i0 = flow.get(\"configChoice_i0\");\nmsg.payload = \"cd C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs && del \" + configChoice_i0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2940,
        "y": 1080,
        "wires": [
            [
                "3883601112826930",
                "6d5c776218b2b44c"
            ]
        ]
    },
    {
        "id": "e7641c5e8e036d4c",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Get choice to load config file",
        "func": "var configChoice_i0 = flow.get(\"configChoice_i0\");\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs\\\\\" + configChoice_i0\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3300,
        "y": 520,
        "wires": [
            [
                "91127f8487a65c9e"
            ]
        ]
    },
    {
        "id": "e07509a8bfc4fc1c",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2770,
        "y": 460,
        "wires": []
    },
    {
        "id": "cc15ca43b1c402ec",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Get file names and update Drop Down",
        "func": "msg.options = msg.payload \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3030,
        "y": 420,
        "wires": [
            [
                "390ea45d71cdd4ce"
            ]
        ]
    },
    {
        "id": "4c5227a317f92c6e",
        "type": "delay",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2450,
        "y": 980,
        "wires": [
            [
                "d830fb4ed00eb2eb",
                "348af2cbd527aeee"
            ]
        ]
    },
    {
        "id": "f93b8957e0f83b72",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2970,
        "y": 640,
        "wires": []
    },
    {
        "id": "cef8ef4e9f6661c2",
        "type": "ui_switch",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "swt_OnOff_i0",
        "label": "Off / On",
        "tooltip": "Turn on or off this sensor slot.",
        "group": "7858837884bebd2a",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "swtOnOff_i0",
        "topicType": "global",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 2460,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "392af83c845ef17b",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3150,
        "y": 600,
        "wires": [
            [
                "f781ed8c2998aa03",
                "cd327b65f0bd3a65"
            ]
        ]
    },
    {
        "id": "f781ed8c2998aa03",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3170,
        "y": 640,
        "wires": []
    },
    {
        "id": "d2d0f06ced71c924",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "CHANGE FILE NAME PATH",
        "info": "Aqui mudar o comando de modo a funcionar no IOT.",
        "x": 2940,
        "y": 1040,
        "wires": []
    },
    {
        "id": "c76d0fba4be7ea35",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "README - Notes for the directory structure in IOT2040",
        "info": "# Criar directrio onde sero guardados os config files e posteriormente acedidos.\n\n## Estrutura do Directrio:\n\n---\n\n### project_Data/\n###  sensor_Configs/\n###    acquired_Data/\n###      sensor1_Data.json\n###    adicional_NotificationSettings/\n###      extra_Noti_1.json\n###    current_Configs/\n###      config1_Current.json\n###    rs232_Configs/\n###      config1_rs232.json\n###    voltage_Configs/\n###      config1_Voltage.json\n### \n\n---\n",
        "x": 3500,
        "y": 280,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "0621d8c03df52343",
        "type": "switch",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Route Values",
        "property": "parts",
        "propertyType": "msg",
        "rules": [
            {
                "t": "index",
                "v": "0",
                "vt": "num",
                "v2": "0",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "1",
                "vt": "num",
                "v2": "1",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "2",
                "vt": "num",
                "v2": "2",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "3",
                "vt": "num",
                "v2": "3",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "4",
                "vt": "num",
                "v2": "4",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "5",
                "vt": "num",
                "v2": "5",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "6",
                "vt": "num",
                "v2": "6",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "7",
                "vt": "num",
                "v2": "7",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 8,
        "x": 3610,
        "y": 600,
        "wires": [
            [
                "d48f6ddcc9608883"
            ],
            [
                "3336f08765d4cc6b"
            ],
            [
                "e62595917f69cfef"
            ],
            [
                "8cfad0e5e071c81d"
            ],
            [
                "c812eedaf11839be"
            ],
            [
                "175deafe55016bec"
            ],
            [
                "ff301bfee4038ffe"
            ],
            [
                "846a98445acbbd43"
            ]
        ]
    },
    {
        "id": "cd327b65f0bd3a65",
        "type": "split",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "splitConfigFile",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 3380,
        "y": 600,
        "wires": [
            [
                "0621d8c03df52343",
                "517fed71bb409534"
            ]
        ]
    },
    {
        "id": "517fed71bb409534",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "parts",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3360,
        "y": 640,
        "wires": []
    },
    {
        "id": "e62595917f69cfef",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 540,
        "wires": [
            [
                "6ea5c550fdfec21f"
            ]
        ]
    },
    {
        "id": "8cfad0e5e071c81d",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 580,
        "wires": [
            [
                "2233a35ec4669aaa"
            ]
        ]
    },
    {
        "id": "175deafe55016bec",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 660,
        "wires": [
            [
                "a2f32b2161c118aa"
            ]
        ]
    },
    {
        "id": "ff301bfee4038ffe",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 700,
        "wires": [
            [
                "54553e4b25d62c58"
            ]
        ]
    },
    {
        "id": "846a98445acbbd43",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 740,
        "wires": [
            [
                "5a168b2536f5d3d3"
            ]
        ]
    },
    {
        "id": "c812eedaf11839be",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 620,
        "wires": [
            [
                "b31ceb355e027ffe"
            ]
        ]
    },
    {
        "id": "10e37b0945879fdb",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 3300,
        "y": 480,
        "wires": []
    },
    {
        "id": "eb55112eca25af9c",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 3040,
        "y": 840,
        "wires": []
    },
    {
        "id": "094971358f2c4c41",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Read Me",
        "info": "### A ideia aqui  permitir dar enable ou disable  configurao.\n### Podendo desligar ou ligar a entrada em causa.",
        "x": 2440,
        "y": 160,
        "wires": []
    },
    {
        "id": "c7e25538bfbea84b",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "CHANGE FOLDER PATH",
        "info": "### Aqui colocar o path para a pasta correcta de configurao dos sensores em causa. (currente, tenso, rs232)\n\nNeste caso, o path da pasta /../voltage_configs/",
        "x": 2770,
        "y": 380,
        "wires": []
    },
    {
        "id": "6d5c776218b2b44c",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2910,
        "y": 1120,
        "wires": []
    },
    {
        "id": "b4c28e487b704c92",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "btn_clean_i0",
        "group": "7858837884bebd2a",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Clean",
        "tooltip": "Clean form entries.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-eraser",
        "payload": "",
        "payloadType": "str",
        "topic": "clean_i0",
        "topicType": "msg",
        "x": 3930,
        "y": 880,
        "wires": [
            [
                "97c9527d2485e2ad"
            ]
        ]
    },
    {
        "id": "97c9527d2485e2ad",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "f88f21995298ca7f",
        "name": "Set to Null",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3930,
        "y": 920,
        "wires": [
            [
                "d48f6ddcc9608883",
                "3336f08765d4cc6b",
                "6ea5c550fdfec21f",
                "2233a35ec4669aaa",
                "b31ceb355e027ffe",
                "a2f32b2161c118aa",
                "54553e4b25d62c58",
                "5a168b2536f5d3d3"
            ]
        ]
    },
    {
        "id": "85527a0eae8b14d3",
        "type": "ui_dropdown",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "dd_ConfigChoice_u1",
        "label": "Saved Configurations",
        "tooltip": "Select desired (saved) sensor config.",
        "place": "",
        "group": "db8bdb881220f945",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "configChoice_u1",
        "topicType": "str",
        "className": "",
        "x": 800,
        "y": 1580,
        "wires": [
            [
                "50c9ddfdd2bb2409",
                "24a3b80fb6fe3bb7"
            ]
        ]
    },
    {
        "id": "3b540d8491166c4f",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_RangeMin_u1",
        "label": "Range Min",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMin_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2090,
        "y": 1600,
        "wires": [
            [
                "15a7c8c41a58e7f0"
            ]
        ]
    },
    {
        "id": "eeee56ac10655235",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_RangeMax_u1",
        "label": "Range Max",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMax_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2090,
        "y": 1680,
        "wires": [
            [
                "635eafd1736ab9ad"
            ]
        ]
    },
    {
        "id": "85555c92d6920cd7",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_Units_u1",
        "label": "Units",
        "tooltip": "(Meters, Seconds, Pascal, Bar, ...)",
        "group": "db8bdb881220f945",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "units_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2070,
        "y": 1520,
        "wires": [
            [
                "5d7ea843c6a147de"
            ]
        ]
    },
    {
        "id": "3e9b09a15bef85e8",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_AlarmMin_u1",
        "label": "Alarm Min",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMin_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2090,
        "y": 1760,
        "wires": [
            [
                "fa531c0082db47a8"
            ]
        ]
    },
    {
        "id": "a847aed05e8bc739",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_AlarmMax_u1",
        "label": "Alarm Max",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMax_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2090,
        "y": 1840,
        "wires": [
            [
                "23f6883c8359ae1c"
            ]
        ]
    },
    {
        "id": "b85658982885dca7",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "btn_Save_u1",
        "group": "db8bdb881220f945",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save current config by the sensor name provided.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-floppy-o",
        "payload": "true",
        "payloadType": "bool",
        "topic": "btnsave_u1",
        "topicType": "msg",
        "x": 230,
        "y": 1980,
        "wires": [
            [
                "bbbe25d93b099471",
                "d7a83e1438b47f4f"
            ]
        ]
    },
    {
        "id": "bdc54f4e40f8a98d",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_SensorName_u1",
        "label": "Sensor Name",
        "tooltip": "Sensor Name, and subsquently config file name. No spaces allowed.",
        "group": "db8bdb881220f945",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "name_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2100,
        "y": 1440,
        "wires": [
            [
                "d942c5b1e5d7037e"
            ]
        ]
    },
    {
        "id": "0e1f434d3905cfe6",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "btn_Delete_u1",
        "group": "db8bdb881220f945",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "Delete selected configuration.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-times",
        "payload": "true",
        "payloadType": "bool",
        "topic": "delete_u1",
        "topicType": "msg",
        "x": 220,
        "y": 2180,
        "wires": [
            [
                "d780e60bcd514fb2",
                "d7a83e1438b47f4f"
            ]
        ]
    },
    {
        "id": "c2761334a7201162",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_AlarmPreMin_u1",
        "label": "Alarm PreMin",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmpreMin_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2100,
        "y": 1920,
        "wires": [
            [
                "ea1d4614560f0ab6"
            ]
        ]
    },
    {
        "id": "4a9835ca5cb859cd",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "txt_AlarmPreMax_u1",
        "label": "Alarm PreMax",
        "tooltip": "",
        "group": "db8bdb881220f945",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmPreMax_u1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 2100,
        "y": 2000,
        "wires": [
            [
                "f69d31c34e951a55"
            ]
        ]
    },
    {
        "id": "6e6c0dc9c29263ce",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 1150,
        "y": 1980,
        "wires": [
            [
                "823b34f62aa90234"
            ]
        ]
    },
    {
        "id": "3235ef9ee9900fa8",
        "type": "file in",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 740,
        "y": 1720,
        "wires": [
            [
                "b4ec45e58a0c814b",
                "ba6267d811d3769e"
            ]
        ]
    },
    {
        "id": "910df37905499680",
        "type": "exec",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 1150,
        "y": 2180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "4f96836b9a59366f",
        "type": "inject",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 210,
        "y": 1520,
        "wires": [
            [
                "88a76ea254209bfe"
            ]
        ]
    },
    {
        "id": "88a76ea254209bfe",
        "type": "fs-file-lister",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "start": "C:\\Users\\gilvi\\Documents\\pea_virtBanc\\project_data\\sensor_configs\\voltage_configs",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": true,
        "depth": "0",
        "stat": false,
        "showWarnings": true,
        "x": 540,
        "y": 1520,
        "wires": [
            [
                "d1221555ae806d84",
                "acbcd63b07b4b299"
            ]
        ]
    },
    {
        "id": "823b34f62aa90234",
        "type": "file",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 1220,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "d942c5b1e5d7037e",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value name_u1",
        "rules": [
            {
                "t": "set",
                "p": "name_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "5d7ea843c6a147de",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value units_u1",
        "rules": [
            {
                "t": "set",
                "p": "units_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2100,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "00288c1babada7c0",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 2020,
        "wires": []
    },
    {
        "id": "bbbe25d93b099471",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Get and Join Current Values",
        "func": "var name_u1 = flow.get(\"name_u1\") || \"DEFAULT_VALUE\"; \nvar units_u1 = flow.get(\"units_u1\") || \"DEFAULT UNITS\";\nvar rangeMin_u1 = flow.get(\"rangeMin_u1\") || \"0\";\nvar rangeMax_u1 = flow.get(\"rangeMax_u1\") || \"0\";\nvar alarmMin_u1 = flow.get(\"alarmMin_u1\") || \"0\";\nvar alarmMax_u1 = flow.get(\"alarmMax_u1\") || \"0\";\nvar alarmPreMin_u1 = flow.get(\"alarmPreMin_u1\") || \"0\";\nvar alarmPreMax_u1 = flow.get(\"alarmPreMax_u1\") || \"0\";\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_u1,\n    \"units\": units_u1,\n    \"rangeMin\": rangeMin_u1,\n    \"rangeMax\": rangeMax_u1,\n    \"alarmMin\": alarmMin_u1,\n    \"alarmMax\": alarmMax_u1,\n    \"alarmPreMin\": alarmPreMin_u1,\n    \"alarmPreMax\": alarmPreMax_u1\n}\n\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs\\\\\" + name_u1 + \".json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 1980,
        "wires": [
            [
                "6e6c0dc9c29263ce",
                "00288c1babada7c0"
            ]
        ]
    },
    {
        "id": "15a7c8c41a58e7f0",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value rangeMin_u1",
        "rules": [
            {
                "t": "set",
                "p": "rangeMin_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "635eafd1736ab9ad",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value rangeMax_u1",
        "rules": [
            {
                "t": "set",
                "p": "rangeMax_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 1720,
        "wires": [
            []
        ]
    },
    {
        "id": "fa531c0082db47a8",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value AlarmMin_u1",
        "rules": [
            {
                "t": "set",
                "p": "alarmMin_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 1800,
        "wires": [
            []
        ]
    },
    {
        "id": "23f6883c8359ae1c",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value AlarmMax_u1",
        "rules": [
            {
                "t": "set",
                "p": "alarmMax_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2110,
        "y": 1880,
        "wires": [
            []
        ]
    },
    {
        "id": "f69d31c34e951a55",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value AlarmPreMax_u1",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMax_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2120,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "ea1d4614560f0ab6",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value AlarmPreMin_u1",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMin_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2120,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "50c9ddfdd2bb2409",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Save Value ConfigChoice_u1",
        "rules": [
            {
                "t": "set",
                "p": "configChoice_u1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "d780e60bcd514fb2",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Delete selected choice",
        "func": "var configChoice_u1 = flow.get(\"configChoice_u1\");\nmsg.payload = \"cd C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs && del \" + configChoice_u1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 2180,
        "wires": [
            [
                "910df37905499680",
                "fda54d70037c16bb"
            ]
        ]
    },
    {
        "id": "24a3b80fb6fe3bb7",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Get choice to load config file",
        "func": "var configChoice_u1 = flow.get(\"configChoice_u1\");\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\voltage_configs\\\\\" + configChoice_u1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 1640,
        "wires": [
            [
                "3235ef9ee9900fa8"
            ]
        ]
    },
    {
        "id": "d1221555ae806d84",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 1560,
        "wires": []
    },
    {
        "id": "acbcd63b07b4b299",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Get file names and update Drop Down",
        "func": "msg.options = msg.payload \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 1520,
        "wires": [
            [
                "85527a0eae8b14d3"
            ]
        ]
    },
    {
        "id": "d7a83e1438b47f4f",
        "type": "delay",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 230,
        "y": 2080,
        "wires": [
            [
                "88a76ea254209bfe",
                "a44088ab6095d7bf"
            ]
        ]
    },
    {
        "id": "b4ec45e58a0c814b",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1760,
        "wires": []
    },
    {
        "id": "3677674869b64dcc",
        "type": "ui_switch",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "swt_OnOff_u1",
        "label": "Off / On",
        "tooltip": "Turn on or off this sensor slot.",
        "group": "db8bdb881220f945",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "swtOnOff_u1",
        "topicType": "global",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 240,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "ba6267d811d3769e",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 930,
        "y": 1720,
        "wires": [
            [
                "b2b74feb1145de02",
                "6e60f71c4ec3ba7a"
            ]
        ]
    },
    {
        "id": "b2b74feb1145de02",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1760,
        "wires": []
    },
    {
        "id": "3a0c9b0abd8b404b",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "CHANGE FILE NAME PATH",
        "info": "Aqui mudar o comando de modo a funcionar no IOT.",
        "x": 820,
        "y": 2140,
        "wires": []
    },
    {
        "id": "1dee900f015384d9",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "README - Notes for the directory structure in IOT2040",
        "info": "# Criar directrio onde sero guardados os config files e posteriormente acedidos.\n\n## Estrutura do Directrio:\n\n---\n\n### project_Data/\n###  sensor_Configs/\n###    acquired_Data/\n###      sensor1_Data.json\n###    adicional_NotificationSettings/\n###      extra_Noti_1.json\n###    current_Configs/\n###      config1_Current.json\n###    rs232_Configs/\n###      config1_rs232.json\n###    voltage_Configs/\n###      config1_Voltage.json\n### \n\n---\n",
        "x": 1280,
        "y": 1380,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "f9e31f8498efb5ed",
        "type": "switch",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Route Values",
        "property": "parts",
        "propertyType": "msg",
        "rules": [
            {
                "t": "index",
                "v": "0",
                "vt": "num",
                "v2": "0",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "1",
                "vt": "num",
                "v2": "1",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "2",
                "vt": "num",
                "v2": "2",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "3",
                "vt": "num",
                "v2": "3",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "4",
                "vt": "num",
                "v2": "4",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "5",
                "vt": "num",
                "v2": "5",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "6",
                "vt": "num",
                "v2": "6",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "7",
                "vt": "num",
                "v2": "7",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 8,
        "x": 1390,
        "y": 1720,
        "wires": [
            [
                "bdc54f4e40f8a98d"
            ],
            [
                "85555c92d6920cd7"
            ],
            [
                "3c0101ea0112ecca"
            ],
            [
                "005f2a5fc41707c5"
            ],
            [
                "2a93f9020a921407"
            ],
            [
                "8c1764cdaedab491"
            ],
            [
                "f60b61d49020cdfb"
            ],
            [
                "5f2e56d47bc9db1c"
            ]
        ]
    },
    {
        "id": "6e60f71c4ec3ba7a",
        "type": "split",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "splitConfigFile",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1160,
        "y": 1720,
        "wires": [
            [
                "f9e31f8498efb5ed",
                "4fb50a62764534f6"
            ]
        ]
    },
    {
        "id": "4fb50a62764534f6",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "parts",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 1760,
        "wires": []
    },
    {
        "id": "3c0101ea0112ecca",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1660,
        "wires": [
            [
                "3b540d8491166c4f"
            ]
        ]
    },
    {
        "id": "005f2a5fc41707c5",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1700,
        "wires": [
            [
                "eeee56ac10655235"
            ]
        ]
    },
    {
        "id": "8c1764cdaedab491",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1780,
        "wires": [
            [
                "a847aed05e8bc739"
            ]
        ]
    },
    {
        "id": "f60b61d49020cdfb",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1820,
        "wires": [
            [
                "c2761334a7201162"
            ]
        ]
    },
    {
        "id": "5f2e56d47bc9db1c",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1860,
        "wires": [
            [
                "4a9835ca5cb859cd"
            ]
        ]
    },
    {
        "id": "2a93f9020a921407",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1720,
        "y": 1740,
        "wires": [
            [
                "3e9b09a15bef85e8"
            ]
        ]
    },
    {
        "id": "7d24eba2cfaac26b",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 1080,
        "y": 1600,
        "wires": []
    },
    {
        "id": "f6d92fcc20039461",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 820,
        "y": 1940,
        "wires": []
    },
    {
        "id": "f3871aabd9b6e177",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Read Me",
        "info": "### A ideia aqui  permitir dar enable ou disable  configurao.\n### Podendo desligar ou ligar a entrada em causa.",
        "x": 220,
        "y": 1260,
        "wires": []
    },
    {
        "id": "0304992cd4a89790",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "CHANGE FOLDER PATH",
        "info": "### Aqui colocar o path para a pasta correcta de configurao dos sensores em causa. (currente, tenso, rs232)\n\nNeste caso, o path da pasta /../voltage_configs/",
        "x": 550,
        "y": 1480,
        "wires": []
    },
    {
        "id": "fda54d70037c16bb",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 2220,
        "wires": []
    },
    {
        "id": "afa5bda3758b02e4",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "btn_clean_u1",
        "group": "db8bdb881220f945",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Clean",
        "tooltip": "Clean form entries.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-eraser",
        "payload": "",
        "payloadType": "str",
        "topic": "clean_u1",
        "topicType": "msg",
        "x": 1720,
        "y": 2000,
        "wires": [
            [
                "399b1a4ec690f8c9"
            ]
        ]
    },
    {
        "id": "399b1a4ec690f8c9",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "a3fbd1f805562e64",
        "name": "Set to Null",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1710,
        "y": 2040,
        "wires": [
            [
                "bdc54f4e40f8a98d",
                "85555c92d6920cd7",
                "3b540d8491166c4f",
                "eeee56ac10655235",
                "3e9b09a15bef85e8",
                "a847aed05e8bc739",
                "c2761334a7201162",
                "4a9835ca5cb859cd"
            ]
        ]
    },
    {
        "id": "f5cda17aba473c7e",
        "type": "ui_dropdown",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "dd_ConfigChoice_i1",
        "label": "Saved Configurations",
        "tooltip": "Select desired (saved) sensor config.",
        "place": "",
        "group": "de718d4d4247e336",
        "order": 1,
        "width": 8,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "configChoice_i1",
        "topicType": "str",
        "className": "",
        "x": 3020,
        "y": 1560,
        "wires": [
            [
                "433be6a7cf995625",
                "9da2cff19a0f448c"
            ]
        ]
    },
    {
        "id": "575f07abed7778ca",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_RangeMin_i1",
        "label": "Range Min",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMin_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4310,
        "y": 1580,
        "wires": [
            [
                "596f2369a5c444a4"
            ]
        ]
    },
    {
        "id": "26ea8bb5c400736e",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_RangeMax_i1",
        "label": "Range Max",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "rangeMax_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4310,
        "y": 1660,
        "wires": [
            [
                "55261632cb775ee1"
            ]
        ]
    },
    {
        "id": "9481838f4e7a4226",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_Units_i1",
        "label": "Units",
        "tooltip": "(Meters, Seconds, Pascal, Bar, ...)",
        "group": "de718d4d4247e336",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "units_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4290,
        "y": 1500,
        "wires": [
            [
                "f9e02443cfbe058e"
            ]
        ]
    },
    {
        "id": "5f57390064168a30",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_AlarmMin_i1",
        "label": "Alarm Min",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMin_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4300,
        "y": 1740,
        "wires": [
            [
                "32cb18fed5b2cba0"
            ]
        ]
    },
    {
        "id": "987d30efac1960e4",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_AlarmMax_i1",
        "label": "Alarm Max",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmMax_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4310,
        "y": 1820,
        "wires": [
            [
                "9f5b57e9da89d978"
            ]
        ]
    },
    {
        "id": "be2c6ee038e50b7a",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "btn_Save_i1",
        "group": "de718d4d4247e336",
        "order": 11,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "Save current config by the sensor name provided.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-floppy-o",
        "payload": "true",
        "payloadType": "bool",
        "topic": "btnsave_i1",
        "topicType": "msg",
        "x": 2450,
        "y": 1980,
        "wires": [
            [
                "3b8e2bedf1435711",
                "de21508cb5680cf0"
            ]
        ]
    },
    {
        "id": "427a4250dcaed5d7",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_SensorName_i1",
        "label": "Sensor Name",
        "tooltip": "Sensor Name, and subsquently config file name. No spaces allowed.",
        "group": "de718d4d4247e336",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": "300",
        "topic": "name_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4310,
        "y": 1420,
        "wires": [
            [
                "b3af2f989ed06217"
            ]
        ]
    },
    {
        "id": "646b3030fafb8daf",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "btn_Delete_i1",
        "group": "de718d4d4247e336",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "Delete selected configuration.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-times",
        "payload": "true",
        "payloadType": "bool",
        "topic": "delete_i1",
        "topicType": "msg",
        "x": 2440,
        "y": 2180,
        "wires": [
            [
                "2bc55f8a61e01adc",
                "de21508cb5680cf0"
            ]
        ]
    },
    {
        "id": "6c06383e40b6e228",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_AlarmPreMin_i1",
        "label": "Alarm PreMin",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 12,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmpreMin_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4310,
        "y": 1900,
        "wires": [
            [
                "4a030c80b810ac6d"
            ]
        ]
    },
    {
        "id": "b730c05ab4a5ce16",
        "type": "ui_text_input",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "txt_AlarmPreMax_i1",
        "label": "Alarm PreMax",
        "tooltip": "",
        "group": "de718d4d4247e336",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "number",
        "delay": "300",
        "topic": "alarmPreMax_i1",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 4320,
        "y": 1980,
        "wires": [
            [
                "baf2c9ef680a4706"
            ]
        ]
    },
    {
        "id": "8b47358eba9ab171",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 3270,
        "y": 1980,
        "wires": [
            [
                "395d0bccd8cff3ae"
            ]
        ]
    },
    {
        "id": "68723b40022b0d31",
        "type": "file in",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "filename": "",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 2960,
        "y": 1700,
        "wires": [
            [
                "c9714b9e67157c20",
                "7e3847801029d98f"
            ]
        ]
    },
    {
        "id": "95a83f219d7f91f9",
        "type": "exec",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "command": "",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 3270,
        "y": 2180,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "c12de36266644e6e",
        "type": "inject",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.3",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 2430,
        "y": 1520,
        "wires": [
            [
                "348af2cbd527aeee"
            ]
        ]
    },
    {
        "id": "348af2cbd527aeee",
        "type": "fs-file-lister",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "start": "C:\\Users\\gilvi\\Documents\\pea_virtBanc\\project_data\\sensor_configs\\current_configs",
        "pattern": "*.*",
        "folders": "*",
        "hidden": false,
        "lstype": "files",
        "path": false,
        "single": true,
        "depth": "0",
        "stat": false,
        "showWarnings": true,
        "x": 2760,
        "y": 1520,
        "wires": [
            [
                "f23cf8cbcc382af8",
                "eb76732fe1aac089"
            ]
        ]
    },
    {
        "id": "395d0bccd8cff3ae",
        "type": "file",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 3340,
        "y": 2040,
        "wires": [
            []
        ]
    },
    {
        "id": "b3af2f989ed06217",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value name_i1",
        "rules": [
            {
                "t": "set",
                "p": "name_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4320,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "f9e02443cfbe058e",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value units_i1",
        "rules": [
            {
                "t": "set",
                "p": "units_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4310,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "735428896e807908",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2890,
        "y": 2020,
        "wires": []
    },
    {
        "id": "3b8e2bedf1435711",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Get and Join Current Values",
        "func": "var name_i1 = flow.get(\"name_i1\") || \"DEFAULT_VALUE\"; \nvar units_i1 = flow.get(\"units_i1\") || \"DEFAULT UNITS\";\nvar rangeMin_i1 = flow.get(\"rangeMin_i1\") || \"0\";\nvar rangeMax_i1 = flow.get(\"rangeMax_i1\") || \"0\";\nvar alarmMin_i1 = flow.get(\"alarmMin_i1\") || \"0\";\nvar alarmMax_i1 = flow.get(\"alarmMax_i1\") || \"0\";\nvar alarmPreMin_i1= flow.get(\"alarmPreMin_i1\") || \"0\";\nvar alarmPreMax_i1 = flow.get(\"alarmPreMax_i1\") || \"0\";\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_i1,\n    \"units\": units_i1,\n    \"rangeMin\": rangeMin_i1,\n    \"rangeMax\": rangeMax_i1,\n    \"alarmMin\": alarmMin_i1,\n    \"alarmMax\": alarmMax_i1,\n    \"alarmPreMin\": alarmPreMin_i1,\n    \"alarmPreMax\": alarmPreMax_i1\n}\n\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs\\\\\" + name_i1 + \".json\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2940,
        "y": 1980,
        "wires": [
            [
                "8b47358eba9ab171",
                "735428896e807908"
            ]
        ]
    },
    {
        "id": "596f2369a5c444a4",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value rangeMin_i1",
        "rules": [
            {
                "t": "set",
                "p": "rangeMin_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4330,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "55261632cb775ee1",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value rangeMax_i1",
        "rules": [
            {
                "t": "set",
                "p": "rangeMax_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4330,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "32cb18fed5b2cba0",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value AlarmMin_i1",
        "rules": [
            {
                "t": "set",
                "p": "alarmMin_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4330,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "9f5b57e9da89d978",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value AlarmMax_i1",
        "rules": [
            {
                "t": "set",
                "p": "alarmMax_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4330,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "baf2c9ef680a4706",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value AlarmPreMax_i1",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMax_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4340,
        "y": 2020,
        "wires": [
            []
        ]
    },
    {
        "id": "4a030c80b810ac6d",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value AlarmPreMin_i1",
        "rules": [
            {
                "t": "set",
                "p": "alarmPreMin_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4340,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "433be6a7cf995625",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Save Value ConfigChoice_i1",
        "rules": [
            {
                "t": "set",
                "p": "configChoice_i1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3020,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "2bc55f8a61e01adc",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Delete selected choice",
        "func": "var configChoice_i1 = flow.get(\"configChoice_i1\");\nmsg.payload = \"cd C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs && del \" + configChoice_i1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2940,
        "y": 2180,
        "wires": [
            [
                "95a83f219d7f91f9",
                "a94cac357119c8a6"
            ]
        ]
    },
    {
        "id": "9da2cff19a0f448c",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Get choice to load config file",
        "func": "var configChoice_i1 = flow.get(\"configChoice_i1\");\nmsg.filename = \"C:\\\\Users\\\\gilvi\\\\Documents\\\\pea_virtBanc\\\\project_data\\\\sensor_configs\\\\current_configs\\\\\" + configChoice_i1\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3300,
        "y": 1620,
        "wires": [
            [
                "68723b40022b0d31"
            ]
        ]
    },
    {
        "id": "f23cf8cbcc382af8",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2770,
        "y": 1560,
        "wires": []
    },
    {
        "id": "eb76732fe1aac089",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Get file names and update Drop Down",
        "func": "msg.options = msg.payload \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3030,
        "y": 1520,
        "wires": [
            [
                "f5cda17aba473c7e"
            ]
        ]
    },
    {
        "id": "de21508cb5680cf0",
        "type": "delay",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "pauseType": "delay",
        "timeout": "200",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2450,
        "y": 2080,
        "wires": [
            [
                "348af2cbd527aeee",
                "d830fb4ed00eb2eb"
            ]
        ]
    },
    {
        "id": "c9714b9e67157c20",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2970,
        "y": 1740,
        "wires": []
    },
    {
        "id": "1856b3d862befbf6",
        "type": "ui_switch",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "swt_OnOff_i1",
        "label": "Off / On",
        "tooltip": "Turn on or off this sensor slot.",
        "group": "de718d4d4247e336",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "swtOnOff_i1",
        "topicType": "global",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": true,
        "className": "",
        "x": 2460,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "7e3847801029d98f",
        "type": "json",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 3150,
        "y": 1700,
        "wires": [
            [
                "850892d88de6dd97",
                "1bee9ea7c8bac4a8"
            ]
        ]
    },
    {
        "id": "850892d88de6dd97",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3170,
        "y": 1740,
        "wires": []
    },
    {
        "id": "86dee1d8183faab2",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "CHANGE FILE NAME PATH",
        "info": "Aqui mudar o comando de modo a funcionar no IOT.",
        "x": 2940,
        "y": 2140,
        "wires": []
    },
    {
        "id": "9ec23e5a8619a9d1",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "README - Notes for the directory structure in IOT2040",
        "info": "# Criar directrio onde sero guardados os config files e posteriormente acedidos.\n\n## Estrutura do Directrio:\n\n---\n\n### project_Data/\n###  sensor_Configs/\n###    acquired_Data/\n###      sensor1_Data.json\n###    adicional_NotificationSettings/\n###      extra_Noti_1.json\n###    current_Configs/\n###      config1_Current.json\n###    rs232_Configs/\n###      config1_rs232.json\n###    voltage_Configs/\n###      config1_Voltage.json\n### \n\n---\n",
        "x": 3500,
        "y": 1380,
        "wires": [],
        "icon": "node-red/alert.svg"
    },
    {
        "id": "fe11f4bb102e8889",
        "type": "switch",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Route Values",
        "property": "parts",
        "propertyType": "msg",
        "rules": [
            {
                "t": "index",
                "v": "0",
                "vt": "num",
                "v2": "0",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "1",
                "vt": "num",
                "v2": "1",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "2",
                "vt": "num",
                "v2": "2",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "3",
                "vt": "num",
                "v2": "3",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "4",
                "vt": "num",
                "v2": "4",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "5",
                "vt": "num",
                "v2": "5",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "6",
                "vt": "num",
                "v2": "6",
                "v2t": "num"
            },
            {
                "t": "index",
                "v": "7",
                "vt": "num",
                "v2": "7",
                "v2t": "num"
            }
        ],
        "checkall": "false",
        "repair": true,
        "outputs": 8,
        "x": 3610,
        "y": 1700,
        "wires": [
            [
                "427a4250dcaed5d7"
            ],
            [
                "9481838f4e7a4226"
            ],
            [
                "f1430b7e18b2f59d"
            ],
            [
                "b0179e10de161077"
            ],
            [
                "0a08bf422f67cf9b"
            ],
            [
                "56f096a94f084e41"
            ],
            [
                "2623cf8234119e02"
            ],
            [
                "3345734ba2599ac7"
            ]
        ]
    },
    {
        "id": "1bee9ea7c8bac4a8",
        "type": "split",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "splitConfigFile",
        "splt": "",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 3380,
        "y": 1700,
        "wires": [
            [
                "fe11f4bb102e8889",
                "9d8339ac5645cfdc"
            ]
        ]
    },
    {
        "id": "9d8339ac5645cfdc",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "parts",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 3360,
        "y": 1740,
        "wires": []
    },
    {
        "id": "f1430b7e18b2f59d",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 1640,
        "wires": [
            [
                "575f07abed7778ca"
            ]
        ]
    },
    {
        "id": "b0179e10de161077",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 1680,
        "wires": [
            [
                "26ea8bb5c400736e"
            ]
        ]
    },
    {
        "id": "56f096a94f084e41",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 1760,
        "wires": [
            [
                "987d30efac1960e4"
            ]
        ]
    },
    {
        "id": "2623cf8234119e02",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 1800,
        "wires": [
            [
                "6c06383e40b6e228"
            ]
        ]
    },
    {
        "id": "3345734ba2599ac7",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 1840,
        "wires": [
            [
                "b730c05ab4a5ce16"
            ]
        ]
    },
    {
        "id": "0a08bf422f67cf9b",
        "type": "function",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "StringToNumber",
        "func": "msg.payload = Number(msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3940,
        "y": 1720,
        "wires": [
            [
                "5f57390064168a30"
            ]
        ]
    },
    {
        "id": "cf3cfd88132d7650",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 3300,
        "y": 1580,
        "wires": []
    },
    {
        "id": "a1cf0d3f3d794e45",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "CHANGE FILE NAME PATH",
        "info": "",
        "x": 3040,
        "y": 1940,
        "wires": []
    },
    {
        "id": "cabc5a960e42b767",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Read Me",
        "info": "### A ideia aqui  permitir dar enable ou disable  configurao.\n### Podendo desligar ou ligar a entrada em causa.",
        "x": 2440,
        "y": 1260,
        "wires": []
    },
    {
        "id": "5609dbba38c12861",
        "type": "comment",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "CHANGE FOLDER PATH",
        "info": "### Aqui colocar o path para a pasta correcta de configurao dos sensores em causa. (currente, tenso, rs232)\n\nNeste caso, o path da pasta /../voltage_configs/",
        "x": 2770,
        "y": 1480,
        "wires": []
    },
    {
        "id": "a94cac357119c8a6",
        "type": "debug",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 2910,
        "y": 2220,
        "wires": []
    },
    {
        "id": "af9103bd19d5a22e",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "btn_clean_i1",
        "group": "de718d4d4247e336",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Clean",
        "tooltip": "Clean form entries.",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-eraser",
        "payload": "",
        "payloadType": "str",
        "topic": "clean_i1",
        "topicType": "msg",
        "x": 3930,
        "y": 1980,
        "wires": [
            [
                "cf76df96e95b6382"
            ]
        ]
    },
    {
        "id": "cf76df96e95b6382",
        "type": "change",
        "z": "65e22a06500efde0",
        "g": "354638edd0519813",
        "name": "Set to Null",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "null",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3930,
        "y": 2020,
        "wires": [
            [
                "427a4250dcaed5d7",
                "9481838f4e7a4226",
                "575f07abed7778ca",
                "26ea8bb5c400736e",
                "5f57390064168a30",
                "987d30efac1960e4",
                "6c06383e40b6e228",
                "b730c05ab4a5ce16"
            ]
        ]
    },
    {
        "id": "060f466f5f40357e",
        "type": "ui_button",
        "z": "65e22a06500efde0",
        "g": "dbd94cb91876550c",
        "name": "btn_refresh_u0",
        "group": "a6e009ae9c645b20",
        "order": 5,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "fa-refresh",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 160,
        "y": 700,
        "wires": [
            [
                "4339c7c551c942c0",
                "8c764812525cd341"
            ]
        ]
    },
    {
        "id": "3bc1e637a7944627",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Sensor Name",
        "tooltip": "",
        "group": "57e75abf8bb40e38",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 200,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "55405cadac9011b6",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Units",
        "tooltip": "",
        "group": "57e75abf8bb40e38",
        "order": 18,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "48165d508e003787",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Range Min",
        "tooltip": "",
        "group": "57e75abf8bb40e38",
        "order": 20,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "b86f50934ba34607",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Connection Type",
        "tooltip": "",
        "place": "Connection Type",
        "group": "57e75abf8bb40e38",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "RS232",
                "value": "RS232",
                "type": "str"
            },
            {
                "label": "RS485",
                "value": "RS485",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 210,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "d9d6245322df670b",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Range Max",
        "tooltip": "",
        "group": "57e75abf8bb40e38",
        "order": 21,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "958336381d2aeea9",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Alarm Min",
        "tooltip": "",
        "group": "57e75abf8bb40e38",
        "order": 22,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 180,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "c155326a958e43a1",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Alarm Max",
        "tooltip": "",
        "group": "57e75abf8bb40e38",
        "order": 23,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "ecb2887c0b7b4634",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Parity",
        "tooltip": "",
        "place": "Parity",
        "group": "57e75abf8bb40e38",
        "order": 14,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "none",
                "value": "none",
                "type": "str"
            },
            {
                "label": "even",
                "value": "even",
                "type": "str"
            },
            {
                "label": "odd",
                "value": "odd",
                "type": "str"
            },
            {
                "label": "mark",
                "value": "mark",
                "type": "str"
            },
            {
                "label": "space",
                "value": "space",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "d99b467a14bce601",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "BaudRate",
        "tooltip": "",
        "place": "Baude Rate",
        "group": "57e75abf8bb40e38",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1200",
                "value": "1200",
                "type": "str"
            },
            {
                "label": "2400",
                "value": "2400",
                "type": "str"
            },
            {
                "label": "4800",
                "value": "4800",
                "type": "str"
            },
            {
                "label": "9600",
                "value": "9600",
                "type": "str"
            },
            {
                "label": "14400",
                "value": "14400",
                "type": "str"
            },
            {
                "label": "19200",
                "value": "19200",
                "type": "str"
            },
            {
                "label": "28800",
                "value": "28800",
                "type": "str"
            },
            {
                "label": "38400",
                "value": "38400",
                "type": "str"
            },
            {
                "label": "57600",
                "value": "57600",
                "type": "str"
            },
            {
                "label": "115200",
                "value": "115200",
                "type": "str"
            },
            {
                "label": "230400",
                "value": "230400",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 180,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "afe5929244ddf2f1",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Data Bits",
        "tooltip": "",
        "place": "Data Bits",
        "group": "57e75abf8bb40e38",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": "7",
                "type": "str"
            },
            {
                "label": "8",
                "value": "8",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 180,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "faa3a3c8e6c068b9",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Stop Bits",
        "tooltip": "",
        "place": "Stop Bits",
        "group": "57e75abf8bb40e38",
        "order": 12,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 180,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "ef06abc9d71b8a42",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Flow Control",
        "tooltip": "",
        "place": "Flow Control",
        "group": "57e75abf8bb40e38",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "RTS/CTS",
                "value": "RTS/CTS",
                "type": "str"
            },
            {
                "label": "DTR/DSR",
                "value": "DTR/DSR",
                "type": "str"
            },
            {
                "label": "XON/XOFF",
                "value": "XON/XOFF",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 190,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b181e599e6e4ec4e",
        "type": "ui_button",
        "z": "1f7c08926646476c",
        "name": "",
        "group": "57e75abf8bb40e38",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Load",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "8273154c98e84016",
        "type": "ui_button",
        "z": "1f7c08926646476c",
        "name": "",
        "group": "57e75abf8bb40e38",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "4df8dd09f32c704e",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "Choice",
        "label": "Saved Config.",
        "tooltip": "",
        "place": "",
        "group": "57e75abf8bb40e38",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Sensor-1",
                "value": "Sensor-1",
                "type": "str"
            },
            {
                "label": "Sensor-2",
                "value": "Sensor-2",
                "type": "str"
            },
            {
                "label": "Sensor-3",
                "value": "Sensor-3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Choice ",
        "topicType": "str",
        "className": "",
        "x": 180,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "4856f07596e7f9d2",
        "type": "ui_button",
        "z": "1f7c08926646476c",
        "name": "",
        "group": "57e75abf8bb40e38",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "0c9dd726a784956d",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Sensor Name",
        "tooltip": "",
        "group": "f161c84d8b4b8b8b",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 200,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "c0ad5c2850071f6e",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Units",
        "tooltip": "",
        "group": "f161c84d8b4b8b8b",
        "order": 18,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 170,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "47d814f76d891365",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Range Min",
        "tooltip": "",
        "group": "f161c84d8b4b8b8b",
        "order": 20,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "6077a3288d8bd688",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Connection Type",
        "tooltip": "",
        "place": "Connection Type",
        "group": "f161c84d8b4b8b8b",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "RS232",
                "value": "RS232",
                "type": "str"
            },
            {
                "label": "RS485",
                "value": "RS485",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 210,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "730d0f0f3572bb0b",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Range Max",
        "tooltip": "",
        "group": "f161c84d8b4b8b8b",
        "order": 21,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "98112e853efe4cf4",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Alarm Min",
        "tooltip": "",
        "group": "f161c84d8b4b8b8b",
        "order": 22,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 180,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "f630405930adb69e",
        "type": "ui_text_input",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Alarm Max",
        "tooltip": "",
        "group": "f161c84d8b4b8b8b",
        "order": 23,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "number",
        "delay": "0",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 190,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "eb56a4e5da2396e9",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Parity",
        "tooltip": "",
        "place": "Parity",
        "group": "f161c84d8b4b8b8b",
        "order": 14,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "none",
                "value": "none",
                "type": "str"
            },
            {
                "label": "even",
                "value": "even",
                "type": "str"
            },
            {
                "label": "odd",
                "value": "odd",
                "type": "str"
            },
            {
                "label": "mark",
                "value": "mark",
                "type": "str"
            },
            {
                "label": "space",
                "value": "space",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 170,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "328c60af4faa0f36",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "BaudRate",
        "tooltip": "",
        "place": "Baude Rate",
        "group": "f161c84d8b4b8b8b",
        "order": 6,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1200",
                "value": "1200",
                "type": "str"
            },
            {
                "label": "2400",
                "value": "2400",
                "type": "str"
            },
            {
                "label": "4800",
                "value": "4800",
                "type": "str"
            },
            {
                "label": "9600",
                "value": "9600",
                "type": "str"
            },
            {
                "label": "14400",
                "value": "14400",
                "type": "str"
            },
            {
                "label": "19200",
                "value": "19200",
                "type": "str"
            },
            {
                "label": "28800",
                "value": "28800",
                "type": "str"
            },
            {
                "label": "38400",
                "value": "38400",
                "type": "str"
            },
            {
                "label": "57600",
                "value": "57600",
                "type": "str"
            },
            {
                "label": "115200",
                "value": "115200",
                "type": "str"
            },
            {
                "label": "230400",
                "value": "230400",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 180,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "8a6c4e06eefe4b5d",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Data Bits",
        "tooltip": "",
        "place": "Data Bits",
        "group": "f161c84d8b4b8b8b",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "5",
                "value": "5",
                "type": "str"
            },
            {
                "label": "6",
                "value": "6",
                "type": "str"
            },
            {
                "label": "7",
                "value": "7",
                "type": "str"
            },
            {
                "label": "8",
                "value": "8",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 180,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "b198bfa44c757962",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Stop Bits",
        "tooltip": "",
        "place": "Stop Bits",
        "group": "f161c84d8b4b8b8b",
        "order": 12,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2",
                "value": "2",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 180,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "6e7944f8401857b0",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "",
        "label": "Flow Control",
        "tooltip": "",
        "place": "Flow Control",
        "group": "f161c84d8b4b8b8b",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "RTS/CTS",
                "value": "RTS/CTS",
                "type": "str"
            },
            {
                "label": "DTR/DSR",
                "value": "DTR/DSR",
                "type": "str"
            },
            {
                "label": "XON/XOFF",
                "value": "XON/XOFF",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 190,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "e193de6a4ba878d9",
        "type": "ui_button",
        "z": "1f7c08926646476c",
        "name": "",
        "group": "f161c84d8b4b8b8b",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Load",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "a7852dbe3768908f",
        "type": "ui_button",
        "z": "1f7c08926646476c",
        "name": "",
        "group": "f161c84d8b4b8b8b",
        "order": 8,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b478347856c3b41e",
        "type": "ui_dropdown",
        "z": "1f7c08926646476c",
        "name": "Choice",
        "label": "Saved Config.",
        "tooltip": "",
        "place": "",
        "group": "f161c84d8b4b8b8b",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "Sensor-1",
                "value": "Sensor-1",
                "type": "str"
            },
            {
                "label": "Sensor-2",
                "value": "Sensor-2",
                "type": "str"
            },
            {
                "label": "Sensor-3",
                "value": "Sensor-3",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "Choice ",
        "topicType": "str",
        "className": "",
        "x": 180,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "a7784c25c30ef746",
        "type": "ui_button",
        "z": "1f7c08926646476c",
        "name": "",
        "group": "f161c84d8b4b8b8b",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Delete",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 840,
        "wires": [
            []
        ]
    }
]