Node-Red Flows/exemplo_flow.json
[
    {
        "id": "a0febb92.772698",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "99139d81.bd79b",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "49de8910.30c838",
        "type": "ui_group",
        "z": "",
        "name": "Default",
        "tab": "99139d81.bd79b",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d395b093.b0262",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d11064ee.46c818",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "49de8910.30c838",
        "order": 2,
        "width": 3,
        "height": 1
    },
    {
        "id": "606745ab.64529c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "49de8910.30c838",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "adae183a.051598",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "49de8910.30c838",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "e4dd5252.43f4c",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "49de8910.30c838",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "12acf6b8.ac83b9",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "49de8910.30c838",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "e283062a.0330d8",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "49de8910.30c838",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "3ba44597.dbf5fa",
        "type": "ui_spacer",
        "name": "spacer",
        "group": "49de8910.30c838",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "372d0ba6.e9e094",
        "type": "mraa-gpio-ain",
        "z": "a0febb92.772698",
        "name": "U0",
        "pin": "0",
        "interval": "100",
        "x": 180,
        "y": 260,
        "wires": [
            [
                "b010d524.538728",
                "fe37ec2c.e4713"
            ]
        ]
    },
    {
        "id": "b010d524.538728",
        "type": "debug",
        "z": "a0febb92.772698",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 400,
        "wires": []
    },
    {
        "id": "3e41124a.83f12e",
        "type": "ui_gauge",
        "z": "a0febb92.772698",
        "name": "",
        "group": "49de8910.30c838",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Distância",
        "label": "mm",
        "format": "{{value}}",
        "min": 0,
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1140,
        "y": 260,
        "wires": []
    },
    {
        "id": "fe37ec2c.e4713",
        "type": "range",
        "z": "a0febb92.772698",
        "minin": "0",
        "maxin": "1023",
        "minout": "0",
        "maxout": "300",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "",
        "x": 450,
        "y": 260,
        "wires": [
            [
                "f1450fc8.dc6a9",
                "75307a44.c529e4"
            ]
        ]
    },
    {
        "id": "f1450fc8.dc6a9",
        "type": "debug",
        "z": "a0febb92.772698",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 400,
        "wires": []
    },
    {
        "id": "75307a44.c529e4",
        "type": "function",
        "z": "a0febb92.772698",
        "name": "",
        "func": "num = msg.payload\nmsg.payload = Math.round(num * 100) / 100\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 720,
        "y": 260,
        "wires": [
            [
                "3e41124a.83f12e",
                "d068b16b.7153f"
            ]
        ]
    },
    {
        "id": "d068b16b.7153f",
        "type": "debug",
        "z": "a0febb92.772698",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 400,
        "wires": []
    },
    {
        "id": "cc23ec19.5ed2b",
        "type": "csv",
        "z": "a0febb92.772698",
        "name": "",
        "sep": ",",
        "hdrin": "",
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 910,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "34d8367a.75efea",
        "type": "json",
        "z": "a0febb92.772698",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1050,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "91ea16c2.a7daf8",
        "type": "yaml",
        "z": "a0febb92.772698",
        "property": "payload",
        "name": "",
        "x": 1190,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "fe25db9d.65b5a8",
        "type": "exec",
        "z": "a0febb92.772698",
        "command": "cat /sys/class/thermal/thermal_zone0/temp",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 500,
        "y": 620,
        "wires": [
            [
                "3b3e2f1b.a977d",
                "b4379c1.8e5d96"
            ],
            [
                "814b8ae9.3175d8"
            ],
            []
        ]
    },
    {
        "id": "e5cd4a5c.1468e8",
        "type": "inject",
        "z": "a0febb92.772698",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 620,
        "wires": [
            [
                "fe25db9d.65b5a8"
            ]
        ]
    },
    {
        "id": "3b3e2f1b.a977d",
        "type": "debug",
        "z": "a0febb92.772698",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 660,
        "wires": []
    },
    {
        "id": "b4379c1.8e5d96",
        "type": "ui_gauge",
        "z": "a0febb92.772698",
        "name": "",
        "group": "49de8910.30c838",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "gauge",
        "label": "ºC",
        "format": "{{value}}",
        "min": 0,
        "max": "99",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "40",
        "seg2": "70",
        "x": 1130,
        "y": 580,
        "wires": []
    },
    {
        "id": "814b8ae9.3175d8",
        "type": "debug",
        "z": "a0febb92.772698",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 760,
        "wires": []
    }
]