Node-Red Flows/exemplo_flow.json
[{"id":"a0febb92.772698","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"372d0ba6.e9e094","type":"mraa-gpio-ain","z":"a0febb92.772698","name":"U0","pin":"0","interval":"100","x":180,"y":260,"wires":[["b010d524.538728","fe37ec2c.e4713"]]},{"id":"b010d524.538728","type":"debug","z":"a0febb92.772698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":400,"wires":[]},{"id":"3e41124a.83f12e","type":"ui_gauge","z":"a0febb92.772698","name":"","group":"49de8910.30c838","order":0,"width":0,"height":0,"gtype":"compass","title":"Distância","label":"mm","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":260,"wires":[]},{"id":"fe37ec2c.e4713","type":"range","z":"a0febb92.772698","minin":"0","maxin":"1023","minout":"0","maxout":"300","action":"scale","round":false,"property":"payload","name":"","x":480,"y":260,"wires":[["f1450fc8.dc6a9","75307a44.c529e4"]]},{"id":"f1450fc8.dc6a9","type":"debug","z":"a0febb92.772698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":610,"y":400,"wires":[]},{"id":"75307a44.c529e4","type":"function","z":"a0febb92.772698","name":"","func":"num = msg.payload\nmsg.payload = Math.round(num * 100) / 100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":260,"wires":[["3e41124a.83f12e","d068b16b.7153f"]]},{"id":"d068b16b.7153f","type":"debug","z":"a0febb92.772698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":890,"y":400,"wires":[]},{"id":"49de8910.30c838","type":"ui_group","z":"","name":"Default","tab":"99139d81.bd79b","order":1,"disp":true,"width":"6","collapse":false},{"id":"99139d81.bd79b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]