Node-Red Flows/flows_26_5_2022.json
[{"id":"33432789.4c70f8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d1fcf424.5c7848","type":"tab","label":"Testes","disabled":false,"info":""},{"id":"651d6d0f.e08224","type":"tab","label":"DashBoard - Analog Config","disabled":false,"info":""},{"id":"e5b614e7.c01578","type":"tab","label":"Dashboard - RS232/485 Config","disabled":false,"info":""},{"id":"671189e8.bb32c8","type":"group","z":"651d6d0f.e08224","name":"config_i0","style":{"stroke":"#ffff00","label":true,"fill":"#ffffbf","fill-opacity":"0.5","color":"#000000"},"nodes":["9eaa7dc.404048","20f68386.4740ec","ce172677.f5dfe8","f2f4decc.51e69","7026f037.61ee9","42759866.eb3cd8","37776b53.72c8c4","4884e58a.83b68c","ff4981eb.72a95","616b85ad.ec089c","18b5c5e4.998d7a","66ca41c4.fbd29","f44bc23f.1df35","fd8173f5.1e529","1d670c94.5253b3","305be7e2.8c1a48","7167f8b1.a49ce8","a0e569b2.71a5f8","5bfe86db.9065f8","afb10759.2d01b8","4a82f887.28bc98","a0ba7c4c.71208","1e8e6d88.e75862","648b1c65.ffe604"],"x":2254,"y":39},{"id":"ca9ab8b6.7e1c18","type":"group","z":"651d6d0f.e08224","name":"config_i1","style":{"stroke":"#ffff00","label":true,"fill":"#ffff7f","fill-opacity":"0.5","color":"#000000"},"nodes":["b75fc701.0cac28","1694823f.047b8e","29a0d631.29dfaa","e597c88e.4db5d8"],"x":2234,"y":1159},{"id":"5ea3fdd3.295654","type":"group","z":"651d6d0f.e08224","name":"config_u0","style":{"stroke":"#0070c0","label":true,"fill":"#bfdbef","fill-opacity":"0.5","color":"#000000"},"nodes":["af4fc757.c4e1c8","f67e3a14.bc7a08","a8afcbe3.938438","21f2cba.9bc4e34","2b58bf04.a4c14","bd61eb28.8f7688","3ca30555.f7918a","c6cb1c8e.4c991","a11018b7.4fe8b8","8f0705d2.295d48","976c7773.5f8df8","db355386.e1251","c7d7c317.55ac3","303e3a.a51191c6","6d66cf55.953c4","559c5872.3fa2f8","9da41d4b.1f87e","4309eb17.208a34","b0b77edc.8518","cb23a071.6f74f","a7f7a9b9.1e9e28","2330eea0.a67132","bf7d9077.b5ace","c3c5bebf.4d56f","e449d531.ff4148","922d556b.b02cd8","4fff6a73.e7a304","cd053821.e1ce48","6a984bd1.5a1944","243f9108.2122ae","c173c51f.e6fd58","ffd3b435.3f51b8","e16823bf.af33d","154ab818.ccf738","a06e34a8.f93be8","aa4d243f.299748","a2953d51.c9bcb","687f3969.40c2b8","50dcb393.1f737c","cb9967e6.aa4948","31da5556.0dbf0a","47191f7b.6d88a","fab75918.ed9928","47eb69f5.42f788","e21e4ebe.a2238","45540fc1.fda08","1fe43b72.3c6f35","1ee07689.81fe49","353c1a69.3b7206","4158c2d5.c81edc","9c13f1d1.5212a","a6c3eaf7.6aaaf8","70e10694.f120d8","84a8bbd.c7cf148","83a133f6.9163e","acca724e.96553","6d64dc84.b1b064","7f39d17d.af052","82d85921.87e378","ede2dc20.18727","2f2a1815.cdaea8","5fe75f9c.c7063"],"x":34,"y":39},{"id":"39fed12.d56072e","type":"group","z":"651d6d0f.e08224","name":"config_u1","style":{"stroke":"#0070c0","label":true,"fill":"#bfdbef","fill-opacity":"0.5","color":"#000000"},"nodes":["8c905904.9bd758","14bde738.4f6b19","46afa1bd.bdf79","52c2b802.4eec68","9e1c4d54.10e85","15884857.16edb8","9bd98220.ffac5","f694daf1.941a38","1698f2f8.94a07d","e284cc05.2ea33","8ff0a4f8.49cfb8","6d57a400.da9d2c","bf24b0bb.485d5","1e3d3b99.7e4f24","4b3191d5.05636","8ea88bc.c326378","80a48b87.7ec178","58a0e3a2.84a84c","540cc318.bd818c","c3aca39e.3d5e2","e716e4e1.868818","e6b64584.316ae8","82b45506.a734b8","1e8aa4f5.f281fb","3024a359.0414bc","d60523f1.8060e","46221b40.c1af74","f40d04c8.60dbe8","aa22d230.71065","4c2fb224.b4680c","ce523a50.f00068","fa41f2f0.7e352","cb611bff.1a31b8","af088b3c.a1ec98","f121772a.a08a68","cc0e1d24.838e1","28867b.0fbd1986","cea00205.3f5e9","bdeeace7.0eb12","25e228ae.339d58","b5eb6c5c.195cc","3ba7cd58.21db42","380f31c.94a97ce","8b003f66.c33a3","983a0021.dcd67","690e5cf4.ffc5b4","a66b18af.180ed8","e70b6650.f57fb8","5b319635.485ee8","fd1d4a82.52ac88","6b252d9a.a81ed4","e48bc8e5.833e28","16907933.6726c7","499f8f77.beefc","5a52000b.6161b","d000bb87.ca7958","19cc6928.2362f7","349b81fb.79d3ee","60aab09c.99f31","7e422c55.682c34","7ba386cb.1a8748","755e26e2.09bef8","2d143e7b.1b0c92"],"x":34,"y":1159},{"id":"49de8910.30c838","type":"ui_group","z":"","name":"","tab":"99139d81.bd79b","order":1,"disp":true,"width":25,"collapse":false},{"id":"99139d81.bd79b","type":"ui_tab","z":"","name":"Main","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e0896d4b.ce552","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Bancada Virtual De Diagnóstico de Equipamentos Industriais","hideToolbar":"false","allowSwipe":"false","lockMenu":"true","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"66935ec7.f1b83","type":"modbus-client","z":"","name":"Consumos","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyS2","serialType":"RTU","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"2","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"157c8c34.08ca04","type":"ui_tab","name":"Analog Config","icon":"fa-sliders","order":4,"disabled":false,"hidden":false},{"id":"991c29cc.67bf28","type":"ui_group","name":"Analog u0","tab":"","order":1,"disp":true,"width":12,"collapse":false},{"id":"b08d927a.2a559","type":"ui_group","z":"","name":"u0 (Voltage)","tab":"157c8c34.08ca04","order":1,"disp":true,"width":"12","collapse":false},{"id":"9d77d56a.2f7c98","type":"ui_group","name":"RS232/485 - 1","tab":"","order":5,"disp":true,"width":12,"collapse":false},{"id":"63f9258.85479dc","type":"ui_tab","name":"RS232/485 Config","icon":"fa-sliders","order":5,"disabled":false,"hidden":false},{"id":"58e86787.e7f1c8","type":"ui_group","name":"RS232/485 - COM x30","tab":"63f9258.85479dc","order":1,"disp":true,"width":"12","collapse":false},{"id":"931d539c.01f51","type":"ui_tab","name":"Notifications (Alarms)","icon":"fa-bell","order":3,"disabled":false,"hidden":false},{"id":"515caf36.02a13","type":"ui_group","name":"Group 1","tab":"931d539c.01f51","order":1,"disp":true,"width":6},{"id":"576a592b.001f08","type":"ui_group","name":"Analog i0","tab":"","order":2,"disp":true,"width":12,"collapse":false},{"id":"b3c401b.0a2dd","type":"ui_group","name":"Analog u1","tab":"","order":3,"disp":true,"width":12,"collapse":false},{"id":"3e2f48c5.b4d068","type":"ui_group","name":"Analog i1","tab":"","order":4,"disp":true,"width":12,"collapse":false},{"id":"e2e927b0.1182b8","type":"ui_group","name":"RS232/485 - 2","tab":"","order":6,"disp":true,"width":12,"collapse":false},{"id":"3cd523c0.e970bc","type":"ui_group","name":"i0 (Current)","tab":"157c8c34.08ca04","order":2,"disp":true,"width":"12","collapse":false},{"id":"4c9c7b6.e68fc84","type":"ui_group","name":"u1 (Voltage)","tab":"157c8c34.08ca04","order":3,"disp":true,"width":"12","collapse":false},{"id":"33b81018.1618c","type":"ui_group","name":"i1 (Current)","tab":"157c8c34.08ca04","order":4,"disp":true,"width":"12","collapse":false},{"id":"bb794f18.558cc","type":"ui_group","name":"RS232/485 - COM x31","tab":"63f9258.85479dc","order":2,"disp":true,"width":"12","collapse":false},{"id":"49198984.680bf8","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"58e86787.e7f1c8","order":4,"width":3,"height":1},{"id":"67b4312c.4168f","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"58e86787.e7f1c8","order":7,"width":3,"height":1},{"id":"38bcc5b.493ba3a","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"58e86787.e7f1c8","order":10,"width":3,"height":1},{"id":"5d47c073.92d67","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"58e86787.e7f1c8","order":13,"width":6,"height":1},{"id":"9a32a18a.62d3","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"58e86787.e7f1c8","order":15,"width":6,"height":1},{"id":"ea72025a.238e7","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"58e86787.e7f1c8","order":17,"width":6,"height":1},{"id":"e3baeb28.1126e8","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"58e86787.e7f1c8","order":19,"width":6,"height":1},{"id":"2ebba84f.b7d028","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"bb794f18.558cc","order":4,"width":3,"height":1},{"id":"7d9f1d61.bed1e4","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"bb794f18.558cc","order":7,"width":3,"height":1},{"id":"3c686adf.5d8486","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"bb794f18.558cc","order":10,"width":3,"height":1},{"id":"54acc62b.6275f8","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"bb794f18.558cc","order":13,"width":6,"height":1},{"id":"ac18078a.0d2608","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"bb794f18.558cc","order":15,"width":6,"height":1},{"id":"167307de.790108","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"bb794f18.558cc","order":17,"width":6,"height":1},{"id":"77a2019c.1b17f","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"bb794f18.558cc","order":19,"width":6,"height":1},{"id":"343a3cac.a1d9f4","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"991c29cc.67bf28","order":1,"width":12,"height":1},{"id":"aa9b71d2.5c3ed","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"991c29cc.67bf28","order":2,"width":12,"height":1},{"id":"6165cc00.282e24","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"991c29cc.67bf28","order":3,"width":12,"height":1},{"id":"a9ff70c4.595ea","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"991c29cc.67bf28","order":4,"width":12,"height":1},{"id":"80a24090.f09d5","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"576a592b.001f08","order":1,"width":12,"height":1},{"id":"75056ab9.3b9754","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"576a592b.001f08","order":2,"width":12,"height":1},{"id":"3f609596.502a4a","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"576a592b.001f08","order":3,"width":12,"height":1},{"id":"9290c7b2.57aa78","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"576a592b.001f08","order":4,"width":12,"height":1},{"id":"dbd37aec.6b28a8","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"b3c401b.0a2dd","order":1,"width":12,"height":1},{"id":"8ae0a787.bb9be8","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"b3c401b.0a2dd","order":2,"width":12,"height":1},{"id":"e5855569.87bc18","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"b3c401b.0a2dd","order":3,"width":12,"height":1},{"id":"4442e857.0a1778","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"b3c401b.0a2dd","order":4,"width":12,"height":1},{"id":"bf8d8e3c.d53a5","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"3e2f48c5.b4d068","order":1,"width":12,"height":1},{"id":"fe820c0a.9bad4","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"3e2f48c5.b4d068","order":2,"width":12,"height":1},{"id":"25c3f4ca.72e88c","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"3e2f48c5.b4d068","order":3,"width":12,"height":1},{"id":"8279f0b2.ee51c","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"3e2f48c5.b4d068","order":4,"width":12,"height":1},{"id":"6b9f7b98.deb8b4","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"9d77d56a.2f7c98","order":1,"width":12,"height":1},{"id":"2689699f.b8a346","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"9d77d56a.2f7c98","order":2,"width":12,"height":1},{"id":"32f5c300.94f72e","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"9d77d56a.2f7c98","order":3,"width":12,"height":1},{"id":"ff92edd7.dd061","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"9d77d56a.2f7c98","order":4,"width":12,"height":1},{"id":"36b507f8.6de798","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"e2e927b0.1182b8","order":1,"width":12,"height":1},{"id":"40fc8314.751ecc","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"e2e927b0.1182b8","order":2,"width":12,"height":1},{"id":"4e6fd870.fe5f68","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"e2e927b0.1182b8","order":3,"width":12,"height":1},{"id":"aa1a8349.69a46","type":"ui_spacer","z":"e5b614e7.c01578","name":"spacer","group":"e2e927b0.1182b8","order":4,"width":12,"height":1},{"id":"bf623152.404e7","type":"ui_spacer","name":"spacer","group":"515caf36.02a13","order":1,"width":6,"height":1},{"id":"4de6ff7d.50549","type":"ui_spacer","name":"spacer","group":"515caf36.02a13","order":2,"width":6,"height":1},{"id":"7eead966.0c73d8","type":"ui_spacer","name":"spacer","group":"b08d927a.2a559","order":15,"width":8,"height":1},{"id":"d270db64.10c3d8","type":"ui_spacer","name":"spacer","group":"3cd523c0.e970bc","order":15,"width":8,"height":1},{"id":"5fb365e6.f2afcc","type":"ui_spacer","name":"spacer","group":"4c9c7b6.e68fc84","order":15,"width":8,"height":1},{"id":"7fce23e4.9be8fc","type":"ui_spacer","name":"spacer","group":"33b81018.1618c","order":15,"width":8,"height":1},{"id":"53bea30c.e8911c","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":2,"width":1,"height":1},{"id":"5a5a672c.97e458","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":4,"width":25,"height":1},{"id":"3edc446f.322d0c","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":7,"width":4,"height":1},{"id":"67a1c006.e8005","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":8,"width":4,"height":1},{"id":"fd2f6ae.4ee9c98","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":9,"width":4,"height":1},{"id":"d01e7771.0acd48","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":10,"width":4,"height":1},{"id":"9053889f.ae7998","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":11,"width":25,"height":1},{"id":"246dc6c9.1bc47a","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":15,"width":4,"height":1},{"id":"f328377.09fbdc8","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":16,"width":4,"height":1},{"id":"5b824ae2.5eb394","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":18,"width":4,"height":1},{"id":"d206510d.9b5f5","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":19,"width":4,"height":1},{"id":"48ab7b83.159db4","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":21,"width":25,"height":1},{"id":"94236c1d.87f43","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":25,"width":4,"height":1},{"id":"8be544af.4e9558","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":26,"width":4,"height":1},{"id":"eaa065ea.e1e4c8","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":28,"width":4,"height":1},{"id":"b315d5a4.ee7318","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":29,"width":4,"height":1},{"id":"2333cef5.e970c2","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":31,"width":25,"height":1},{"id":"89a36e33.80d78","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":35,"width":4,"height":1},{"id":"87241c5b.e2afc","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":36,"width":4,"height":1},{"id":"4b23208b.fd87e","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":38,"width":4,"height":1},{"id":"b79972f7.84b6f","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":39,"width":4,"height":1},{"id":"9e8fbcc4.cc91d","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":41,"width":25,"height":1},{"id":"26ed3220.d0e3ce","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":45,"width":4,"height":1},{"id":"a5a3b43b.dd29f8","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":46,"width":4,"height":1},{"id":"765c55ea.aec82c","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":48,"width":4,"height":1},{"id":"a670baeb.77f4f8","type":"ui_spacer","name":"spacer","group":"49de8910.30c838","order":49,"width":4,"height":1},{"id":"a2daab02.646e68","type":"mraa-gpio-ain","z":"33432789.4c70f8","name":"U0","pin":"0","interval":"1000","x":170,"y":100,"wires":[["caaf35fc.9e2db8"]]},{"id":"6a58152c.d823bc","type":"ui_gauge","z":"33432789.4c70f8","name":"Gauge_U0","group":"49de8910.30c838","order":12,"width":9,"height":7,"gtype":"compass","title":"{{msg.payload.props.name}}","label":"{{msg.payload.props.units}}","format":"{{msg.payload.value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":380,"wires":[]},{"id":"a60e1cdd.737f3","type":"exec","z":"33432789.4c70f8","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":510,"y":2260,"wires":[["2a49dd54.a08d22","51667abd.c93104","fb8912b1.79a85"],[],[]]},{"id":"25a2ebd4.c36554","type":"inject","z":"33432789.4c70f8","name":"","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":2260,"wires":[["a60e1cdd.737f3"]]},{"id":"2a49dd54.a08d22","type":"ui_gauge","z":"33432789.4c70f8","name":"","group":"49de8910.30c838","order":5,"width":9,"height":4,"gtype":"gage","title":"Temperatura Processador IOT 2040","label":"ºC","format":"{{value}}","min":0,"max":"99","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"70","x":870,"y":2240,"wires":[]},{"id":"51667abd.c93104","type":"ui_chart","z":"33432789.4c70f8","name":"","group":"49de8910.30c838","order":6,"width":12,"height":4,"label":"Temperatura Processador IOT2040","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":880,"y":2280,"wires":[[]]},{"id":"6edc6e2c.790c1","type":"mraa-gpio-ain","z":"33432789.4c70f8","name":"I1","pin":"3","interval":"1000","x":170,"y":1800,"wires":[["fabd83bf.b8352"]]},{"id":"be926d02.923a3","type":"ui_gauge","z":"33432789.4c70f8","name":"Gauge_I1","group":"49de8910.30c838","order":42,"width":9,"height":7,"gtype":"gage","title":"{{msg.payload.props.name}}","label":"{{msg.payload.props.units}}","format":"{{msg.payload.value}}","min":0,"max":"10","colors":["#cd3737","#00e626","#ca3838"],"seg1":"4","seg2":"8","x":1200,"y":2080,"wires":[]},{"id":"be63bcdc.9d4c3","type":"file","z":"33432789.4c70f8","name":"Write File","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1320,"y":440,"wires":[[]]},{"id":"f151b5e3.4f7718","type":"json","z":"33432789.4c70f8","name":"","property":"payload","action":"str","pretty":true,"x":1170,"y":440,"wires":[["be63bcdc.9d4c3"]]},{"id":"dc81cd27.8b45a","type":"function","z":"33432789.4c70f8","name":"","func":"var recolha = flow.get(\"recolha\")\nvar nome = flow.get(\"nomeficheiro\")\nif (msg.payload.props.enabled==true && recolha==true){\n    var time=new Date().toISOString();\n    //time=substr() \n    var sensor_name=msg.payload.props.name;\n    payload={\"t\":time,\"v\":msg.payload.value,\"s\":sensor_name};\n    msg.payload=payload\n    \n    msg.filename = \"usr/dados/\"+ nome + \".json\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":440,"wires":[["f151b5e3.4f7718"]]},{"id":"7fb216a5.453f58","type":"json","z":"33432789.4c70f8","name":"","property":"payload","action":"str","pretty":true,"x":970,"y":2320,"wires":[["6fc209d8.82ddb8"]]},{"id":"fb8912b1.79a85","type":"function","z":"33432789.4c70f8","name":"","func":"var recolha = flow.get(\"recolha\")\nvar nome = flow.get(\"nomeficheiro\")\nif (recolha==true){\n    var time=new Date().toISOString();\n    var sensor_name=\"Temp Processador\";\n    msg.payload=parseInt(msg.payload);\n    payload={\"t\":time,\"v\":msg.payload,\"s\":sensor_name};\n    msg.payload=payload\n    msg.filename = \"usr/dados/\"+ nome + \".json\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":820,"y":2320,"wires":[["7fb216a5.453f58"]]},{"id":"6fc209d8.82ddb8","type":"file","z":"33432789.4c70f8","name":"Write File","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1120,"y":2320,"wires":[[]]},{"id":"14555101.27ab5f","type":"json","z":"33432789.4c70f8","name":"","property":"payload","action":"str","pretty":true,"x":1170,"y":2140,"wires":[["16f806db.c7cf79"]]},{"id":"16f806db.c7cf79","type":"file","z":"33432789.4c70f8","name":"Write File","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1320,"y":2140,"wires":[[]]},{"id":"d8a117b4.3fe158","type":"file in","z":"33432789.4c70f8","name":"","filename":"usr/dados/config/U0.json","format":"utf8","chunk":false,"sendError":false,"x":370,"y":40,"wires":[["7ab96b6a.4580c4"]]},{"id":"7ab96b6a.4580c4","type":"json","z":"33432789.4c70f8","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":40,"wires":[["3b92ee9d.088df2"]]},{"id":"f09af5b.13fb708","type":"inject","z":"33432789.4c70f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"props","payload":"","payloadType":"date","x":150,"y":40,"wires":[["d8a117b4.3fe158"]]},{"id":"3b92ee9d.088df2","type":"join","z":"33432789.4c70f8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":100,"wires":[["c4a4c86b.6e3278"]]},{"id":"caaf35fc.9e2db8","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":100,"wires":[["3b92ee9d.088df2"]]},{"id":"c4a4c86b.6e3278","type":"function","z":"33432789.4c70f8","name":"","func":"if (msg.payload.props.enabled==false){\n    msg.payload.value=\"Disabled\"; \n}\nelse{\nvar sensor=msg.payload.value; \nvar min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\n\nmsg.payload.value= (sensor/1023)*(max-min)+min; \n\nmsg.payload.value=Math.round(msg.payload.value*100)/100\n}\nmsg.payload.props.name=msg.payload.props.name+\"-U0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":100,"wires":[["dc81cd27.8b45a","47a38e94.0944d","da98600.df484a","7c80be08.bc111","3ca84b51.cf86d4","65caf012.ef316","c1edc007.17da9","c466e5d5.3ec778"]]},{"id":"47a38e94.0944d","type":"function","z":"33432789.4c70f8","name":"","func":"var min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max},topic:\"Soil\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":380,"wires":[["6a58152c.d823bc"]]},{"id":"55c6f3ae.2e228c","type":"file in","z":"33432789.4c70f8","name":"","filename":"usr/dados/config/I1.json","format":"utf8","chunk":false,"sendError":false,"x":370,"y":1720,"wires":[["7c8d2cde.542454"]]},{"id":"7c8d2cde.542454","type":"json","z":"33432789.4c70f8","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":1720,"wires":[["77a758b4.5bfff8"]]},{"id":"52c3b0f7.be32c","type":"inject","z":"33432789.4c70f8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"props","payload":"","payloadType":"date","x":150,"y":1720,"wires":[["55c6f3ae.2e228c"]]},{"id":"77a758b4.5bfff8","type":"join","z":"33432789.4c70f8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":1800,"wires":[["e63d68d6.69ad68"]]},{"id":"fabd83bf.b8352","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1800,"wires":[["77a758b4.5bfff8"]]},{"id":"e63d68d6.69ad68","type":"function","z":"33432789.4c70f8","name":"","func":"if (msg.payload.props.enabled==false){\n    msg.payload.value=\"Disabled\"; \n}\nelse{\nvar sensor=msg.payload.value; \nvar min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\n\nmsg.payload.value= ((sensor-204.6)/1023)*(max-min)+min; \n\nmsg.payload.value=Math.round(msg.payload.value*100)/100\n}\nmsg.payload.props.name=msg.payload.props.name+\"-I1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1800,"wires":[["7680038.ca623fc","a36114e.68577e8","42cef44f.c23d6c","b2e8d380.c507b","1d3a96c7.541b39","38ae2297.f4910e","45bb7ce5.740194","7ee60bf.b0a23f4"]]},{"id":"7680038.ca623fc","type":"function","z":"33432789.4c70f8","name":"","func":"var min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max},topic:\"Soil\"};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":2080,"wires":[["be926d02.923a3"]]},{"id":"b9439ab0.73c258","type":"mraa-gpio-ain","z":"33432789.4c70f8","name":"I0","pin":"1","interval":"1000","x":170,"y":640,"wires":[["2f367b64.0f25c4"]]},{"id":"ac4abe25.16ac7","type":"ui_gauge","z":"33432789.4c70f8","name":"Gauge_I0","group":"49de8910.30c838","order":22,"width":9,"height":7,"gtype":"gage","title":"{{msg.payload.props.name}}","label":"{{msg.payload.props.units}}","format":"{{msg.payload.value}}","min":0,"max":"1","colors":["#cd3737","#00e626","#ca3838"],"seg1":"4","seg2":"8","x":1200,"y":920,"wires":[]},{"id":"368c8e47.d4b462","type":"json","z":"33432789.4c70f8","name":"","property":"payload","action":"str","pretty":true,"x":1170,"y":980,"wires":[["a0e83474.bbaab8"]]},{"id":"a0e83474.bbaab8","type":"file","z":"33432789.4c70f8","name":"Write File","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1320,"y":980,"wires":[[]]},{"id":"7c98e31b.25412c","type":"file in","z":"33432789.4c70f8","name":"","filename":"usr/dados/config/I0.json","format":"utf8","chunk":false,"sendError":false,"x":370,"y":560,"wires":[["7a6777a7.a07a38"]]},{"id":"7a6777a7.a07a38","type":"json","z":"33432789.4c70f8","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":560,"wires":[["7918c9ca.232e28"]]},{"id":"e7b1d3c2.b4d66","type":"inject","z":"33432789.4c70f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"props","payload":"","payloadType":"date","x":150,"y":560,"wires":[["7c98e31b.25412c"]]},{"id":"7918c9ca.232e28","type":"join","z":"33432789.4c70f8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":640,"wires":[["514fb60f.710fb8"]]},{"id":"2f367b64.0f25c4","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":640,"wires":[["7918c9ca.232e28"]]},{"id":"514fb60f.710fb8","type":"function","z":"33432789.4c70f8","name":"","func":"if (msg.payload.props.enabled==false){\n    msg.payload.value=\"Disabled\"; \n}\nelse{\nvar sensor=msg.payload.value; \nvar min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\n\nmsg.payload.value= ((sensor-204.6)/1023)*(max-min)+min; \n\nmsg.payload.value=Math.round(msg.payload.value*100)/100\n}\nmsg.payload.props.name=msg.payload.props.name+\"-I0\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":640,"wires":[["5bfe944b.b2cd7c","c8141fb7.15417","79863c79.a8c064","5de64521.b4c87c","23b530f3.30b06","a52ba99f.58e7f8","51cd90b9.f3a76","7b45dc76.60bda4"]]},{"id":"5bfe944b.b2cd7c","type":"function","z":"33432789.4c70f8","name":"","func":"var min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max},topic:\"Soil\"};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":920,"wires":[["ac4abe25.16ac7"]]},{"id":"649b7edc.f0182","type":"mraa-gpio-ain","z":"33432789.4c70f8","name":"U1","pin":"2","interval":"1000","x":170,"y":1200,"wires":[["2da2ab59.055cf4"]]},{"id":"30f26a1f.fe4bd6","type":"ui_gauge","z":"33432789.4c70f8","name":"Gauge_U1","group":"49de8910.30c838","order":32,"width":9,"height":7,"gtype":"compass","title":"{{msg.payload.props.name}}","label":"{{msg.payload.props.units}}","format":"{{msg.payload.value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1210,"y":1480,"wires":[]},{"id":"89540bba.f11678","type":"file","z":"33432789.4c70f8","name":"Write File","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1320,"y":1540,"wires":[[]]},{"id":"1ad4c347.cb275d","type":"json","z":"33432789.4c70f8","name":"","property":"payload","action":"str","pretty":true,"x":1170,"y":1540,"wires":[["89540bba.f11678"]]},{"id":"de301c9b.830b2","type":"file in","z":"33432789.4c70f8","name":"","filename":"usr/dados/config/U1.json","format":"utf8","chunk":false,"sendError":false,"x":370,"y":1140,"wires":[["12403bae.36cc24"]]},{"id":"12403bae.36cc24","type":"json","z":"33432789.4c70f8","name":"","property":"payload","action":"obj","pretty":false,"x":550,"y":1140,"wires":[["eb4e8b28.0bd878"]]},{"id":"6af51f4d.9fc76","type":"inject","z":"33432789.4c70f8","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"props","payload":"","payloadType":"date","x":150,"y":1140,"wires":[["de301c9b.830b2"]]},{"id":"eb4e8b28.0bd878","type":"join","z":"33432789.4c70f8","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":590,"y":1200,"wires":[["8a8efa99.3ae438"]]},{"id":"2da2ab59.055cf4","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":1200,"wires":[["eb4e8b28.0bd878"]]},{"id":"8a8efa99.3ae438","type":"function","z":"33432789.4c70f8","name":"","func":"if (msg.payload.props.enabled==false){\n    msg.payload.value=\"Disabled\"; \n}\nelse{\nvar sensor=msg.payload.value; \nvar min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\n\nmsg.payload.value= (sensor/1023)*(max-min)+min; \n\nmsg.payload.value=Math.round(msg.payload.value*100)/100\n}\nmsg.payload.props.name=msg.payload.props.name+\"-U1\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":1200,"wires":[["99f4467e.1693c8","649b1e6b.9243a","f57217c1.581808","ece3b417.0e2a98","54e3c673.c7a498","b7031474.421428","dac92621.fd2898","2c1c4049.6ce96"]]},{"id":"99f4467e.1693c8","type":"function","z":"33432789.4c70f8","name":"","func":"var min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max},topic:\"Soil\"};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1020,"y":1480,"wires":[["30f26a1f.fe4bd6"]]},{"id":"c8141fb7.15417","type":"function","z":"33432789.4c70f8","name":"","func":"var recolha = flow.get(\"recolha\")\nvar nome = flow.get(\"nomeficheiro\")\nif (msg.payload.props.enabled==true && recolha==true){\n    var time=new Date().toISOString();\n    var sensor_name=msg.payload.props.name;\n    payload={\"t\":time,\"v\":msg.payload.value,\"s\":sensor_name};\n    msg.payload=payload\n    msg.filename = \"usr/dados/\"+ nome + \".json\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":980,"wires":[["368c8e47.d4b462"]]},{"id":"649b1e6b.9243a","type":"function","z":"33432789.4c70f8","name":"","func":"var recolha = flow.get(\"recolha\")\nvar nome = flow.get(\"nomeficheiro\")\nif (msg.payload.props.enabled==true && recolha==true){\n    var time=new Date().toISOString();\n    var sensor_name=msg.payload.props.name;\n    payload={\"t\":time,\"v\":msg.payload.value,\"s\":sensor_name};\n    msg.payload=payload\n    msg.filename = \"usr/dados/\"+ nome + \".json\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1540,"wires":[["1ad4c347.cb275d"]]},{"id":"a36114e.68577e8","type":"function","z":"33432789.4c70f8","name":"","func":"var recolha = flow.get(\"recolha\")\nvar nome = flow.get(\"nomeficheiro\")\nif (msg.payload.props.enabled==true && recolha==true){\n    var time=new Date().toISOString();\n    var sensor_name=msg.payload.props.name;\n    payload={\"t\":time,\"v\":msg.payload.value,\"s\":sensor_name};\n    msg.payload=payload\n    msg.filename = \"usr/dados/\"+ nome + \".json\";\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":2140,"wires":[["14555101.27ab5f"]]},{"id":"9eaa7dc.404048","type":"comment","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"Read Me","info":"### A ideia aqui é permitir dar enable ou disable à configuração.\n### Podendo desligar ou ligar a entrada em causa.","x":2340,"y":80,"wires":[]},{"id":"b75fc701.0cac28","type":"comment","z":"651d6d0f.e08224","g":"ca9ab8b6.7e1c18","name":"Read Me","info":"### A ideia aqui é permitir dar enable ou disable à configuração.\n### Podendo desligar ou ligar a entrada em causa.","x":2320,"y":1200,"wires":[]},{"id":"bc6dd7.26631228","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Sensor Name","tooltip":"","group":"58e86787.e7f1c8","order":1,"width":6,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"topic","x":200,"y":200,"wires":[[]]},{"id":"bcdeb3ea.f3c24","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Units","tooltip":"","group":"58e86787.e7f1c8","order":18,"width":6,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"topic","x":170,"y":480,"wires":[[]]},{"id":"1127015b.79dbef","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Range Min","tooltip":"","group":"58e86787.e7f1c8","order":20,"width":6,"height":1,"passthru":false,"mode":"number","delay":"0","topic":"topic","x":190,"y":520,"wires":[[]]},{"id":"e2a0748.999c088","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"Connection Type","tooltip":"","place":"Connection Type","group":"58e86787.e7f1c8","order":3,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"RS232","value":"RS232","type":"str"},{"label":"RS485","value":"RS485","type":"str"}],"payload":"","topic":"topic","x":210,"y":240,"wires":[[]]},{"id":"98914d0f.9ff7d","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Range Max","tooltip":"","group":"58e86787.e7f1c8","order":21,"width":6,"height":1,"passthru":false,"mode":"number","delay":"0","topic":"topic","x":190,"y":560,"wires":[[]]},{"id":"74bb03c4.8b4adc","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Alarm Min","tooltip":"","group":"58e86787.e7f1c8","order":22,"width":6,"height":1,"passthru":false,"mode":"number","delay":"0","topic":"topic","x":180,"y":600,"wires":[[]]},{"id":"e0ba6e19.3ff34","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Alarm Max","tooltip":"","group":"58e86787.e7f1c8","order":23,"width":6,"height":1,"passthru":false,"mode":"number","delay":"0","topic":"topic","x":190,"y":640,"wires":[[]]},{"id":"226d476d.b653c8","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"Parity","tooltip":"","place":"Parity","group":"58e86787.e7f1c8","order":14,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"none","value":"none","type":"str"},{"label":"even","value":"even","type":"str"},{"label":"odd","value":"odd","type":"str"},{"label":"mark","value":"mark","type":"str"},{"label":"space","value":"space","type":"str"}],"payload":"","topic":"topic","x":170,"y":400,"wires":[[]]},{"id":"4e28531a.b00dbc","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"BaudRate","tooltip":"","place":"Baude Rate","group":"58e86787.e7f1c8","order":6,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"1200","value":"1200","type":"str"},{"label":"2400","value":"2400","type":"str"},{"label":"4800","value":"4800","type":"str"},{"label":"9600","value":"9600","type":"str"},{"label":"14400","value":"14400","type":"str"},{"label":"19200","value":"19200","type":"str"},{"label":"28800","value":"28800","type":"str"},{"label":"38400","value":"38400","type":"str"},{"label":"57600","value":"57600","type":"str"},{"label":"115200","value":"115200","type":"str"},{"label":"230400","value":"230400","type":"str"}],"payload":"","topic":"topic","x":180,"y":280,"wires":[[]]},{"id":"3b4202ae.d2ffce","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"Data Bits","tooltip":"","place":"Data Bits","group":"58e86787.e7f1c8","order":9,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"5","value":"5","type":"str"},{"label":"6","value":"6","type":"str"},{"label":"7","value":"7","type":"str"},{"label":"8","value":"8","type":"str"}],"payload":"","topic":"topic","x":180,"y":320,"wires":[[]]},{"id":"a9ab53b9.d8c61","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"Stop Bits","tooltip":"","place":"Stop Bits","group":"58e86787.e7f1c8","order":12,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"}],"payload":"","topic":"topic","x":180,"y":360,"wires":[[]]},{"id":"8f4e383b.bef2a8","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"Flow Control","tooltip":"","place":"Flow Control","group":"58e86787.e7f1c8","order":16,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"RTS/CTS","value":"RTS/CTS","type":"str"},{"label":"DTR/DSR","value":"DTR/DSR","type":"str"},{"label":"XON/XOFF","value":"XON/XOFF","type":"str"}],"payload":"","topic":"topic","x":190,"y":440,"wires":[[]]},{"id":"db2353fb.b133","type":"ui_button","z":"e5b614e7.c01578","name":"","group":"58e86787.e7f1c8","order":5,"width":3,"height":1,"passthru":false,"label":"Load","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":170,"y":40,"wires":[[]]},{"id":"33c150d0.2460c","type":"ui_button","z":"e5b614e7.c01578","name":"","group":"58e86787.e7f1c8","order":8,"width":3,"height":1,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":170,"y":80,"wires":[[]]},{"id":"70867531.577e7c","type":"ui_dropdown","z":"e5b614e7.c01578","name":"Choice","label":"Saved Config.","tooltip":"","place":"","group":"58e86787.e7f1c8","order":2,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Sensor-1","value":"Sensor-1","type":"str"},{"label":"Sensor-2","value":"Sensor-2","type":"str"},{"label":"Sensor-3","value":"Sensor-3","type":"str"}],"payload":"","topic":"Choice ","x":180,"y":160,"wires":[[]]},{"id":"8d33c99d.5c67e8","type":"ui_button","z":"e5b614e7.c01578","name":"","group":"58e86787.e7f1c8","order":11,"width":3,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":170,"y":120,"wires":[[]]},{"id":"2db361a0.df947e","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Sensor Name","tooltip":"","group":"bb794f18.558cc","order":1,"width":6,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"topic","x":200,"y":920,"wires":[[]]},{"id":"6b506798.35ef58","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Units","tooltip":"","group":"bb794f18.558cc","order":18,"width":6,"height":1,"passthru":false,"mode":"text","delay":"0","topic":"topic","x":170,"y":1200,"wires":[[]]},{"id":"65f8282.72f02d8","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Range Min","tooltip":"","group":"bb794f18.558cc","order":20,"width":6,"height":1,"passthru":false,"mode":"number","delay":"0","topic":"topic","x":190,"y":1240,"wires":[[]]},{"id":"87633fd5.52754","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"Connection Type","tooltip":"","place":"Connection Type","group":"bb794f18.558cc","order":3,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"RS232","value":"RS232","type":"str"},{"label":"RS485","value":"RS485","type":"str"}],"payload":"","topic":"topic","x":210,"y":960,"wires":[[]]},{"id":"551ab09.d55c15","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Range Max","tooltip":"","group":"bb794f18.558cc","order":21,"width":6,"height":1,"passthru":false,"mode":"number","delay":"0","topic":"topic","x":190,"y":1280,"wires":[[]]},{"id":"44feb0d.f62da5","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Alarm Min","tooltip":"","group":"bb794f18.558cc","order":22,"width":6,"height":1,"passthru":false,"mode":"number","delay":"0","topic":"topic","x":180,"y":1320,"wires":[[]]},{"id":"a3b87745.a8b718","type":"ui_text_input","z":"e5b614e7.c01578","name":"","label":"Alarm Max","tooltip":"","group":"bb794f18.558cc","order":23,"width":6,"height":1,"passthru":false,"mode":"number","delay":"0","topic":"topic","x":190,"y":1360,"wires":[[]]},{"id":"cac8eeda.b3799","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"Parity","tooltip":"","place":"Parity","group":"bb794f18.558cc","order":14,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"none","value":"none","type":"str"},{"label":"even","value":"even","type":"str"},{"label":"odd","value":"odd","type":"str"},{"label":"mark","value":"mark","type":"str"},{"label":"space","value":"space","type":"str"}],"payload":"","topic":"topic","x":170,"y":1120,"wires":[[]]},{"id":"f320e334.ad7b6","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"BaudRate","tooltip":"","place":"Baude Rate","group":"bb794f18.558cc","order":6,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"1200","value":"1200","type":"str"},{"label":"2400","value":"2400","type":"str"},{"label":"4800","value":"4800","type":"str"},{"label":"9600","value":"9600","type":"str"},{"label":"14400","value":"14400","type":"str"},{"label":"19200","value":"19200","type":"str"},{"label":"28800","value":"28800","type":"str"},{"label":"38400","value":"38400","type":"str"},{"label":"57600","value":"57600","type":"str"},{"label":"115200","value":"115200","type":"str"},{"label":"230400","value":"230400","type":"str"}],"payload":"","topic":"topic","x":180,"y":1000,"wires":[[]]},{"id":"eab86ba6.b63c98","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"Data Bits","tooltip":"","place":"Data Bits","group":"bb794f18.558cc","order":9,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"5","value":"5","type":"str"},{"label":"6","value":"6","type":"str"},{"label":"7","value":"7","type":"str"},{"label":"8","value":"8","type":"str"}],"payload":"","topic":"topic","x":180,"y":1040,"wires":[[]]},{"id":"5ce8e48b.83d8ec","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"Stop Bits","tooltip":"","place":"Stop Bits","group":"bb794f18.558cc","order":12,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"1","value":"1","type":"str"},{"label":"2","value":"2","type":"str"}],"payload":"","topic":"topic","x":180,"y":1080,"wires":[[]]},{"id":"a22f5629.5cd518","type":"ui_dropdown","z":"e5b614e7.c01578","name":"","label":"Flow Control","tooltip":"","place":"Flow Control","group":"bb794f18.558cc","order":16,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"RTS/CTS","value":"RTS/CTS","type":"str"},{"label":"DTR/DSR","value":"DTR/DSR","type":"str"},{"label":"XON/XOFF","value":"XON/XOFF","type":"str"}],"payload":"","topic":"topic","x":190,"y":1160,"wires":[[]]},{"id":"2c5c3fa6.0b885","type":"ui_button","z":"e5b614e7.c01578","name":"","group":"bb794f18.558cc","order":5,"width":3,"height":1,"passthru":false,"label":"Load","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":170,"y":760,"wires":[[]]},{"id":"f94736ee.6ee968","type":"ui_button","z":"e5b614e7.c01578","name":"","group":"bb794f18.558cc","order":8,"width":3,"height":1,"passthru":false,"label":"Save","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":170,"y":800,"wires":[[]]},{"id":"5eec5118.8f798","type":"ui_dropdown","z":"e5b614e7.c01578","name":"Choice","label":"Saved Config.","tooltip":"","place":"","group":"bb794f18.558cc","order":2,"width":6,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Sensor-1","value":"Sensor-1","type":"str"},{"label":"Sensor-2","value":"Sensor-2","type":"str"},{"label":"Sensor-3","value":"Sensor-3","type":"str"}],"payload":"","topic":"Choice ","x":180,"y":880,"wires":[[]]},{"id":"80d55a4f.7c0788","type":"ui_button","z":"e5b614e7.c01578","name":"","group":"bb794f18.558cc","order":11,"width":3,"height":1,"passthru":false,"label":"Delete","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":170,"y":840,"wires":[[]]},{"id":"a9a161b3.df27","type":"json","z":"651d6d0f.e08224","name":"","property":"payload","action":"str","pretty":true,"x":1030,"y":860,"wires":[["82d85921.87e378"]]},{"id":"aafcf394.fa4a4","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":900,"wires":[]},{"id":"579d22aa.29c4ec","type":"function","z":"651d6d0f.e08224","name":"Get and Join Current Values","func":"var name_u0 = flow.get(\"name_u0\") || \"DEFAULT_VALUE\"; \nvar units_u0 = flow.get(\"units_u0\") || \"DEFAULT UNITS\";\nvar rangeMin_u0 = flow.get(\"rangeMin_u0\") || \"0\";\nvar rangeMax_u0 = flow.get(\"rangeMax_u0\") || \"0\";\nvar alarmMin_u0 = flow.get(\"alarmMin_u0\") || \"0\";\nvar alarmMax_u0 = flow.get(\"alarmMax_u0\") || \"0\";\nvar alarmPreMin_u0 = flow.get(\"alarmPreMin_u0\") || \"0\";\nvar alarmPreMax_u0 = flow.get(\"alarmPreMax_u0\") || \"0\";\nvar enabled_u0 = flow.get(\"enabled_u0\") || false;\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_u0,\n    \"enabled\":enabled_u0,\n    \"units\": units_u0,\n    \"rangeMin\": rangeMin_u0,\n    \"rangeMax\": rangeMax_u0,\n    \"alarmMin\": alarmMin_u0,\n    \"alarmMax\": alarmMax_u0,\n    \"alarmPreMin\": alarmPreMin_u0,\n    \"alarmPreMax\": alarmPreMax_u0\n}\n\nmsg.filename = \"usr/dados/tensao/\"+ name_u0+ \".json\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":860,"wires":[["a9a161b3.df27","aafcf394.fa4a4"]]},{"id":"5368ff5c.bf388","type":"comment","z":"651d6d0f.e08224","name":"CHANGE FILE NAME PATH","info":"","x":700,"y":820,"wires":[]},{"id":"af4fc757.c4e1c8","type":"ui_dropdown","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"dd_ConfigChoice_u0","label":"Saved Configurations","tooltip":"Select desired (saved) sensor config.","place":"","group":"b08d927a.2a559","order":1,"width":8,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"configChoice_u0","x":700,"y":380,"wires":[["922d556b.b02cd8"]]},{"id":"f67e3a14.bc7a08","type":"ui_text_input","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"txt_RangeMin_u0","label":"Range Min","tooltip":"","group":"b08d927a.2a559","order":6,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"rangeMin_u0","x":1990,"y":400,"wires":[["cb23a071.6f74f"]]},{"id":"a8afcbe3.938438","type":"ui_text_input","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"txt_RangeMax_u0","label":"Range Max","tooltip":"","group":"b08d927a.2a559","order":7,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"rangeMax_u0","x":1990,"y":480,"wires":[["a7f7a9b9.1e9e28"]]},{"id":"21f2cba.9bc4e34","type":"ui_text_input","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"txt_Units_u0","label":"Units","tooltip":"(Meters, Seconds, Pascal, Bar, ...)","group":"b08d927a.2a559","order":4,"width":4,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"units_u0","x":1970,"y":320,"wires":[["9da41d4b.1f87e"]]},{"id":"2b58bf04.a4c14","type":"ui_text_input","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"txt_AlarmMin_u0","label":"Alarm Min","tooltip":"","group":"b08d927a.2a559","order":9,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmMin_u0","x":1990,"y":560,"wires":[["2330eea0.a67132"]]},{"id":"bd61eb28.8f7688","type":"ui_text_input","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"txt_AlarmMax_u0","label":"Alarm Max","tooltip":"","group":"b08d927a.2a559","order":10,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmMax_u0","x":1990,"y":640,"wires":[["bf7d9077.b5ace"]]},{"id":"3ca30555.f7918a","type":"ui_button","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"btn_Save_u0","group":"b08d927a.2a559","order":14,"width":4,"height":1,"passthru":false,"label":"Save","tooltip":"Save current config by the sensor name provided.","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"true","payloadType":"bool","topic":"btnsave_u0","x":130,"y":860,"wires":[["579d22aa.29c4ec","ede2dc20.18727"]]},{"id":"c6cb1c8e.4c991","type":"ui_text_input","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"txt_SensorName_u0","label":"Sensor Name","tooltip":"Sensor Name, and subsquently config file name. No spaces allowed.","group":"b08d927a.2a559","order":3,"width":4,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"name_u0","x":2000,"y":240,"wires":[["559c5872.3fa2f8"]]},{"id":"a11018b7.4fe8b8","type":"ui_button","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"btn_Delete_u0","group":"b08d927a.2a559","order":16,"width":4,"height":1,"passthru":false,"label":"Delete","tooltip":"Delete selected configuration.","color":"","bgcolor":"","icon":"fa-times","payload":"true","payloadType":"bool","topic":"delete_u0","x":160,"y":1020,"wires":[["4fff6a73.e7a304","ede2dc20.18727","4158c2d5.c81edc"]]},{"id":"8f0705d2.295d48","type":"ui_text_input","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"txt_AlarmPreMin_u0","label":"Alarm PreMin","tooltip":"","group":"b08d927a.2a559","order":12,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmpreMin_u0","x":2000,"y":720,"wires":[["e449d531.ff4148"]]},{"id":"976c7773.5f8df8","type":"ui_text_input","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"txt_AlarmPreMax_u0","label":"Alarm PreMax","tooltip":"","group":"b08d927a.2a559","order":13,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmPreMax_u0","x":2000,"y":800,"wires":[["c3c5bebf.4d56f"]]},{"id":"db355386.e1251","type":"json","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","property":"payload","action":"str","pretty":true,"x":1030,"y":700,"wires":[["6d66cf55.953c4"]]},{"id":"c7d7c317.55ac3","type":"file in","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":640,"y":520,"wires":[["243f9108.2122ae","ffd3b435.3f51b8"]]},{"id":"303e3a.a51191c6","type":"exec","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1050,"y":1020,"wires":[[],[],[]]},{"id":"6d66cf55.953c4","type":"file","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1170,"y":700,"wires":[[]]},{"id":"559c5872.3fa2f8","type":"change","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Save Value name_u0","rules":[{"t":"set","p":"name_u0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":280,"wires":[[]]},{"id":"9da41d4b.1f87e","type":"change","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Save Value units_u0","rules":[{"t":"set","p":"units_u0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":360,"wires":[[]]},{"id":"4309eb17.208a34","type":"debug","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":740,"wires":[]},{"id":"b0b77edc.8518","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Get and Join Current Values","func":"var name_u0 = flow.get(\"name_u0\") || \"DEFAULT_VALUE\"; \nvar units_u0 = flow.get(\"units_u0\") || \"DEFAULT UNITS\";\nvar rangeMin_u0 = flow.get(\"rangeMin_u0\") || \"0\";\nvar rangeMax_u0 = flow.get(\"rangeMax_u0\") || \"0\";\nvar alarmMin_u0 = flow.get(\"alarmMin_u0\") || \"0\";\nvar alarmMax_u0 = flow.get(\"alarmMax_u0\") || \"0\";\nvar alarmPreMin_u0 = flow.get(\"alarmPreMin_u0\") || \"0\";\nvar alarmPreMax_u0 = flow.get(\"alarmPreMax_u0\") || \"0\";\nvar enabled_u0 = flow.get(\"enabled_u0\") || false;\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_u0,\n    \"enabled\":enabled_u0,\n    \"units\": units_u0,\n    \"rangeMin\": rangeMin_u0,\n    \"rangeMax\": rangeMax_u0,\n    \"alarmMin\": alarmMin_u0,\n    \"alarmMax\": alarmMax_u0,\n    \"alarmPreMin\": alarmPreMin_u0,\n    \"alarmPreMax\": alarmPreMax_u0\n}\n\nmsg.filename = \"usr/dados/config/U0.json\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":700,"wires":[["db355386.e1251","4309eb17.208a34"]]},{"id":"cb23a071.6f74f","type":"change","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Save Value rangeMin_u0","rules":[{"t":"set","p":"rangeMin_u0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":440,"wires":[[]]},{"id":"a7f7a9b9.1e9e28","type":"change","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Save Value rangeMax_u0","rules":[{"t":"set","p":"rangeMax_u0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":520,"wires":[[]]},{"id":"2330eea0.a67132","type":"change","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Save Value AlarmMin_u0","rules":[{"t":"set","p":"alarmMin_u0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":600,"wires":[[]]},{"id":"bf7d9077.b5ace","type":"change","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Save Value AlarmMax_u0","rules":[{"t":"set","p":"alarmMax_u0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":680,"wires":[[]]},{"id":"c3c5bebf.4d56f","type":"change","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Save Value AlarmPreMax_u0","rules":[{"t":"set","p":"alarmPreMax_u0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":840,"wires":[[]]},{"id":"e449d531.ff4148","type":"change","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Save Value AlarmPreMin_u0","rules":[{"t":"set","p":"alarmPreMin_u0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":760,"wires":[[]]},{"id":"922d556b.b02cd8","type":"change","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Save Value ConfigChoice_u0","rules":[{"t":"set","p":"configChoice_u0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":440,"wires":[["cd053821.e1ce48"]]},{"id":"4fff6a73.e7a304","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Delete selected choice","func":"var configChoice_u0 = flow.get(\"configChoice_u0\");\n\nmsg.payload = \"rm /usr/dados/tensao/\" + configChoice_u0\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":1020,"wires":[["303e3a.a51191c6","353c1a69.3b7206"]]},{"id":"cd053821.e1ce48","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Get choice to load config file","func":"var configChoice_u0 = flow.get(\"configChoice_u0\");\nmsg.filename = \"usr/dados/tensao/\" + configChoice_u0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":440,"wires":[["c7d7c317.55ac3"]]},{"id":"6a984bd1.5a1944","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Get file names and update Drop Down","func":"msg.payload[0]=null\nmsg.options = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":320,"wires":[["af4fc757.c4e1c8"]]},{"id":"243f9108.2122ae","type":"debug","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":580,"wires":[]},{"id":"c173c51f.e6fd58","type":"ui_switch","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"swt_OnOff_u0","label":"Off / On","tooltip":"Turn on or off this sensor slot.","group":"b08d927a.2a559","order":2,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"swtOnOff_u0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2040,"y":900,"wires":[["84a8bbd.c7cf148"]]},{"id":"ffd3b435.3f51b8","type":"json","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","property":"payload","action":"","pretty":false,"x":830,"y":520,"wires":[["e16823bf.af33d","a2953d51.c9bcb"]]},{"id":"e16823bf.af33d","type":"debug","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":560,"wires":[]},{"id":"154ab818.ccf738","type":"comment","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"CHANGE FILE NAME PATH","info":"Aqui mudar o comando de modo a funcionar no IOT.","x":720,"y":980,"wires":[]},{"id":"a06e34a8.f93be8","type":"comment","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"README - Notes for the directory structure in IOT2040","info":"# Criar directório onde serão guardados os config files e posteriormente acedidos.\n\n## Estrutura do Directório:\n\n---\n\n### project_Data/\n### ├─ sensor_Configs/\n### │  ├─ acquired_Data/\n### │  │  ├─ sensor1_Data.json\n### │  ├─ adicional_NotificationSettings/\n### │  │  ├─ extra_Noti_1.json\n### │  ├─ current_Configs/\n### │  │  ├─ config1_Current.json\n### │  ├─ rs232_Configs/\n### │  │  ├─ config1_rs232.json\n### │  ├─ voltage_Configs/\n### │  │  ├─ config1_Voltage.json\n### \n\n---\n","x":1180,"y":200,"wires":[],"icon":"node-red/alert.svg"},{"id":"aa4d243f.299748","type":"switch","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Route Values","property":"parts","propertyType":"msg","rules":[{"t":"index","v":"0","vt":"num","v2":"0","v2t":"num"},{"t":"index","v":"2","vt":"num","v2":"2","v2t":"num"},{"t":"index","v":"3","vt":"num","v2":"3","v2t":"num"},{"t":"index","v":"4","vt":"num","v2":"4","v2t":"num"},{"t":"index","v":"5","vt":"num","v2":"5","v2t":"num"},{"t":"index","v":"6","vt":"num","v2":"6","v2t":"num"},{"t":"index","v":"7","vt":"num","v2":"7","v2t":"num"},{"t":"index","v":"8","vt":"num","v2":"8","v2t":"num"},{"t":"index","v":"1","vt":"num","v2":"1","v2t":"num"}],"checkall":"true","repair":true,"outputs":9,"x":1290,"y":520,"wires":[["c6cb1c8e.4c991"],["21f2cba.9bc4e34"],["50dcb393.1f737c"],["cb9967e6.aa4948"],["47eb69f5.42f788"],["31da5556.0dbf0a"],["47191f7b.6d88a"],["fab75918.ed9928"],["c173c51f.e6fd58"]]},{"id":"a2953d51.c9bcb","type":"split","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"splitConfigFile","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1060,"y":520,"wires":[["aa4d243f.299748","687f3969.40c2b8"]]},{"id":"687f3969.40c2b8","type":"debug","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"parts","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":560,"wires":[]},{"id":"50dcb393.1f737c","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":460,"wires":[["f67e3a14.bc7a08"]]},{"id":"cb9967e6.aa4948","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":500,"wires":[["a8afcbe3.938438"]]},{"id":"31da5556.0dbf0a","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":580,"wires":[["bd61eb28.8f7688"]]},{"id":"47191f7b.6d88a","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":620,"wires":[["8f0705d2.295d48"]]},{"id":"fab75918.ed9928","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":660,"wires":[["976c7773.5f8df8"]]},{"id":"47eb69f5.42f788","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":540,"wires":[["2b58bf04.a4c14"]]},{"id":"e21e4ebe.a2238","type":"comment","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"CHANGE FILE NAME PATH","info":"","x":980,"y":400,"wires":[]},{"id":"45540fc1.fda08","type":"comment","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"CHANGE FILE NAME PATH","info":"","x":700,"y":660,"wires":[]},{"id":"1fe43b72.3c6f35","type":"comment","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Read Me","info":"### A ideia aqui é permitir dar enable ou disable à configuração.\n### Podendo desligar ou ligar a entrada em causa.","x":120,"y":80,"wires":[]},{"id":"1ee07689.81fe49","type":"comment","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"CHANGE FOLDER PATH","info":"### Aqui colocar o path para a pasta correcta de configuração dos sensores em causa. (currente, tensão, rs232)\n\nNeste caso, o path da pasta /../voltage_configs/","x":450,"y":280,"wires":[]},{"id":"353c1a69.3b7206","type":"debug","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":1060,"wires":[]},{"id":"4158c2d5.c81edc","type":"change","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Set to Null","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":700,"wires":[["f67e3a14.bc7a08","a8afcbe3.938438","21f2cba.9bc4e34","2b58bf04.a4c14","bd61eb28.8f7688","c6cb1c8e.4c991","8f0705d2.295d48","976c7773.5f8df8","83a133f6.9163e"]]},{"id":"9c13f1d1.5212a","type":"ui_button","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"btn_refresh_u0","group":"b08d927a.2a559","order":8,"width":4,"height":1,"passthru":false,"label":"","tooltip":"Show the current configuration of input","color":"","bgcolor":"","icon":"fa-refresh","payload":"true","payloadType":"bool","topic":"topic","x":140,"y":540,"wires":[["6d64dc84.b1b064","5fe75f9c.c7063","ede2dc20.18727"]]},{"id":"a6c3eaf7.6aaaf8","type":"exec","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","command":"ls /usr/dados/tensao","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":400,"wires":[["70e10694.f120d8"],[],[]]},{"id":"70e10694.f120d8","type":"split","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","splt":"\\n","spltType":"str","arraySplt":"10","arraySpltType":"len","stream":true,"addname":"","x":370,"y":320,"wires":[["acca724e.96553"]]},{"id":"84a8bbd.c7cf148","type":"change","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"Save enabled","rules":[{"t":"set","p":"enabled_u0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":960,"wires":[[]]},{"id":"83a133f6.9163e","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","func":"msg.payload=false; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":900,"wires":[["c173c51f.e6fd58"]]},{"id":"acca724e.96553","type":"join","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":320,"wires":[["6a984bd1.5a1944"]]},{"id":"6d64dc84.b1b064","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","func":"msg.filename = \"usr/dados/config/U0.json\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":540,"wires":[["c7d7c317.55ac3"]]},{"id":"7f39d17d.af052","type":"ui_button","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"btn_Load_u0","group":"b08d927a.2a559","order":11,"width":4,"height":1,"passthru":false,"label":"LOAD","tooltip":"Load current config by the sensor name provided.","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"true","payloadType":"bool","topic":"btnload_u0","x":130,"y":700,"wires":[["b0b77edc.8518","ede2dc20.18727"]]},{"id":"82d85921.87e378","type":"file","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1170,"y":860,"wires":[[]]},{"id":"ede2dc20.18727","type":"delay","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":400,"wires":[["a6c3eaf7.6aaaf8"]]},{"id":"bede79b2.b43a78","type":"ui_button","z":"651d6d0f.e08224","name":"btn_clean_u0","group":"b08d927a.2a559","order":5,"width":4,"height":1,"passthru":false,"label":"Clean","tooltip":"Clean form entries.","color":"","bgcolor":"","icon":"fa-eraser","payload":"","payloadType":"date","topic":"","x":1440,"y":700,"wires":[["4158c2d5.c81edc"]]},{"id":"2f2a1815.cdaea8","type":"inject","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":190,"y":280,"wires":[["a6c3eaf7.6aaaf8"]]},{"id":"5fe75f9c.c7063","type":"function","z":"651d6d0f.e08224","g":"5ea3fdd3.295654","name":"","func":"'função para colocar a opção selecionada como a U0.json '\nmsg.payload=\"U0.json\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":500,"wires":[["af4fc757.c4e1c8"]]},{"id":"9941a674.644c18","type":"ui_chart","z":"33432789.4c70f8","name":"Chart_U0","group":"49de8910.30c838","order":13,"width":12,"height":7,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":120,"wires":[[]]},{"id":"da98600.df484a","type":"function","z":"33432789.4c70f8","name":"","func":"var min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\n\nmsg = {payload:data,ui_control:{ymin:min,ymax:max},topic:\"Value\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":140,"wires":[["9941a674.644c18"]]},{"id":"50dabdaa.082164","type":"ui_chart","z":"33432789.4c70f8","name":"Chart_I0","group":"49de8910.30c838","order":23,"width":12,"height":7,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":680,"wires":[[]]},{"id":"79863c79.a8c064","type":"function","z":"33432789.4c70f8","name":"","func":"var min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\n\nmsg = {payload:data,ui_control:{ymin:min,ymax:max},topic:\"Value\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":680,"wires":[["50dabdaa.082164"]]},{"id":"f9e251c3.0db88","type":"ui_chart","z":"33432789.4c70f8","name":"Chart_U1","group":"49de8910.30c838","order":33,"width":12,"height":7,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":1240,"wires":[[]]},{"id":"f57217c1.581808","type":"function","z":"33432789.4c70f8","name":"","func":"var min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\n\nmsg = {payload:data,ui_control:{ymin:min,ymax:max},topic:\"Value\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1240,"wires":[["f9e251c3.0db88"]]},{"id":"903e5739.cbf038","type":"ui_chart","z":"33432789.4c70f8","name":"Chart_I1","group":"49de8910.30c838","order":43,"width":12,"height":7,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1440,"y":1840,"wires":[[]]},{"id":"42cef44f.c23d6c","type":"function","z":"33432789.4c70f8","name":"","func":"var min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\n\nmsg = {payload:data,ui_control:{ymin:min,ymax:max},topic:\"Value\"};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1840,"wires":[["903e5739.cbf038"]]},{"id":"b98137ad.bd88d8","type":"ui_button","z":"d1fcf424.5c7848","name":"","group":"515caf36.02a13","order":5,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":110,"y":120,"wires":[[]]},{"id":"6aedec7d.b16de4","type":"ui_button","z":"d1fcf424.5c7848","name":"","group":"515caf36.02a13","order":5,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":110,"y":80,"wires":[[]]},{"id":"c900b835.0f13d8","type":"ui_button","z":"d1fcf424.5c7848","name":"","group":"b3c401b.0a2dd","order":5,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":110,"y":160,"wires":[[]]},{"id":"9529566d.f37e68","type":"ui_button","z":"d1fcf424.5c7848","name":"","group":"3e2f48c5.b4d068","order":5,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":110,"y":200,"wires":[[]]},{"id":"c5b9e933.5a98c8","type":"ui_button","z":"d1fcf424.5c7848","name":"","group":"9d77d56a.2f7c98","order":5,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":110,"y":240,"wires":[[]]},{"id":"fc6dd959.fe2f18","type":"ui_button","z":"d1fcf424.5c7848","name":"","group":"e2e927b0.1182b8","order":5,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","x":110,"y":280,"wires":[[]]},{"id":"9b8a1f45.20ddd","type":"ui_slider","z":"d1fcf424.5c7848","name":"","label":"slider","tooltip":"","group":"515caf36.02a13","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","min":0,"max":10,"step":1,"x":250,"y":240,"wires":[[]]},{"id":"8c905904.9bd758","type":"ui_dropdown","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"dd_ConfigChoice_u1","label":"Saved Configurations","tooltip":"Select desired (saved) sensor config.","place":"","group":"4c9c7b6.e68fc84","order":1,"width":8,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"configChoice_u1","x":700,"y":1500,"wires":[["d60523f1.8060e"]]},{"id":"14bde738.4f6b19","type":"ui_text_input","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"txt_RangeMin_u1","label":"Range Min","tooltip":"","group":"4c9c7b6.e68fc84","order":6,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"rangeMin_u1","x":1990,"y":1520,"wires":[["c3aca39e.3d5e2"]]},{"id":"46afa1bd.bdf79","type":"ui_text_input","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"txt_RangeMax_u1","label":"Range Max","tooltip":"","group":"4c9c7b6.e68fc84","order":7,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"rangeMax_u1","x":1990,"y":1600,"wires":[["e716e4e1.868818"]]},{"id":"52c2b802.4eec68","type":"ui_text_input","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"txt_Units_u1","label":"Units","tooltip":"(Meters, Seconds, Pascal, Bar, ...)","group":"4c9c7b6.e68fc84","order":4,"width":4,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"units_u1","x":1970,"y":1440,"wires":[["80a48b87.7ec178"]]},{"id":"9e1c4d54.10e85","type":"ui_text_input","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"txt_AlarmMin_u1","label":"Alarm Min","tooltip":"","group":"4c9c7b6.e68fc84","order":9,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmMin_u1","x":1990,"y":1680,"wires":[["e6b64584.316ae8"]]},{"id":"15884857.16edb8","type":"ui_text_input","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"txt_AlarmMax_u1","label":"Alarm Max","tooltip":"","group":"4c9c7b6.e68fc84","order":10,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmMax_u1","x":1990,"y":1760,"wires":[["82b45506.a734b8"]]},{"id":"9bd98220.ffac5","type":"ui_button","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"btn_Save_u1","group":"4c9c7b6.e68fc84","order":14,"width":4,"height":1,"passthru":false,"label":"Save","tooltip":"Save current config by the sensor name provided.","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"true","payloadType":"bool","topic":"btnsave_u1","x":130,"y":1980,"wires":[["7e422c55.682c34","d979837.124fc8"]]},{"id":"f694daf1.941a38","type":"ui_text_input","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"txt_SensorName_u1","label":"Sensor Name","tooltip":"Sensor Name, and subsquently config file name. No spaces allowed.","group":"4c9c7b6.e68fc84","order":3,"width":4,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"name_u1","x":2000,"y":1360,"wires":[["8ea88bc.c326378"]]},{"id":"1698f2f8.94a07d","type":"ui_button","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"btn_Delete_u1","group":"4c9c7b6.e68fc84","order":16,"width":4,"height":1,"passthru":false,"label":"Delete","tooltip":"Delete selected configuration.","color":"","bgcolor":"","icon":"fa-times","payload":"true","payloadType":"bool","topic":"delete_u1","x":160,"y":2140,"wires":[["46221b40.c1af74","7e422c55.682c34","fd1d4a82.52ac88"]]},{"id":"e284cc05.2ea33","type":"ui_text_input","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"txt_AlarmPreMin_u1","label":"Alarm PreMin","tooltip":"","group":"4c9c7b6.e68fc84","order":12,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmpreMin_u1","x":2000,"y":1840,"wires":[["3024a359.0414bc"]]},{"id":"8ff0a4f8.49cfb8","type":"ui_text_input","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"txt_AlarmPreMax_u1","label":"Alarm PreMax","tooltip":"","group":"4c9c7b6.e68fc84","order":13,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmPreMax_u1","x":2000,"y":1920,"wires":[["1e8aa4f5.f281fb"]]},{"id":"6d57a400.da9d2c","type":"json","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","property":"payload","action":"str","pretty":true,"x":1030,"y":1820,"wires":[["4b3191d5.05636"]]},{"id":"bf24b0bb.485d5","type":"file in","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":640,"y":1640,"wires":[["4c2fb224.b4680c","fa41f2f0.7e352"]]},{"id":"1e3d3b99.7e4f24","type":"exec","z":"651d6d0f.e08224","g":"39fed12.d56072e","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1050,"y":2140,"wires":[[],[],[]]},{"id":"4b3191d5.05636","type":"file","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1170,"y":1820,"wires":[[]]},{"id":"8ea88bc.c326378","type":"change","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Save Value name_u1","rules":[{"t":"set","p":"name_u1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":1400,"wires":[[]]},{"id":"80a48b87.7ec178","type":"change","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Save Value units_u1","rules":[{"t":"set","p":"units_u1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":1480,"wires":[[]]},{"id":"58a0e3a2.84a84c","type":"debug","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1860,"wires":[]},{"id":"540cc318.bd818c","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Get and Join Current Values","func":"var name_u1 = flow.get(\"name_u1\") || \"DEFAULT_VALUE\"; \nvar units_u1 = flow.get(\"units_u1\") || \"DEFAULT UNITS\";\nvar rangeMin_u1 = flow.get(\"rangeMin_u1\") || \"0\";\nvar rangeMax_u1 = flow.get(\"rangeMax_u1\") || \"0\";\nvar alarmMin_u1 = flow.get(\"alarmMin_u1\") || \"0\";\nvar alarmMax_u1 = flow.get(\"alarmMax_u1\") || \"0\";\nvar alarmPreMin_u1 = flow.get(\"alarmPreMin_u1\") || \"0\";\nvar alarmPreMax_u1 = flow.get(\"alarmPreMax_u1\") || \"0\";\nvar enabled_u1 = flow.get(\"enabled_u1\") || false;\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_u1,\n    \"enabled\":enabled_u1,\n    \"units\": units_u1,\n    \"rangeMin\": rangeMin_u1,\n    \"rangeMax\": rangeMax_u1,\n    \"alarmMin\": alarmMin_u1,\n    \"alarmMax\": alarmMax_u1,\n    \"alarmPreMin\": alarmPreMin_u1,\n    \"alarmPreMax\": alarmPreMax_u1\n}\n\nmsg.filename = \"usr/dados/config/U1.json\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1820,"wires":[["6d57a400.da9d2c","58a0e3a2.84a84c"]]},{"id":"c3aca39e.3d5e2","type":"change","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Save Value rangeMin_u1","rules":[{"t":"set","p":"rangeMin_u1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":1560,"wires":[[]]},{"id":"e716e4e1.868818","type":"change","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Save Value rangeMax_u1","rules":[{"t":"set","p":"rangeMax_u1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":1640,"wires":[[]]},{"id":"e6b64584.316ae8","type":"change","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Save Value AlarmMin_u1","rules":[{"t":"set","p":"alarmMin_u1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":1720,"wires":[[]]},{"id":"82b45506.a734b8","type":"change","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Save Value AlarmMax_u1","rules":[{"t":"set","p":"alarmMax_u1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2010,"y":1800,"wires":[[]]},{"id":"1e8aa4f5.f281fb","type":"change","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Save Value AlarmPreMax_u1","rules":[{"t":"set","p":"alarmPreMax_u1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1960,"wires":[[]]},{"id":"3024a359.0414bc","type":"change","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Save Value AlarmPreMin_u1","rules":[{"t":"set","p":"alarmPreMin_u1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":1880,"wires":[[]]},{"id":"d60523f1.8060e","type":"change","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Save Value ConfigChoice_u1","rules":[{"t":"set","p":"configChoice_u1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":1560,"wires":[["f40d04c8.60dbe8"]]},{"id":"46221b40.c1af74","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Delete selected choice","func":"var configChoice_u1 = flow.get(\"configChoice_u1\");\n\nmsg.payload = \"rm /usr/dados/tensao/\" + configChoice_u1\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":2140,"wires":[["1e3d3b99.7e4f24","5b319635.485ee8"]]},{"id":"f40d04c8.60dbe8","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Get choice to load config file","func":"var configChoice_u1 = flow.get(\"configChoice_u1\");\nmsg.filename = \"usr/dados/tensao/\" + configChoice_u1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1560,"wires":[["bf24b0bb.485d5"]]},{"id":"aa22d230.71065","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Get file names and update Drop Down","func":"msg.payload[0]=null\nmsg.options = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":1440,"wires":[["8c905904.9bd758"]]},{"id":"4c2fb224.b4680c","type":"debug","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":1700,"wires":[]},{"id":"ce523a50.f00068","type":"ui_switch","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"swt_OnOff_u1","label":"Off / On","tooltip":"Turn on or off this sensor slot.","group":"4c9c7b6.e68fc84","order":2,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"swtOnOff_u1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2040,"y":2020,"wires":[["499f8f77.beefc"]]},{"id":"fa41f2f0.7e352","type":"json","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","property":"payload","action":"","pretty":false,"x":830,"y":1640,"wires":[["cb611bff.1a31b8","28867b.0fbd1986"]]},{"id":"cb611bff.1a31b8","type":"debug","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":850,"y":1680,"wires":[]},{"id":"af088b3c.a1ec98","type":"comment","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"CHANGE FILE NAME PATH","info":"Aqui mudar o comando de modo a funcionar no IOT.","x":720,"y":2100,"wires":[]},{"id":"f121772a.a08a68","type":"comment","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"README - Notes for the directory structure in IOT2040","info":"# Criar directório onde serão guardados os config files e posteriormente acedidos.\n\n## Estrutura do Directório:\n\n---\n\n### project_Data/\n### ├─ sensor_Configs/\n### │  ├─ acquired_Data/\n### │  │  ├─ sensor1_Data.json\n### │  ├─ adicional_NotificationSettings/\n### │  │  ├─ extra_Noti_1.json\n### │  ├─ current_Configs/\n### │  │  ├─ config1_Current.json\n### │  ├─ rs232_Configs/\n### │  │  ├─ config1_rs232.json\n### │  ├─ voltage_Configs/\n### │  │  ├─ config1_Voltage.json\n### \n\n---\n","x":1180,"y":1320,"wires":[],"icon":"node-red/alert.svg"},{"id":"cc0e1d24.838e1","type":"switch","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Route Values","property":"parts","propertyType":"msg","rules":[{"t":"index","v":"0","vt":"num","v2":"0","v2t":"num"},{"t":"index","v":"2","vt":"num","v2":"2","v2t":"num"},{"t":"index","v":"3","vt":"num","v2":"3","v2t":"num"},{"t":"index","v":"4","vt":"num","v2":"4","v2t":"num"},{"t":"index","v":"5","vt":"num","v2":"5","v2t":"num"},{"t":"index","v":"6","vt":"num","v2":"6","v2t":"num"},{"t":"index","v":"7","vt":"num","v2":"7","v2t":"num"},{"t":"index","v":"8","vt":"num","v2":"8","v2t":"num"},{"t":"index","v":"1","vt":"num","v2":"1","v2t":"num"}],"checkall":"true","repair":true,"outputs":9,"x":1290,"y":1640,"wires":[["f694daf1.941a38"],["52c2b802.4eec68"],["bdeeace7.0eb12"],["25e228ae.339d58"],["8b003f66.c33a3"],["b5eb6c5c.195cc"],["3ba7cd58.21db42"],["380f31c.94a97ce"],["ce523a50.f00068"]]},{"id":"28867b.0fbd1986","type":"split","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"splitConfigFile","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1060,"y":1640,"wires":[["cc0e1d24.838e1","cea00205.3f5e9"]]},{"id":"cea00205.3f5e9","type":"debug","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"parts","targetType":"msg","statusVal":"","statusType":"auto","x":1040,"y":1680,"wires":[]},{"id":"bdeeace7.0eb12","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1580,"wires":[["14bde738.4f6b19"]]},{"id":"25e228ae.339d58","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1620,"wires":[["46afa1bd.bdf79"]]},{"id":"b5eb6c5c.195cc","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1700,"wires":[["15884857.16edb8"]]},{"id":"3ba7cd58.21db42","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1740,"wires":[["e284cc05.2ea33"]]},{"id":"380f31c.94a97ce","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1780,"wires":[["8ff0a4f8.49cfb8"]]},{"id":"8b003f66.c33a3","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1620,"y":1660,"wires":[["9e1c4d54.10e85"]]},{"id":"983a0021.dcd67","type":"comment","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"CHANGE FILE NAME PATH","info":"","x":980,"y":1520,"wires":[]},{"id":"690e5cf4.ffc5b4","type":"comment","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"CHANGE FILE NAME PATH","info":"","x":700,"y":1780,"wires":[]},{"id":"a66b18af.180ed8","type":"comment","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Read Me","info":"### A ideia aqui é permitir dar enable ou disable à configuração.\n### Podendo desligar ou ligar a entrada em causa.","x":120,"y":1200,"wires":[]},{"id":"e70b6650.f57fb8","type":"comment","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"CHANGE FOLDER PATH","info":"### Aqui colocar o path para a pasta correcta de configuração dos sensores em causa. (currente, tensão, rs232)\n\nNeste caso, o path da pasta /../voltage_configs/","x":450,"y":1400,"wires":[]},{"id":"5b319635.485ee8","type":"debug","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":2180,"wires":[]},{"id":"fd1d4a82.52ac88","type":"change","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Set to Null","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":1820,"wires":[["14bde738.4f6b19","46afa1bd.bdf79","52c2b802.4eec68","9e1c4d54.10e85","15884857.16edb8","f694daf1.941a38","e284cc05.2ea33","8ff0a4f8.49cfb8","5a52000b.6161b"]]},{"id":"6b252d9a.a81ed4","type":"ui_button","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"btn_refresh_u1","group":"4c9c7b6.e68fc84","order":8,"width":4,"height":1,"passthru":false,"label":"","tooltip":"Show the current configuration of input","color":"","bgcolor":"","icon":"fa-refresh","payload":"true","payloadType":"bool","topic":"topic","x":140,"y":1660,"wires":[["19cc6928.2362f7","755e26e2.09bef8","7e422c55.682c34"]]},{"id":"e48bc8e5.833e28","type":"exec","z":"651d6d0f.e08224","g":"39fed12.d56072e","command":"ls /usr/dados/tensao","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":380,"y":1520,"wires":[["16907933.6726c7"],[],[]]},{"id":"16907933.6726c7","type":"split","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","splt":"\\n","spltType":"str","arraySplt":"10","arraySpltType":"len","stream":true,"addname":"","x":370,"y":1440,"wires":[["d000bb87.ca7958"]]},{"id":"499f8f77.beefc","type":"change","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"Save enabled","rules":[{"t":"set","p":"enabled_u1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2040,"y":2080,"wires":[[]]},{"id":"5a52000b.6161b","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","func":"msg.payload=false; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1840,"y":2020,"wires":[["ce523a50.f00068"]]},{"id":"d000bb87.ca7958","type":"join","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":1440,"wires":[["aa22d230.71065"]]},{"id":"19cc6928.2362f7","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","func":"msg.filename = \"usr/dados/config/U1.json\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1660,"wires":[["bf24b0bb.485d5"]]},{"id":"349b81fb.79d3ee","type":"ui_button","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"btn_Load_u1","group":"4c9c7b6.e68fc84","order":11,"width":4,"height":1,"passthru":false,"label":"LOAD","tooltip":"Load current config by the sensor name provided.","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"true","payloadType":"bool","topic":"btnload_u1","x":130,"y":1820,"wires":[["540cc318.bd818c","7e422c55.682c34"]]},{"id":"60aab09c.99f31","type":"file","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":1170,"y":1980,"wires":[[]]},{"id":"7e422c55.682c34","type":"delay","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":190,"y":1520,"wires":[["e48bc8e5.833e28"]]},{"id":"7ba386cb.1a8748","type":"inject","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":190,"y":1400,"wires":[["e48bc8e5.833e28"]]},{"id":"755e26e2.09bef8","type":"function","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"","func":"'função para colocar a opção selecionada como a U1.json '\nmsg.payload=\"U1.json\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":1620,"wires":[["8c905904.9bd758"]]},{"id":"56c55760.322c08","type":"json","z":"651d6d0f.e08224","name":"","property":"payload","action":"str","pretty":true,"x":1030,"y":1980,"wires":[["60aab09c.99f31"]]},{"id":"405d3788.2f3c48","type":"comment","z":"651d6d0f.e08224","name":"CHANGE FILE NAME PATH","info":"","x":700,"y":1940,"wires":[]},{"id":"d979837.124fc8","type":"function","z":"651d6d0f.e08224","name":"Get and Join Current Values","func":"var name_u1 = flow.get(\"name_u1\") || \"DEFAULT_VALUE\"; \nvar units_u1 = flow.get(\"units_u1\") || \"DEFAULT UNITS\";\nvar rangeMin_u1 = flow.get(\"rangeMin_u1\") || \"0\";\nvar rangeMax_u1 = flow.get(\"rangeMax_u1\") || \"0\";\nvar alarmMin_u1 = flow.get(\"alarmMin_u1\") || \"0\";\nvar alarmMax_u1 = flow.get(\"alarmMax_u1\") || \"0\";\nvar alarmPreMin_u1 = flow.get(\"alarmPreMin_u1\") || \"0\";\nvar alarmPreMax_u1 = flow.get(\"alarmPreMax_u1\") || \"0\";\nvar enabled = flow.get(\"enabled_u1\") || false;\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_u1,\n    \"enabled\":enabled_u1,\n    \"units\": units_u1,\n    \"rangeMin\": rangeMin_u1,\n    \"rangeMax\": rangeMax_u1,\n    \"alarmMin\": alarmMin_u1,\n    \"alarmMax\": alarmMax_u1,\n    \"alarmPreMin\": alarmPreMin_u1,\n    \"alarmPreMax\": alarmPreMax_u1\n}\n\nmsg.filename = \"usr/dados/tensao/\"+ name_u1+ \".json\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":700,"y":1980,"wires":[["56c55760.322c08","34ca50f2.cce8f"]]},{"id":"34ca50f2.cce8f","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":2020,"wires":[]},{"id":"2d143e7b.1b0c92","type":"ui_button","z":"651d6d0f.e08224","g":"39fed12.d56072e","name":"btn_clean_u1","group":"4c9c7b6.e68fc84","order":5,"width":4,"height":1,"passthru":false,"label":"Clean","tooltip":"Clean form entries.","color":"","bgcolor":"","icon":"fa-eraser","payload":"","payloadType":"date","topic":"","x":1420,"y":1820,"wires":[["fd1d4a82.52ac88"]]},{"id":"75f17edf.d6565","type":"ui_dropdown","z":"651d6d0f.e08224","name":"dd_ConfigChoice_i0","label":"Saved Configurations","tooltip":"Select desired (saved) sensor config.","place":"","group":"3cd523c0.e970bc","order":1,"width":8,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"configChoice_i0","x":2960,"y":320,"wires":[["6e700931.66b278"]]},{"id":"eaf1b4a8.321a78","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_RangeMin_i0","label":"Range Min","tooltip":"","group":"3cd523c0.e970bc","order":6,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"rangeMin_i0","x":4230,"y":340,"wires":[["7026f037.61ee9"]]},{"id":"7daf65c5.e210ac","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_RangeMax_i0","label":"Range Max","tooltip":"","group":"3cd523c0.e970bc","order":7,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"rangeMax_i0","x":4230,"y":420,"wires":[["eea98165.f4999"]]},{"id":"962730.90e5b8d","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_Units_i0","label":"Units","tooltip":"(Meters, Seconds, Pascal, Bar, ...)","group":"3cd523c0.e970bc","order":4,"width":4,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"units_i0","x":4210,"y":260,"wires":[["1e8e6d88.e75862"]]},{"id":"34978fd.dcbf97","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_AlarmMin_i0","label":"Alarm Min","tooltip":"","group":"3cd523c0.e970bc","order":9,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmMin_i0","x":4220,"y":500,"wires":[["d8212e8d.84001"]]},{"id":"afb10759.2d01b8","type":"ui_text_input","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"txt_AlarmMax_i0","label":"Alarm Max","tooltip":"","group":"3cd523c0.e970bc","order":10,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmMax_i0","x":4250,"y":580,"wires":[["5bfe86db.9065f8"]]},{"id":"305be7e2.8c1a48","type":"ui_button","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"btn_Save_i0","group":"3cd523c0.e970bc","order":14,"width":4,"height":1,"passthru":false,"label":"Save","tooltip":"Save current config by the sensor name provided.","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"true","payloadType":"bool","topic":"btnsave_i0","x":2410,"y":780,"wires":[["25d1d8af.b1dbf8","942f14cf.18ae88"]]},{"id":"648b1c65.ffe604","type":"ui_text_input","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"txt_SensorName_i0","label":"Sensor Name","tooltip":"Sensor Name, and subsquently config file name. No spaces allowed.","group":"3cd523c0.e970bc","order":3,"width":4,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"name_i0","x":4230,"y":180,"wires":[["82c53579.0a94e8"]]},{"id":"1d670c94.5253b3","type":"ui_button","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"btn_Delete_i0","group":"3cd523c0.e970bc","order":16,"width":4,"height":1,"passthru":false,"label":"Delete","tooltip":"Delete selected configuration.","color":"","bgcolor":"","icon":"fa-times","payload":"true","payloadType":"bool","topic":"delete_i0","x":2440,"y":960,"wires":[["fd8173f5.1e529","25d1d8af.b1dbf8","18b5c5e4.998d7a"]]},{"id":"a0e569b2.71a5f8","type":"ui_text_input","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"txt_AlarmPreMin_i0","label":"Alarm PreMin","tooltip":"","group":"3cd523c0.e970bc","order":12,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmpreMin_i0","x":4250,"y":660,"wires":[["697c935c.5e930c"]]},{"id":"a06bbc3c.32a42","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_AlarmPreMax_i0","label":"Alarm PreMax","tooltip":"","group":"3cd523c0.e970bc","order":13,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmPreMax_i0","x":4240,"y":740,"wires":[["9f667039.d3ccb"]]},{"id":"c536198b.ac62b8","type":"json","z":"651d6d0f.e08224","name":"","property":"payload","action":"str","pretty":true,"x":3290,"y":640,"wires":[["5849c6ff.453808"]]},{"id":"41cd5449.dfb96c","type":"file in","z":"651d6d0f.e08224","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":2900,"y":460,"wires":[["16b21c6a.d9e2d4","a0ba7c4c.71208"]]},{"id":"66ca41c4.fbd29","type":"exec","z":"651d6d0f.e08224","g":"671189e8.bb32c8","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":3330,"y":960,"wires":[[],[],[]]},{"id":"5849c6ff.453808","type":"file","z":"651d6d0f.e08224","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3430,"y":640,"wires":[[]]},{"id":"82c53579.0a94e8","type":"change","z":"651d6d0f.e08224","name":"Save Value name_i0","rules":[{"t":"set","p":"name_i0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4240,"y":220,"wires":[[]]},{"id":"1e8e6d88.e75862","type":"change","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"Save Value units_i0","rules":[{"t":"set","p":"units_i0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4230,"y":300,"wires":[[]]},{"id":"473131b7.ad1d9","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2910,"y":680,"wires":[]},{"id":"2c7efeec.569d32","type":"function","z":"651d6d0f.e08224","name":"Get and Join Current Values","func":"var name_i0 = flow.get(\"name_i0\") || \"DEFAULT_VALUE\"; \nvar units_i0 = flow.get(\"units_i0\") || \"DEFAULT UNITS\";\nvar rangeMin_i0 = flow.get(\"rangeMin_i0\") || \"0\";\nvar rangeMax_i0 = flow.get(\"rangeMax_i0\") || \"0\";\nvar alarmMin_i0 = flow.get(\"alarmMin_i0\") || \"0\";\nvar alarmMax_i0 = flow.get(\"alarmMax_i0\") || \"0\";\nvar alarmPreMin_i0 = flow.get(\"alarmPreMin_i0\") || \"0\";\nvar alarmPreMax_i0 = flow.get(\"alarmPreMax_i0\") || \"0\";\nvar enabled_i0 = flow.get(\"enabled_i0\") || false;\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_i0,\n    \"enabled\":enabled_i0,\n    \"units\": units_i0,\n    \"rangeMin\": rangeMin_i0,\n    \"rangeMax\": rangeMax_i0,\n    \"alarmMin\": alarmMin_i0,\n    \"alarmMax\": alarmMax_i0,\n    \"alarmPreMin\": alarmPreMin_i0,\n    \"alarmPreMax\": alarmPreMax_i0\n}\n\nmsg.filename = \"usr/dados/config/I0.json\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2960,"y":640,"wires":[["c536198b.ac62b8","473131b7.ad1d9"]]},{"id":"7026f037.61ee9","type":"change","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"Save Value rangeMin_i0","rules":[{"t":"set","p":"rangeMin_i0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4250,"y":380,"wires":[[]]},{"id":"eea98165.f4999","type":"change","z":"651d6d0f.e08224","name":"Save Value rangeMax_i0","rules":[{"t":"set","p":"rangeMax_i0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4250,"y":460,"wires":[[]]},{"id":"d8212e8d.84001","type":"change","z":"651d6d0f.e08224","name":"Save Value AlarmMin_i0","rules":[{"t":"set","p":"alarmMin_i0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4250,"y":540,"wires":[[]]},{"id":"5bfe86db.9065f8","type":"change","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"Save Value AlarmMax_i0","rules":[{"t":"set","p":"alarmMax_i0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4270,"y":620,"wires":[[]]},{"id":"9f667039.d3ccb","type":"change","z":"651d6d0f.e08224","name":"Save Value AlarmPreMax_i0","rules":[{"t":"set","p":"alarmPreMax_i0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4260,"y":780,"wires":[[]]},{"id":"697c935c.5e930c","type":"change","z":"651d6d0f.e08224","name":"Save Value AlarmPreMin_i0","rules":[{"t":"set","p":"alarmPreMin_i0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4260,"y":700,"wires":[[]]},{"id":"6e700931.66b278","type":"change","z":"651d6d0f.e08224","name":"Save Value ConfigChoice_i0","rules":[{"t":"set","p":"configChoice_i0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2960,"y":380,"wires":[["c80be6b8.2d9f78"]]},{"id":"fd8173f5.1e529","type":"function","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"Delete selected choice","func":"var configChoice_i0 = flow.get(\"configChoice_i0\");\n\nmsg.payload = \"rm /usr/dados/corrente/\" + configChoice_i0\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3000,"y":960,"wires":[["66ca41c4.fbd29","f44bc23f.1df35"]]},{"id":"c80be6b8.2d9f78","type":"function","z":"651d6d0f.e08224","name":"Get choice to load config file","func":"var configChoice_i0 = flow.get(\"configChoice_i0\");\nmsg.filename = \"usr/dados/corrente/\" + configChoice_i0\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3240,"y":380,"wires":[["41cd5449.dfb96c"]]},{"id":"ea41a1bf.ac1a7","type":"function","z":"651d6d0f.e08224","name":"Get file names and update Drop Down","func":"msg.payload[0]=null\nmsg.options = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2990,"y":260,"wires":[["75f17edf.d6565"]]},{"id":"16b21c6a.d9e2d4","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2910,"y":520,"wires":[]},{"id":"9000ceda.561a1","type":"ui_switch","z":"651d6d0f.e08224","name":"swt_OnOff_i0","label":"Off / On","tooltip":"Turn on or off this sensor slot.","group":"3cd523c0.e970bc","order":2,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"swtOnOff_i0","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":4280,"y":840,"wires":[["f2f4decc.51e69"]]},{"id":"a0ba7c4c.71208","type":"json","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"","property":"payload","action":"","pretty":false,"x":3110,"y":460,"wires":[["ecf97db8.9ab53","4a82f887.28bc98"]]},{"id":"ecf97db8.9ab53","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3110,"y":500,"wires":[]},{"id":"cb0f090e.cd4eb8","type":"comment","z":"651d6d0f.e08224","name":"CHANGE FILE NAME PATH","info":"Aqui mudar o comando de modo a funcionar no IOT.","x":2980,"y":920,"wires":[]},{"id":"294de01e.4dc0e","type":"comment","z":"651d6d0f.e08224","name":"README - Notes for the directory structure in IOT2040","info":"# Criar directório onde serão guardados os config files e posteriormente acedidos.\n\n## Estrutura do Directório:\n\n---\n\n### project_Data/\n### ├─ sensor_Configs/\n### │  ├─ acquired_Data/\n### │  │  ├─ sensor1_Data.json\n### │  ├─ adicional_NotificationSettings/\n### │  │  ├─ extra_Noti_1.json\n### │  ├─ current_Configs/\n### │  │  ├─ config1_Current.json\n### │  ├─ rs232_Configs/\n### │  │  ├─ config1_rs232.json\n### │  ├─ voltage_Configs/\n### │  │  ├─ config1_Voltage.json\n### \n\n---\n","x":3440,"y":140,"wires":[],"icon":"node-red/alert.svg"},{"id":"20f68386.4740ec","type":"switch","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"Route Values","property":"parts","propertyType":"msg","rules":[{"t":"index","v":"0","vt":"num","v2":"0","v2t":"num"},{"t":"index","v":"2","vt":"num","v2":"2","v2t":"num"},{"t":"index","v":"3","vt":"num","v2":"3","v2t":"num"},{"t":"index","v":"4","vt":"num","v2":"4","v2t":"num"},{"t":"index","v":"5","vt":"num","v2":"5","v2t":"num"},{"t":"index","v":"6","vt":"num","v2":"6","v2t":"num"},{"t":"index","v":"7","vt":"num","v2":"7","v2t":"num"},{"t":"index","v":"8","vt":"num","v2":"8","v2t":"num"},{"t":"index","v":"1","vt":"num","v2":"1","v2t":"num"}],"checkall":"true","repair":true,"outputs":9,"x":3530,"y":460,"wires":[["648b1c65.ffe604"],["962730.90e5b8d"],["ce172677.f5dfe8"],["42759866.eb3cd8"],["37776b53.72c8c4"],["4884e58a.83b68c"],["ff4981eb.72a95"],["616b85ad.ec089c"],["9000ceda.561a1"]]},{"id":"4a82f887.28bc98","type":"split","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"splitConfigFile","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3320,"y":460,"wires":[["20f68386.4740ec","bf745faa.40aea"]]},{"id":"bf745faa.40aea","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"parts","targetType":"msg","statusVal":"","statusType":"auto","x":3300,"y":500,"wires":[]},{"id":"ce172677.f5dfe8","type":"function","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3880,"y":400,"wires":[["eaf1b4a8.321a78"]]},{"id":"42759866.eb3cd8","type":"function","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3880,"y":440,"wires":[["7daf65c5.e210ac"]]},{"id":"4884e58a.83b68c","type":"function","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3880,"y":520,"wires":[["afb10759.2d01b8"]]},{"id":"ff4981eb.72a95","type":"function","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3880,"y":560,"wires":[["a0e569b2.71a5f8"]]},{"id":"616b85ad.ec089c","type":"function","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3880,"y":600,"wires":[["a06bbc3c.32a42"]]},{"id":"37776b53.72c8c4","type":"function","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3880,"y":480,"wires":[["34978fd.dcbf97"]]},{"id":"93b20d8b.c9ded","type":"comment","z":"651d6d0f.e08224","name":"CHANGE FILE NAME PATH","info":"","x":3240,"y":340,"wires":[]},{"id":"f6e5faa4.4ab678","type":"comment","z":"651d6d0f.e08224","name":"CHANGE FILE NAME PATH","info":"","x":2960,"y":600,"wires":[]},{"id":"1d2752f1.c4073d","type":"comment","z":"651d6d0f.e08224","name":"CHANGE FOLDER PATH","info":"### Aqui colocar o path para a pasta correcta de configuração dos sensores em causa. (currente, tensão, rs232)\n\nNeste caso, o path da pasta /../voltage_configs/","x":2710,"y":220,"wires":[]},{"id":"f44bc23f.1df35","type":"debug","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2990,"y":1000,"wires":[]},{"id":"18b5c5e4.998d7a","type":"change","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"Set to Null","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3890,"y":640,"wires":[["eaf1b4a8.321a78","7daf65c5.e210ac","962730.90e5b8d","34978fd.dcbf97","afb10759.2d01b8","648b1c65.ffe604","a0e569b2.71a5f8","a06bbc3c.32a42","cd8c4373.c0c1d"]]},{"id":"c3fe5e5e.3c619","type":"ui_button","z":"651d6d0f.e08224","name":"btn_refresh_i0","group":"3cd523c0.e970bc","order":8,"width":4,"height":1,"passthru":false,"label":"","tooltip":"Show the current configuration of input","color":"","bgcolor":"","icon":"fa-refresh","payload":"true","payloadType":"bool","topic":"topic","x":2400,"y":480,"wires":[["3e8ca14f.3db79e","ef3b6dfd.91989","25d1d8af.b1dbf8"]]},{"id":"12697993.32b5f6","type":"exec","z":"651d6d0f.e08224","command":"ls /usr/dados/corrente","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2640,"y":340,"wires":[["86bf80ae.cadfd"],[],[]]},{"id":"86bf80ae.cadfd","type":"split","z":"651d6d0f.e08224","name":"","splt":"\\n","spltType":"str","arraySplt":"10","arraySpltType":"len","stream":true,"addname":"","x":2630,"y":260,"wires":[["543e8cd7.37df34"]]},{"id":"f2f4decc.51e69","type":"change","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"Save enabled","rules":[{"t":"set","p":"enabled_i0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4300,"y":900,"wires":[[]]},{"id":"cd8c4373.c0c1d","type":"function","z":"651d6d0f.e08224","name":"","func":"msg.payload=false; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4080,"y":840,"wires":[["9000ceda.561a1"]]},{"id":"543e8cd7.37df34","type":"join","z":"651d6d0f.e08224","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2750,"y":260,"wires":[["ea41a1bf.ac1a7"]]},{"id":"3e8ca14f.3db79e","type":"function","z":"651d6d0f.e08224","name":"","func":"msg.filename = \"usr/dados/config/I0.json\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2600,"y":480,"wires":[["41cd5449.dfb96c"]]},{"id":"b232d3b1.4f642","type":"ui_button","z":"651d6d0f.e08224","name":"btn_Load_i0","group":"3cd523c0.e970bc","order":11,"width":4,"height":1,"passthru":false,"label":"LOAD","tooltip":"Load current config by the sensor name provided.","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"true","payloadType":"bool","topic":"btnload_i0","x":2390,"y":640,"wires":[["2c7efeec.569d32","25d1d8af.b1dbf8"]]},{"id":"c088e498.ad1738","type":"file","z":"651d6d0f.e08224","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3430,"y":800,"wires":[[]]},{"id":"25d1d8af.b1dbf8","type":"delay","z":"651d6d0f.e08224","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2450,"y":340,"wires":[["12697993.32b5f6"]]},{"id":"342ad7a3.b30788","type":"inject","z":"651d6d0f.e08224","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":2450,"y":220,"wires":[["12697993.32b5f6"]]},{"id":"ef3b6dfd.91989","type":"function","z":"651d6d0f.e08224","name":"","func":"'função para colocar a opção selecionada como a I0.json '\nmsg.payload=\"I0.json\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2600,"y":440,"wires":[["75f17edf.d6565"]]},{"id":"290fbbc2.b6d464","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2910,"y":840,"wires":[]},{"id":"942f14cf.18ae88","type":"function","z":"651d6d0f.e08224","name":"Get and Join Current Values","func":"var name_i0 = flow.get(\"name_i0\") || \"DEFAULT_VALUE\"; \nvar units_i0 = flow.get(\"units_i0\") || \"DEFAULT UNITS\";\nvar rangeMin_i0 = flow.get(\"rangeMin_i0\") || \"0\";\nvar rangeMax_i0 = flow.get(\"rangeMax_i0\") || \"0\";\nvar alarmMin_i0 = flow.get(\"alarmMin_i0\") || \"0\";\nvar alarmMax_i0 = flow.get(\"alarmMax_i0\") || \"0\";\nvar alarmPreMin_i0 = flow.get(\"alarmPreMin_i0\") || \"0\";\nvar alarmPreMax_i0 = flow.get(\"alarmPreMax_i0\") || \"0\";\nvar enabled_i0 = flow.get(\"enabled_i0\") || false;\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_i0,\n    \"enabled\":enabled_i0,\n    \"units\": units_i0,\n    \"rangeMin\": rangeMin_i0,\n    \"rangeMax\": rangeMax_i0,\n    \"alarmMin\": alarmMin_i0,\n    \"alarmMax\": alarmMax_i0,\n    \"alarmPreMin\": alarmPreMin_i0,\n    \"alarmPreMax\": alarmPreMax_i0\n}\n\nmsg.filename = \"usr/dados/corrente/\"+ name_i0+ \".json\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2960,"y":800,"wires":[["da3e161.f87dce8","290fbbc2.b6d464"]]},{"id":"da3e161.f87dce8","type":"json","z":"651d6d0f.e08224","name":"","property":"payload","action":"str","pretty":true,"x":3290,"y":800,"wires":[["c088e498.ad1738"]]},{"id":"7167f8b1.a49ce8","type":"ui_button","z":"651d6d0f.e08224","g":"671189e8.bb32c8","name":"btn_clean_i0","group":"3cd523c0.e970bc","order":5,"width":4,"height":1,"passthru":false,"label":"Clean","tooltip":"Clean form entries.","color":"","bgcolor":"","icon":"fa-eraser","payload":"","payloadType":"date","topic":"","x":3670,"y":640,"wires":[["18b5c5e4.998d7a"]]},{"id":"c5c8f096.16605","type":"inject","z":"651d6d0f.e08224","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":2410,"y":1380,"wires":[["537ea7b9.7bc2d8"]]},{"id":"537ea7b9.7bc2d8","type":"exec","z":"651d6d0f.e08224","command":"ls /usr/dados/corrente","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":2600,"y":1500,"wires":[["b5c46447.2f2bd8"],[],[]]},{"id":"b5c46447.2f2bd8","type":"split","z":"651d6d0f.e08224","name":"","splt":"\\n","spltType":"str","arraySplt":"10","arraySpltType":"len","stream":true,"addname":"","x":2590,"y":1420,"wires":[["71ffaf22.a7792"]]},{"id":"55370767.c638c8","type":"delay","z":"651d6d0f.e08224","name":"","pauseType":"delay","timeout":"0.5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":2410,"y":1500,"wires":[["537ea7b9.7bc2d8"]]},{"id":"71ffaf22.a7792","type":"join","z":"651d6d0f.e08224","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2710,"y":1420,"wires":[["f329c67.561be38"]]},{"id":"af788b17.b0e9c8","type":"ui_button","z":"651d6d0f.e08224","name":"btn_Save_i1","group":"33b81018.1618c","order":14,"width":4,"height":1,"passthru":false,"label":"Save","tooltip":"Save current config by the sensor name provided.","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"true","payloadType":"bool","topic":"btnsave_i1","x":2370,"y":1940,"wires":[["55370767.c638c8","41f26963.64de78"]]},{"id":"c393c03a.6583","type":"ui_button","z":"651d6d0f.e08224","name":"btn_Delete_i1","group":"33b81018.1618c","order":16,"width":4,"height":1,"passthru":false,"label":"Delete","tooltip":"Delete selected configuration.","color":"","bgcolor":"","icon":"fa-times","payload":"true","payloadType":"bool","topic":"delete_i1","x":2400,"y":2120,"wires":[["e25b0d59.55634","55370767.c638c8","c01396c7.b53288"]]},{"id":"ff93e526.f19ca8","type":"ui_button","z":"651d6d0f.e08224","name":"btn_Load_i1","group":"33b81018.1618c","order":11,"width":4,"height":1,"passthru":false,"label":"LOAD","tooltip":"Load current config by the sensor name provided.","color":"","bgcolor":"","icon":"fa-floppy-o","payload":"true","payloadType":"bool","topic":"btnload_i1","x":2350,"y":1800,"wires":[["55d1a6ef.dc8718","55370767.c638c8"]]},{"id":"f329c67.561be38","type":"function","z":"651d6d0f.e08224","name":"Get file names and update Drop Down","func":"msg.payload[0]=null\nmsg.options = msg.payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2950,"y":1420,"wires":[["ae19f678.08ff58"]]},{"id":"41f26963.64de78","type":"function","z":"651d6d0f.e08224","name":"Get and Join Current Values","func":"var name_i1 = flow.get(\"name_i1\") || \"DEFAULT_VALUE\"; \nvar units_i1 = flow.get(\"units_i1\") || \"DEFAULT UNITS\";\nvar rangeMin_i1 = flow.get(\"rangeMin_i1\") || \"0\";\nvar rangeMax_i1 = flow.get(\"rangeMax_i1\") || \"0\";\nvar alarmMin_i1 = flow.get(\"alarmMin_i1\") || \"0\";\nvar alarmMax_i1 = flow.get(\"alarmMax_i1\") || \"0\";\nvar alarmPreMin_i1 = flow.get(\"alarmPreMin_i1\") || \"0\";\nvar alarmPreMax_i1 = flow.get(\"alarmPreMax_i1\") || \"0\";\nvar enabled_i1 = flow.get(\"enabled_i1\") || false;\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_i1,\n    \"enabled\":enabled_i1,\n    \"units\": units_i1,\n    \"rangeMin\": rangeMin_i1,\n    \"rangeMax\": rangeMax_i1,\n    \"alarmMin\": alarmMin_i1,\n    \"alarmMax\": alarmMax_i1,\n    \"alarmPreMin\": alarmPreMin_i1,\n    \"alarmPreMax\": alarmPreMax_i1\n}\n\nmsg.filename = \"usr/dados/corrente/\"+ name_i1+ \".json\";\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2920,"y":1960,"wires":[["b2cf6692.5bc818","db251d90.0be13"]]},{"id":"e25b0d59.55634","type":"function","z":"651d6d0f.e08224","name":"Delete selected choice","func":"var configChoice_i1 = flow.get(\"configChoice_i1\");\n\nmsg.payload = \"rm /usr/dados/corrente/\" + configChoice_i1\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2960,"y":2120,"wires":[["eaac1306.a20da","29a0d631.29dfaa"]]},{"id":"c01396c7.b53288","type":"change","z":"651d6d0f.e08224","name":"Set to Null","rules":[{"t":"set","p":"payload","pt":"msg","to":"null","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":3850,"y":1800,"wires":[["ee18cc5a.3ab8f","2f246bd2.090044","7a247776.b73c58","17ff5486.e6c61b","b5716bb1.9f8be8","e597c88e.4db5d8","f757774f.6ca0f8","c6f665a8.a6aff8","29afe830.f41478"]]},{"id":"55d1a6ef.dc8718","type":"function","z":"651d6d0f.e08224","name":"Get and Join Current Values","func":"var name_i1 = flow.get(\"name_i1\") || \"DEFAULT_VALUE\"; \nvar units_i1 = flow.get(\"units_i1\") || \"DEFAULT UNITS\";\nvar rangeMin_i1 = flow.get(\"rangeMin_i1\") || \"0\";\nvar rangeMax_i1 = flow.get(\"rangeMax_i1\") || \"0\";\nvar alarmMin_i1 = flow.get(\"alarmMin_i1\") || \"0\";\nvar alarmMax_i1 = flow.get(\"alarmMax_i1\") || \"0\";\nvar alarmPreMin_i1 = flow.get(\"alarmPreMin_i1\") || \"0\";\nvar alarmPreMax_i1 = flow.get(\"alarmPreMax_i1\") || \"0\";\nvar enabled_i1 = flow.get(\"enabled_i1\") || false;\n\nmsg.topic = \"sensorconfig\";\nmsg.payload = {\n    \"name\": name_i1,\n    \"enabled\":enabled_i1,\n    \"units\": units_i1,\n    \"rangeMin\": rangeMin_i1,\n    \"rangeMax\": rangeMax_i1,\n    \"alarmMin\": alarmMin_i1,\n    \"alarmMax\": alarmMax_i1,\n    \"alarmPreMin\": alarmPreMin_i1,\n    \"alarmPreMax\": alarmPreMax_i1\n}\n\nmsg.filename = \"usr/dados/config/I1.json\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2920,"y":1800,"wires":[["590e5dbb.cc2884","b9f05184.ab853"]]},{"id":"ae19f678.08ff58","type":"ui_dropdown","z":"651d6d0f.e08224","name":"dd_ConfigChoice_i1","label":"Saved Configurations","tooltip":"Select desired (saved) sensor config.","place":"","group":"33b81018.1618c","order":1,"width":8,"height":1,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"configChoice_i1","x":2920,"y":1480,"wires":[["d526cc6b.dc393"]]},{"id":"b2cf6692.5bc818","type":"json","z":"651d6d0f.e08224","name":"","property":"payload","action":"str","pretty":true,"x":3250,"y":1960,"wires":[["f2b15e5.063c1a"]]},{"id":"db251d90.0be13","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2870,"y":2000,"wires":[]},{"id":"eaac1306.a20da","type":"exec","z":"651d6d0f.e08224","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":3290,"y":2120,"wires":[[],[],[]]},{"id":"29a0d631.29dfaa","type":"debug","z":"651d6d0f.e08224","g":"ca9ab8b6.7e1c18","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":2950,"y":2160,"wires":[]},{"id":"ee18cc5a.3ab8f","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_RangeMin_i1","label":"Range Min","tooltip":"","group":"33b81018.1618c","order":6,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"rangeMin_i1","x":4190,"y":1500,"wires":[["59bcc2fd.c7e33c"]]},{"id":"2f246bd2.090044","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_RangeMax_i1","label":"Range Max","tooltip":"","group":"33b81018.1618c","order":7,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"rangeMax_i1","x":4190,"y":1580,"wires":[["62e6b6.665c294c"]]},{"id":"7a247776.b73c58","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_Units_i1","label":"Units","tooltip":"(Meters, Seconds, Pascal, Bar, ...)","group":"33b81018.1618c","order":4,"width":4,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"units_i1","x":4170,"y":1420,"wires":[["27549a38.66e4d6"]]},{"id":"17ff5486.e6c61b","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_AlarmMin_i1","label":"Alarm Min","tooltip":"","group":"33b81018.1618c","order":9,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmMin_i1","x":4180,"y":1660,"wires":[["2b78f21.f5ea70e"]]},{"id":"b5716bb1.9f8be8","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_AlarmMax_i1","label":"Alarm Max","tooltip":"","group":"33b81018.1618c","order":10,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmMax_i1","x":4210,"y":1740,"wires":[["b57581d2.80188"]]},{"id":"e597c88e.4db5d8","type":"ui_text_input","z":"651d6d0f.e08224","g":"ca9ab8b6.7e1c18","name":"txt_SensorName_i1","label":"Sensor Name","tooltip":"Sensor Name, and subsquently config file name. No spaces allowed.","group":"33b81018.1618c","order":3,"width":4,"height":1,"passthru":true,"mode":"text","delay":"300","topic":"name_i1","x":4190,"y":1340,"wires":[["24fa548f.a8875c"]]},{"id":"f757774f.6ca0f8","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_AlarmPreMin_i1","label":"Alarm PreMin","tooltip":"","group":"33b81018.1618c","order":12,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmpreMin_i1","x":4210,"y":1820,"wires":[["71f48908.5d0d58"]]},{"id":"c6f665a8.a6aff8","type":"ui_text_input","z":"651d6d0f.e08224","name":"txt_AlarmPreMax_i1","label":"Alarm PreMax","tooltip":"","group":"33b81018.1618c","order":13,"width":4,"height":1,"passthru":true,"mode":"number","delay":"300","topic":"alarmPreMax_i1","x":4200,"y":1900,"wires":[["b07543b4.a944c"]]},{"id":"29afe830.f41478","type":"function","z":"651d6d0f.e08224","name":"","func":"msg.payload=false; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":4040,"y":2000,"wires":[["77b4c6c.be76738"]]},{"id":"2eb7f984.ad4f76","type":"ui_button","z":"651d6d0f.e08224","name":"btn_clean_i1","group":"33b81018.1618c","order":5,"width":4,"height":1,"passthru":false,"label":"Clean","tooltip":"Clean form entries.","color":"","bgcolor":"","icon":"fa-eraser","payload":"","payloadType":"date","topic":"","x":3630,"y":1800,"wires":[["c01396c7.b53288"]]},{"id":"590e5dbb.cc2884","type":"json","z":"651d6d0f.e08224","name":"","property":"payload","action":"str","pretty":true,"x":3250,"y":1800,"wires":[["67c517c5.3e2948"]]},{"id":"b9f05184.ab853","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2870,"y":1840,"wires":[]},{"id":"d526cc6b.dc393","type":"change","z":"651d6d0f.e08224","name":"Save Value ConfigChoice_i1","rules":[{"t":"set","p":"configChoice_i1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2920,"y":1540,"wires":[["37ea7caf.704404"]]},{"id":"2807148a.7b775c","type":"function","z":"651d6d0f.e08224","name":"","func":"'função para colocar a opção selecionada como a I1.json '\nmsg.payload=\"I1.json\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2560,"y":1600,"wires":[["ae19f678.08ff58"]]},{"id":"f2b15e5.063c1a","type":"file","z":"651d6d0f.e08224","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3390,"y":1960,"wires":[[]]},{"id":"59bcc2fd.c7e33c","type":"change","z":"651d6d0f.e08224","name":"Save Value rangeMin_i1","rules":[{"t":"set","p":"rangeMin_i1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4210,"y":1540,"wires":[[]]},{"id":"36d56ac.f1e8796","type":"function","z":"651d6d0f.e08224","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3840,"y":1560,"wires":[["ee18cc5a.3ab8f"]]},{"id":"62e6b6.665c294c","type":"change","z":"651d6d0f.e08224","name":"Save Value rangeMax_i1","rules":[{"t":"set","p":"rangeMax_i1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4210,"y":1620,"wires":[[]]},{"id":"3cf17e80.c0ae42","type":"function","z":"651d6d0f.e08224","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3840,"y":1600,"wires":[["2f246bd2.090044"]]},{"id":"27549a38.66e4d6","type":"change","z":"651d6d0f.e08224","name":"Save Value units_i1","rules":[{"t":"set","p":"units_i1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4190,"y":1460,"wires":[[]]},{"id":"b59f0d5c.c02a8","type":"switch","z":"651d6d0f.e08224","name":"Route Values","property":"parts","propertyType":"msg","rules":[{"t":"index","v":"0","vt":"num","v2":"0","v2t":"num"},{"t":"index","v":"2","vt":"num","v2":"2","v2t":"num"},{"t":"index","v":"3","vt":"num","v2":"3","v2t":"num"},{"t":"index","v":"4","vt":"num","v2":"4","v2t":"num"},{"t":"index","v":"5","vt":"num","v2":"5","v2t":"num"},{"t":"index","v":"6","vt":"num","v2":"6","v2t":"num"},{"t":"index","v":"7","vt":"num","v2":"7","v2t":"num"},{"t":"index","v":"8","vt":"num","v2":"8","v2t":"num"},{"t":"index","v":"1","vt":"num","v2":"1","v2t":"num"}],"checkall":"true","repair":true,"outputs":9,"x":3490,"y":1620,"wires":[["e597c88e.4db5d8"],["7a247776.b73c58"],["36d56ac.f1e8796"],["3cf17e80.c0ae42"],["5ed8e7d4.81a388"],["d6e9247a.b185d8"],["1bad229e.2bfded"],["82ecee52.e6c88"],["77b4c6c.be76738"]]},{"id":"2b78f21.f5ea70e","type":"change","z":"651d6d0f.e08224","name":"Save Value AlarmMin_i1","rules":[{"t":"set","p":"alarmMin_i1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4210,"y":1700,"wires":[[]]},{"id":"5ed8e7d4.81a388","type":"function","z":"651d6d0f.e08224","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3840,"y":1640,"wires":[["17ff5486.e6c61b"]]},{"id":"b57581d2.80188","type":"change","z":"651d6d0f.e08224","name":"Save Value AlarmMax_i1","rules":[{"t":"set","p":"alarmMax_i1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4230,"y":1780,"wires":[[]]},{"id":"d6e9247a.b185d8","type":"function","z":"651d6d0f.e08224","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3840,"y":1680,"wires":[["b5716bb1.9f8be8"]]},{"id":"24fa548f.a8875c","type":"change","z":"651d6d0f.e08224","name":"Save Value name_i1","rules":[{"t":"set","p":"name_i1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4200,"y":1380,"wires":[[]]},{"id":"71f48908.5d0d58","type":"change","z":"651d6d0f.e08224","name":"Save Value AlarmPreMin_i1","rules":[{"t":"set","p":"alarmPreMin_i1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4220,"y":1860,"wires":[[]]},{"id":"1bad229e.2bfded","type":"function","z":"651d6d0f.e08224","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3840,"y":1720,"wires":[["f757774f.6ca0f8"]]},{"id":"b07543b4.a944c","type":"change","z":"651d6d0f.e08224","name":"Save Value AlarmPreMax_i1","rules":[{"t":"set","p":"alarmPreMax_i1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4220,"y":1940,"wires":[[]]},{"id":"82ecee52.e6c88","type":"function","z":"651d6d0f.e08224","name":"StringToNumber","func":"msg.payload = Number(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3840,"y":1760,"wires":[["c6f665a8.a6aff8"]]},{"id":"77b4c6c.be76738","type":"ui_switch","z":"651d6d0f.e08224","name":"swt_OnOff_i1","label":"Off / On","tooltip":"Turn on or off this sensor slot.","group":"33b81018.1618c","order":2,"width":4,"height":1,"passthru":true,"decouple":"false","topic":"swtOnOff_i1","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":4240,"y":2000,"wires":[["1694823f.047b8e"]]},{"id":"67c517c5.3e2948","type":"file","z":"651d6d0f.e08224","name":"","filename":"","appendNewline":true,"createDir":false,"overwriteFile":"true","encoding":"none","x":3390,"y":1800,"wires":[[]]},{"id":"37ea7caf.704404","type":"function","z":"651d6d0f.e08224","name":"Get choice to load config file","func":"var configChoice_i1 = flow.get(\"configChoice_i1\");\nmsg.filename = \"usr/dados/corrente/\" + configChoice_i1\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3200,"y":1540,"wires":[["5115b6bd.2e0518"]]},{"id":"1027b081.01c02f","type":"ui_button","z":"651d6d0f.e08224","name":"btn_refresh_i1","group":"33b81018.1618c","order":8,"width":4,"height":1,"passthru":false,"label":"","tooltip":"Show the current configuration of input","color":"","bgcolor":"","icon":"fa-refresh","payload":"true","payloadType":"bool","topic":"topic","x":2360,"y":1640,"wires":[["e154714d.c977c","2807148a.7b775c","55370767.c638c8"]]},{"id":"19bebe7d.cd04a2","type":"split","z":"651d6d0f.e08224","name":"splitConfigFile","splt":"","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":3280,"y":1620,"wires":[["b59f0d5c.c02a8","a3f5b504.2b3568"]]},{"id":"1694823f.047b8e","type":"change","z":"651d6d0f.e08224","g":"ca9ab8b6.7e1c18","name":"Save enabled","rules":[{"t":"set","p":"enabled_i1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":4260,"y":2060,"wires":[[]]},{"id":"5115b6bd.2e0518","type":"file in","z":"651d6d0f.e08224","name":"","filename":"","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":2860,"y":1620,"wires":[["2e735c9e.52beb4","c34640e6.4c77d"]]},{"id":"e154714d.c977c","type":"function","z":"651d6d0f.e08224","name":"","func":"msg.filename = \"usr/dados/config/I1.json\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2560,"y":1640,"wires":[["5115b6bd.2e0518"]]},{"id":"c34640e6.4c77d","type":"json","z":"651d6d0f.e08224","name":"","property":"payload","action":"","pretty":false,"x":3070,"y":1620,"wires":[["73ca5dfd.261af4","19bebe7d.cd04a2"]]},{"id":"a3f5b504.2b3568","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"parts","targetType":"msg","statusVal":"","statusType":"auto","x":3260,"y":1660,"wires":[]},{"id":"2e735c9e.52beb4","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2870,"y":1680,"wires":[]},{"id":"73ca5dfd.261af4","type":"debug","z":"651d6d0f.e08224","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":3070,"y":1660,"wires":[]},{"id":"5e5eb7a6.6ba598","type":"ui_button","z":"33432789.4c70f8","name":"","group":"49de8910.30c838","order":1,"width":12,"height":1,"passthru":false,"label":"Começar recolha de dados","tooltip":"","color":"","bgcolor":"{{msg.payload.color}}","icon":"","payload":"true","payloadType":"bool","topic":"","x":600,"y":2420,"wires":[["1ff4b686.c49df9","e1922cce.80201","5e91c397.26af1c","31b35f50.4068f"]]},{"id":"79f85f17.06ab4","type":"ui_button","z":"33432789.4c70f8","name":"","group":"49de8910.30c838","order":3,"width":12,"height":1,"passthru":false,"label":"Parar recolha de dados","tooltip":"","color":"","bgcolor":"","icon":"","payload":"false","payloadType":"bool","topic":"","x":600,"y":2480,"wires":[["1ff4b686.c49df9","31b35f50.4068f","5e91c397.26af1c"]]},{"id":"1ff4b686.c49df9","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"recolha","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":880,"y":2460,"wires":[[]]},{"id":"5e91c397.26af1c","type":"function","z":"33432789.4c70f8","name":"","func":"var recolha = flow.get(\"recolha\")\nif (recolha==true) {\n    msg.enabled=false; \n}else {\n    msg.enabled=true; \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":2420,"wires":[["5e5eb7a6.6ba598"]]},{"id":"31b35f50.4068f","type":"function","z":"33432789.4c70f8","name":"","func":"var recolha = flow.get(\"recolha\")\nif (recolha==true) {\n    msg.enabled=true; \n}else {\n    msg.enabled=false; \n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":2480,"wires":[["79f85f17.06ab4"]]},{"id":"c03401a6.9e59f","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"nomeficheiro","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":2420,"wires":[[]]},{"id":"e1922cce.80201","type":"function","z":"33432789.4c70f8","name":"","func":"var time=new Date().toISOString();\nmsg.payload=time; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":870,"y":2420,"wires":[["c03401a6.9e59f"]]},{"id":"763dc3b5.8af77c","type":"inject","z":"33432789.4c70f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":2440,"wires":[["5e91c397.26af1c","31b35f50.4068f"]]},{"id":"c466e5d5.3ec778","type":"function","z":"33432789.4c70f8","name":"mean_mobile_calc","func":"// Variable declaration\nvar valueArray = context.get(\"valueArray\") || []; // Get previous array of values, if it exists\nvar tot = 0;\nvar valueCount = valueArray.length; //Length of the array\n\n// If the array has less than 10 values, add another one\nif (valueCount < 10){\n    valueArray[valueCount] = msg.payload.value;\n}\n// If the array has 10 values, replace the oldest one\nelse{\n    \n    for (i=0; i<9; i++){\n        valueArray[i] = valueArray[i+1];\n    }\n    \n    valueArray[9] = msg.payload.value;\n}\n\n//Save the array\ncontext.set(\"valueArray\", valueArray)\n\n//\nif (valueCount < 10){\n    for (i = 0; i < valueCount + 1; i++){\n        tot = tot + valueArray[i];\n    }\n    var mean = tot/(valueCount + 1);\n}\nelse{\n    for (i = 0; i < valueCount; i++){\n        tot = tot + valueArray[i];\n    }\n    var mean = tot/valueCount;    \n}\n\nmean = Math.round(mean*100)/100;\n\nmsg.payload = mean;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":20,"wires":[["5048f317.0c14bc"]]},{"id":"5048f317.0c14bc","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mean_mobile","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":20,"wires":[["9941a674.644c18"]]},{"id":"3ca84b51.cf86d4","type":"function","z":"33432789.4c70f8","name":"max_calc","func":"// Variable declaration\nvar valueMax = context.get(\"valueMax\") || 0;\n\nif (valueMax == 0){\n    valueMax = msg.payload.value;\n}\nelse{\n    if (msg.payload.value > valueMax){\n        valueMax = msg.payload.value;\n    }\n}\n\n//Save the array\ncontext.set(\"valueMax\", valueMax);\n\nmsg.payload = valueMax;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":260,"wires":[["64dbd03b.4730f"]]},{"id":"65caf012.ef316","type":"function","z":"33432789.4c70f8","name":"min_calc","func":"// Variable declaration\nvar valueMin = context.get(\"valueMin\") || 0;\n\nif (valueMin == 0){\n    valueMin = msg.payload.value;\n}\nelse{\n    if (msg.payload.value < valueMin){\n        valueMin = msg.payload.value;\n    }\n}\n\n//Save the array\ncontext.set(\"valueMin\", valueMin);\n\nmsg.payload = valueMin;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":200,"wires":[["1c471a8b.2ed3a5"]]},{"id":"1c471a8b.2ed3a5","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":200,"wires":[["3c216189.f3417e"]]},{"id":"64dbd03b.4730f","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"max","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":260,"wires":[["f4fe8a77.4c05c8"]]},{"id":"7c80be08.bc111","type":"function","z":"33432789.4c70f8","name":"slope_calc","func":"var previousValue = context.get(\"previousValue\") || 0;\nvar prevTime = context.get(\"previousTime\") || 0;\n\nvar actualTime = Date.now();\n\nif (prevTime != 0){\n    \nvar timeDiff = (actualTime - prevTime)/1000;\n\nvar delta = msg.payload.value - previousValue;\n\nvar slope = delta/timeDiff;\n\nslope = Math.round(slope*100)/100;\n\nmsg.payload = slope;\n\n}\n\nelse{\n    msg.payload = 0;\n}\n\ncontext.set(\"previousTime\", actualTime);\ncontext.set(\"previousValue\", msg.payload.value);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":320,"wires":[["be01fb4c.f73098"]]},{"id":"be01fb4c.f73098","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"slope","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":320,"wires":[["f37f0e72.c294"]]},{"id":"c1edc007.17da9","type":"function","z":"33432789.4c70f8","name":"mean_calc","func":"// Variable declaration\nvar tot = context.get(\"tot\") || 0; \nvar valueCount = context.get(\"valueCount\") || 0;\n\nvalueCount = valueCount + 1;\n\ntot = tot + msg.payload.value;\n\nvar mean=0; \n\nif (valueCount != 0){\n    mean = tot/valueCount;\n}\n\nmean = Math.round(mean*100)/100;\nmsg.payload = mean;\n\ncontext.set(\"tot\", tot);\ncontext.set(\"valueCount\", valueCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":80,"wires":[["bc9a2e9.3f831d"]]},{"id":"bc9a2e9.3f831d","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mean","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":80,"wires":[["9941a674.644c18"]]},{"id":"f37f0e72.c294","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":14,"width":4,"height":1,"name":"Slope_U0","label":"Slope","format":"{{msg.payload}}","layout":"row-spread","x":1440,"y":320,"wires":[]},{"id":"3c216189.f3417e","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":20,"width":4,"height":1,"name":"Minimum_U0","label":"Minimum","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":200,"wires":[]},{"id":"f4fe8a77.4c05c8","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":17,"width":4,"height":1,"name":"Maximum_U0","label":"Maximum","format":"{{msg.payload}}","layout":"row-spread","x":1460,"y":260,"wires":[]},{"id":"51cd90b9.f3a76","type":"function","z":"33432789.4c70f8","name":"max_calc","func":"// Variable declaration\nvar valueMax = context.get(\"valueMax\") || 0;\n\nif (valueMax == 0){\n    valueMax = msg.payload.value;\n}\nelse{\n    if (msg.payload.value > valueMax){\n        valueMax = msg.payload.value;\n    }\n}\n\n//Save the array\ncontext.set(\"valueMax\", valueMax);\n\nmsg.payload = valueMax;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":800,"wires":[["fe1967c9.0299d8"]]},{"id":"a52ba99f.58e7f8","type":"function","z":"33432789.4c70f8","name":"min_calc","func":"// Variable declaration\nvar valueMin = context.get(\"valueMin\") || 0;\n\nif (valueMin == 0){\n    valueMin = msg.payload.value;\n}\nelse{\n    if (msg.payload.value < valueMin){\n        valueMin = msg.payload.value;\n    }\n}\n\n//Save the array\ncontext.set(\"valueMin\", valueMin);\n\nmsg.payload = valueMin;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":740,"wires":[["bfb29a96.ea0138"]]},{"id":"bfb29a96.ea0138","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":740,"wires":[["83d610ba.b1447"]]},{"id":"fe1967c9.0299d8","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"max","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":800,"wires":[["d9493ffe.e465"]]},{"id":"7b45dc76.60bda4","type":"function","z":"33432789.4c70f8","name":"slope_calc","func":"var previousValue = context.get(\"previousValue\") || 0;\nvar prevTime = context.get(\"previousTime\") || 0;\n\nvar actualTime = Date.now();\n\nif (prevTime != 0){\n    \nvar timeDiff = (actualTime - prevTime)/1000;\n\nvar delta = msg.payload.value - previousValue;\n\nvar slope = delta/timeDiff;\n\nslope = Math.round(slope*100)/100;\n\nmsg.payload = slope;\n\n}\n\nelse{\n    msg.payload = 0;\n}\n\ncontext.set(\"previousTime\", actualTime);\ncontext.set(\"previousValue\", msg.payload.value);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":860,"wires":[["7b0d19fd.28b4c8"]]},{"id":"7b0d19fd.28b4c8","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"slope","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":860,"wires":[["a5c1eb4b.6c9c08"]]},{"id":"a5c1eb4b.6c9c08","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":24,"width":4,"height":1,"name":"Slope_I0","label":"Slope","format":"{{msg.payload}}","layout":"row-spread","x":1440,"y":860,"wires":[]},{"id":"83d610ba.b1447","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":30,"width":4,"height":1,"name":"Minimum_I0","label":"Minimum","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":740,"wires":[]},{"id":"d9493ffe.e465","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":27,"width":4,"height":1,"name":"Maximum_I0","label":"Maximum","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":800,"wires":[]},{"id":"23b530f3.30b06","type":"function","z":"33432789.4c70f8","name":"mean_calc","func":"// Variable declaration\nvar tot = context.get(\"tot\") || 0; \nvar valueCount = context.get(\"valueCount\") || 0;\n\nvalueCount = valueCount + 1;\n\ntot = tot + msg.payload.value;\n\nvar mean=0; \n\nif (valueCount != 0){\n    mean = tot/valueCount;\n}\n\nmean = Math.round(mean*100)/100;\nmsg.payload = mean;\n\ncontext.set(\"tot\", tot);\ncontext.set(\"valueCount\", valueCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":620,"wires":[["7abaef01.128"]]},{"id":"7abaef01.128","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mean","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":620,"wires":[["50dabdaa.082164"]]},{"id":"b7d59bdd.fcfbc8","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mean_mobile","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":560,"wires":[["50dabdaa.082164"]]},{"id":"5de64521.b4c87c","type":"function","z":"33432789.4c70f8","name":"mean_mobile_calc","func":"// Variable declaration\nvar valueArray = context.get(\"valueArray\") || []; // Get previous array of values, if it exists\nvar tot = 0;\nvar valueCount = valueArray.length; //Length of the array\n\n// If the array has less than 10 values, add another one\nif (valueCount < 10){\n    valueArray[valueCount] = msg.payload.value;\n}\n// If the array has 10 values, replace the oldest one\nelse{\n    \n    for (i=0; i<9; i++){\n        valueArray[i] = valueArray[i+1];\n    }\n    \n    valueArray[9] = msg.payload.value;\n}\n\n//Save the array\ncontext.set(\"valueArray\", valueArray)\n\n//\nif (valueCount < 10){\n    for (i = 0; i < valueCount + 1; i++){\n        tot = tot + valueArray[i];\n    }\n    var mean = tot/(valueCount + 1);\n}\nelse{\n    for (i = 0; i < valueCount; i++){\n        tot = tot + valueArray[i];\n    }\n    var mean = tot/valueCount;    \n}\n\nmean = Math.round(mean*100)/100;\n\nmsg.payload = mean;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":560,"wires":[["b7d59bdd.fcfbc8"]]},{"id":"dac92621.fd2898","type":"function","z":"33432789.4c70f8","name":"max_calc","func":"// Variable declaration\nvar valueMax = context.get(\"valueMax\") || 0;\n\nif (valueMax == 0){\n    valueMax = msg.payload.value;\n}\nelse{\n    if (msg.payload.value > valueMax){\n        valueMax = msg.payload.value;\n    }\n}\n\n//Save the array\ncontext.set(\"valueMax\", valueMax);\n\nmsg.payload = valueMax;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1360,"wires":[["9190b57f.15fa88"]]},{"id":"b7031474.421428","type":"function","z":"33432789.4c70f8","name":"min_calc","func":"// Variable declaration\nvar valueMin = context.get(\"valueMin\") || 0;\n\nif (valueMin == 0){\n    valueMin = msg.payload.value;\n}\nelse{\n    if (msg.payload.value < valueMin){\n        valueMin = msg.payload.value;\n    }\n}\n\n//Save the array\ncontext.set(\"valueMin\", valueMin);\n\nmsg.payload = valueMin;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1300,"wires":[["99c073e8.7b2e7"]]},{"id":"99c073e8.7b2e7","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1300,"wires":[["9af2d223.d8d25"]]},{"id":"9190b57f.15fa88","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"max","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1360,"wires":[["f79f66ee.a71828"]]},{"id":"2c1c4049.6ce96","type":"function","z":"33432789.4c70f8","name":"slope_calc","func":"var previousValue = context.get(\"previousValue\") || 0;\nvar prevTime = context.get(\"previousTime\") || 0;\n\nvar actualTime = Date.now();\n\nif (prevTime != 0){\n    \nvar timeDiff = (actualTime - prevTime)/1000;\n\nvar delta = msg.payload.value - previousValue;\n\nvar slope = delta/timeDiff;\n\nslope = Math.round(slope*100)/100;\n\nmsg.payload = slope;\n\n}\n\nelse{\n    msg.payload = 0;\n}\n\ncontext.set(\"previousTime\", actualTime);\ncontext.set(\"previousValue\", msg.payload.value);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1420,"wires":[["9169da5a.397968"]]},{"id":"9169da5a.397968","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"slope","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1420,"wires":[["1a22af4f.94b4d1"]]},{"id":"1a22af4f.94b4d1","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":34,"width":4,"height":1,"name":"Slope_U1","label":"Slope","format":"{{msg.payload}}","layout":"row-spread","x":1440,"y":1420,"wires":[]},{"id":"9af2d223.d8d25","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":40,"width":4,"height":1,"name":"Minimum_U1","label":"Minimum","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":1300,"wires":[]},{"id":"f79f66ee.a71828","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":37,"width":4,"height":1,"name":"Maximum_U1","label":"Maximum","format":"{{msg.payload}}","layout":"row-spread","x":1460,"y":1360,"wires":[]},{"id":"54e3c673.c7a498","type":"function","z":"33432789.4c70f8","name":"mean_calc","func":"// Variable declaration\nvar tot = context.get(\"tot\") || 0; \nvar valueCount = context.get(\"valueCount\") || 0;\n\nvalueCount = valueCount + 1;\n\ntot = tot + msg.payload.value;\n\nvar mean=0; \n\nif (valueCount != 0){\n    mean = tot/valueCount;\n}\n\nmean = Math.round(mean*100)/100;\nmsg.payload = mean;\n\ncontext.set(\"tot\", tot);\ncontext.set(\"valueCount\", valueCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1180,"wires":[["7b7ddbb0.86d724"]]},{"id":"7b7ddbb0.86d724","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mean","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1180,"wires":[["f9e251c3.0db88"]]},{"id":"9ce39b67.5e3f48","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mean_mobile","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1120,"wires":[["f9e251c3.0db88"]]},{"id":"ece3b417.0e2a98","type":"function","z":"33432789.4c70f8","name":"mean_mobile_calc","func":"// Variable declaration\nvar valueArray = context.get(\"valueArray\") || []; // Get previous array of values, if it exists\nvar tot = 0;\nvar valueCount = valueArray.length; //Length of the array\n\n// If the array has less than 10 values, add another one\nif (valueCount < 10){\n    valueArray[valueCount] = msg.payload.value;\n}\n// If the array has 10 values, replace the oldest one\nelse{\n    \n    for (i=0; i<9; i++){\n        valueArray[i] = valueArray[i+1];\n    }\n    \n    valueArray[9] = msg.payload.value;\n}\n\n//Save the array\ncontext.set(\"valueArray\", valueArray)\n\n//\nif (valueCount < 10){\n    for (i = 0; i < valueCount + 1; i++){\n        tot = tot + valueArray[i];\n    }\n    var mean = tot/(valueCount + 1);\n}\nelse{\n    for (i = 0; i < valueCount; i++){\n        tot = tot + valueArray[i];\n    }\n    var mean = tot/valueCount;    \n}\n\nmean = Math.round(mean*100)/100;\n\nmsg.payload = mean;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1120,"wires":[["9ce39b67.5e3f48"]]},{"id":"45bb7ce5.740194","type":"function","z":"33432789.4c70f8","name":"max_calc","func":"// Variable declaration\nvar valueMax = context.get(\"valueMax\") || 0;\n\nif (valueMax == 0){\n    valueMax = msg.payload.value;\n}\nelse{\n    if (msg.payload.value > valueMax){\n        valueMax = msg.payload.value;\n    }\n}\n\n//Save the array\ncontext.set(\"valueMax\", valueMax);\n\nmsg.payload = valueMax;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1960,"wires":[["1e969cc1.199c43"]]},{"id":"38ae2297.f4910e","type":"function","z":"33432789.4c70f8","name":"min_calc","func":"// Variable declaration\nvar valueMin = context.get(\"valueMin\") || 0;\n\nif (valueMin == 0){\n    valueMin = msg.payload.value;\n}\nelse{\n    if (msg.payload.value < valueMin){\n        valueMin = msg.payload.value;\n    }\n}\n\n//Save the array\ncontext.set(\"valueMin\", valueMin);\n\nmsg.payload = valueMin;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":1900,"wires":[["46249877.1dcc68"]]},{"id":"46249877.1dcc68","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"min","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1900,"wires":[["be39c21c.9566c"]]},{"id":"1e969cc1.199c43","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"max","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1960,"wires":[["ccead080.cd9c4"]]},{"id":"7ee60bf.b0a23f4","type":"function","z":"33432789.4c70f8","name":"slope_calc","func":"var previousValue = context.get(\"previousValue\") || 0;\nvar prevTime = context.get(\"previousTime\") || 0;\n\nvar actualTime = Date.now();\n\nif (prevTime != 0){\n    \nvar timeDiff = (actualTime - prevTime)/1000;\n\nvar delta = msg.payload.value - previousValue;\n\nvar slope = delta/timeDiff;\n\nslope = Math.round(slope*100)/100;\n\nmsg.payload = slope;\n\n}\n\nelse{\n    msg.payload = 0;\n}\n\ncontext.set(\"previousTime\", actualTime);\ncontext.set(\"previousValue\", msg.payload.value);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":2020,"wires":[["828e5d38.6acd8"]]},{"id":"828e5d38.6acd8","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"slope","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":2020,"wires":[["329e1770.ca32c8"]]},{"id":"329e1770.ca32c8","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":44,"width":4,"height":1,"name":"Slope_I1","label":"Slope","format":"{{msg.payload}}","layout":"row-spread","x":1440,"y":2020,"wires":[]},{"id":"be39c21c.9566c","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":50,"width":4,"height":1,"name":"Minimum_I1","label":"Minimum","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":1900,"wires":[]},{"id":"ccead080.cd9c4","type":"ui_text","z":"33432789.4c70f8","group":"49de8910.30c838","order":47,"width":4,"height":1,"name":"Maximum_I1","label":"Maximum","format":"{{msg.payload}}","layout":"row-spread","x":1450,"y":1960,"wires":[]},{"id":"b2e8d380.c507b","type":"function","z":"33432789.4c70f8","name":"mean_calc","func":"// Variable declaration\nvar tot = context.get(\"tot\") || 0; \nvar valueCount = context.get(\"valueCount\") || 0;\n\nvalueCount = valueCount + 1;\n\ntot = tot + msg.payload.value;\n\nvar mean=0; \n\nif (valueCount != 0){\n    mean = tot/valueCount;\n}\n\nmean = Math.round(mean*100)/100;\nmsg.payload = mean;\n\ncontext.set(\"tot\", tot);\ncontext.set(\"valueCount\", valueCount);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":1780,"wires":[["2e62b7f5.b904c8"]]},{"id":"1d3a96c7.541b39","type":"function","z":"33432789.4c70f8","name":"mean_mobile_calc","func":"// Variable declaration\nvar valueArray = context.get(\"valueArray\") || []; // Get previous array of values, if it exists\nvar tot = 0;\nvar valueCount = valueArray.length; //Length of the array\n\n// If the array has less than 10 values, add another one\nif (valueCount < 10){\n    valueArray[valueCount] = msg.payload.value;\n}\n// If the array has 10 values, replace the oldest one\nelse{\n    \n    for (i=0; i<9; i++){\n        valueArray[i] = valueArray[i+1];\n    }\n    \n    valueArray[9] = msg.payload.value;\n}\n\n//Save the array\ncontext.set(\"valueArray\", valueArray)\n\n//\nif (valueCount < 10){\n    for (i = 0; i < valueCount + 1; i++){\n        tot = tot + valueArray[i];\n    }\n    var mean = tot/(valueCount + 1);\n}\nelse{\n    for (i = 0; i < valueCount; i++){\n        tot = tot + valueArray[i];\n    }\n    var mean = tot/valueCount;    \n}\n\nmean = Math.round(mean*100)/100;\n\nmsg.payload = mean;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1050,"y":1720,"wires":[["c92bf8ce.2aa8c8"]]},{"id":"c92bf8ce.2aa8c8","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mean_mobile","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1720,"wires":[["903e5739.cbf038"]]},{"id":"2e62b7f5.b904c8","type":"change","z":"33432789.4c70f8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"mean","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1780,"wires":[["903e5739.cbf038"]]}]