Node-Red Flows/flows_12_05_2022.json
[{"id":"a0febb92.772698","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"372d0ba6.e9e094","type":"mraa-gpio-ain","z":"a0febb92.772698","name":"U0","pin":"0","interval":"1000","x":150,"y":140,"wires":[["7220156b.451f1c"]]},{"id":"3e41124a.83f12e","type":"ui_gauge","z":"a0febb92.772698","name":"","group":"49de8910.30c838","order":8,"width":9,"height":6,"gtype":"compass","title":"{{msg.payload.props.name}}","label":"{{msg.payload.props.units}}","format":"{{msg.payload.value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":140,"wires":[]},{"id":"fe25db9d.65b5a8","type":"exec","z":"a0febb92.772698","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":880,"wires":[["b4379c1.8e5d96","1181c308.38422d","a71cbda9.ef069"],[],[]]},{"id":"e5cd4a5c.1468e8","type":"inject","z":"a0febb92.772698","name":"","repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":880,"wires":[["fe25db9d.65b5a8"]]},{"id":"b4379c1.8e5d96","type":"ui_gauge","z":"a0febb92.772698","name":"","group":"49de8910.30c838","order":1,"width":7,"height":4,"gtype":"gage","title":"Temparatura Processador IOT 2040","label":"ºC","format":"{{value}}","min":0,"max":"99","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"70","x":810,"y":860,"wires":[]},{"id":"1181c308.38422d","type":"ui_chart","z":"a0febb92.772698","name":"","group":"49de8910.30c838","order":2,"width":14,"height":4,"label":"Temperatura Processador IOT2040","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":900,"wires":[[]]},{"id":"8e614724.2174d8","type":"mraa-gpio-ain","z":"a0febb92.772698","name":"I1","pin":"3","interval":"1000","x":150,"y":720,"wires":[["37581752.27ed88"]]},{"id":"d4bd00d3.1694e","type":"ui_gauge","z":"a0febb92.772698","name":"","group":"49de8910.30c838","order":20,"width":8,"height":6,"gtype":"gage","title":"{{msg.payload.props.name}}","label":"{{msg.payload.props.units}}","format":"{{msg.payload.value}}","min":0,"max":"10","colors":["#cd3737","#00e626","#ca3838"],"seg1":"4","seg2":"8","x":1170,"y":720,"wires":[]},{"id":"ae1257ac.8ca898","type":"file","z":"a0febb92.772698","name":"Write File","filename":"/usr/dados/jsonfile","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1300,"y":200,"wires":[[]]},{"id":"d7fc2953.b29098","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"str","pretty":true,"x":1150,"y":200,"wires":[["ae1257ac.8ca898"]]},{"id":"f7f60e63.350d6","type":"function","z":"a0febb92.772698","name":"","func":"if (msg.payload.props.enabled==\"True\"){\n    var time=new Date().toISOString();\n    var sensor_name=msg.payload.props.name;\n    payload={\"t\":time,\"v\":msg.payload.value,\"s\":sensor_name};\n    msg.payload=payload\n    return msg;\n}","outputs":1,"noerr":0,"x":1000,"y":200,"wires":[["d7fc2953.b29098"]]},{"id":"28eb0c38.2b9314","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"str","pretty":true,"x":880,"y":960,"wires":[["451d0168.873d7"]]},{"id":"a71cbda9.ef069","type":"function","z":"a0febb92.772698","name":"","func":"var time=new Date().toISOString();\nvar sensor_name=\"Temp Processador\";\nmsg.payload=parseInt(msg.payload);\npayload={\"t\":time,\"v\":msg.payload,\"s\":sensor_name};\nmsg.payload=payload\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":960,"wires":[["28eb0c38.2b9314"]]},{"id":"451d0168.873d7","type":"file","z":"a0febb92.772698","name":"Write File","filename":"/usr/dados/jsonfile","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1030,"y":960,"wires":[[]]},{"id":"4d47597d.5cc758","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"str","pretty":true,"x":1150,"y":780,"wires":[["711b6d3d.c46e44"]]},{"id":"711b6d3d.c46e44","type":"file","z":"a0febb92.772698","name":"Write File","filename":"/usr/dados/jsonfile","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1300,"y":780,"wires":[[]]},{"id":"355b74c0.a7986c","type":"file in","z":"a0febb92.772698","name":"","filename":"usr/dados/U0.json","format":"utf8","chunk":false,"sendError":false,"x":330,"y":80,"wires":[["e944fe69.7c215"]]},{"id":"e944fe69.7c215","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":80,"wires":[["4c7f8165.12de8"]]},{"id":"345a5533.6c41ea","type":"inject","z":"a0febb92.772698","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"props","payload":"","payloadType":"date","x":130,"y":80,"wires":[["355b74c0.a7986c"]]},{"id":"4c7f8165.12de8","type":"join","z":"a0febb92.772698","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":140,"wires":[["f459afe4.505d9"]]},{"id":"7220156b.451f1c","type":"change","z":"a0febb92.772698","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["4c7f8165.12de8"]]},{"id":"f459afe4.505d9","type":"function","z":"a0febb92.772698","name":"","func":"if (msg.payload.props.enabled==\"False\"){\n    msg.payload.value=\"Disabled\"; \n}\nelse{\nvar sensor=msg.payload.value; \nvar min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\n\nmsg.payload.value= (sensor/1023)*(max-min)+min; \n\nmsg.payload.value=Math.round(msg.payload.value*100)/100\n}\nmsg.payload.props.name=msg.payload.props.name+\"-U0\"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":140,"wires":[["f7f60e63.350d6","81766b59.1ee158"]]},{"id":"81766b59.1ee158","type":"function","z":"a0febb92.772698","name":"","func":"var min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max},topic:\"Soil\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":140,"wires":[["3e41124a.83f12e"]]},{"id":"6a8b4d75.a3f8b4","type":"file in","z":"a0febb92.772698","name":"","filename":"usr/dados/I1.json","format":"utf8","chunk":false,"sendError":false,"x":330,"y":640,"wires":[["a4d71170.5f72"]]},{"id":"a4d71170.5f72","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":640,"wires":[["98f8f2b4.88572"]]},{"id":"5ad43f29.b5341","type":"inject","z":"a0febb92.772698","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"props","payload":"","payloadType":"date","x":130,"y":640,"wires":[["6a8b4d75.a3f8b4"]]},{"id":"98f8f2b4.88572","type":"join","z":"a0febb92.772698","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":720,"wires":[["b63df433.844e18"]]},{"id":"37581752.27ed88","type":"change","z":"a0febb92.772698","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":720,"wires":[["98f8f2b4.88572"]]},{"id":"b63df433.844e18","type":"function","z":"a0febb92.772698","name":"","func":"if (msg.payload.props.enabled==\"False\"){\n    msg.payload.value=\"Disabled\"; \n}\nelse{\nvar sensor=msg.payload.value; \nvar min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\n\nmsg.payload.value= ((sensor-204.6)/1023)*(max-min)+min; \n\nmsg.payload.value=Math.round(msg.payload.value*100)/100\n}\nmsg.payload.props.name=msg.payload.props.name+\"-I1\"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":720,"wires":[["f70786ec.cd4298","fbd1b8cb.ace158"]]},{"id":"f70786ec.cd4298","type":"function","z":"a0febb92.772698","name":"","func":"var min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max},topic:\"Soil\"};\n\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":720,"wires":[["d4bd00d3.1694e"]]},{"id":"6af7d4f9.7964bc","type":"mraa-gpio-ain","z":"a0febb92.772698","name":"I0","pin":"1","interval":"1000","x":150,"y":340,"wires":[["4ff096ff.95ab68"]]},{"id":"cffad899.1c06e8","type":"ui_gauge","z":"a0febb92.772698","name":"","group":"49de8910.30c838","order":18,"width":"8","height":"6","gtype":"gage","title":"{{msg.payload.props.name}}","label":"{{msg.payload.props.units}}","format":"{{msg.payload.value}}","min":0,"max":"10","colors":["#cd3737","#00e626","#ca3838"],"seg1":"4","seg2":"8","x":1170,"y":340,"wires":[]},{"id":"d3688e98.ea467","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"str","pretty":true,"x":1150,"y":400,"wires":[["acda3c1a.232f3"]]},{"id":"acda3c1a.232f3","type":"file","z":"a0febb92.772698","name":"Write File","filename":"/usr/dados/jsonfile","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1300,"y":400,"wires":[[]]},{"id":"fb2f4509.4061a8","type":"file in","z":"a0febb92.772698","name":"","filename":"usr/dados/I0.json","format":"utf8","chunk":false,"sendError":false,"x":330,"y":260,"wires":[["9c618397.8d41"]]},{"id":"9c618397.8d41","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":260,"wires":[["b35e9b5a.143b58"]]},{"id":"83dcdbc9.a080c8","type":"inject","z":"a0febb92.772698","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"props","payload":"","payloadType":"date","x":130,"y":260,"wires":[["fb2f4509.4061a8"]]},{"id":"b35e9b5a.143b58","type":"join","z":"a0febb92.772698","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":340,"wires":[["637c5b40.40d554"]]},{"id":"4ff096ff.95ab68","type":"change","z":"a0febb92.772698","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":340,"wires":[["b35e9b5a.143b58"]]},{"id":"637c5b40.40d554","type":"function","z":"a0febb92.772698","name":"","func":"if (msg.payload.props.enabled==\"False\"){\n    msg.payload.value=\"Disabled\"; \n}\nelse{\nvar sensor=msg.payload.value; \nvar min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\n\nmsg.payload.value= ((sensor-204.6)/1023)*(max-min)+min; \n\nmsg.payload.value=Math.round(msg.payload.value*100)/100\n}\nmsg.payload.props.name=msg.payload.props.name+\"-I0\"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":340,"wires":[["c13291db.bb61f","35cc422.0b29cbe"]]},{"id":"c13291db.bb61f","type":"function","z":"a0febb92.772698","name":"","func":"if (msg.payload.props.enabled==\"True\"){\nvar min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max},topic:\"Soil\"};\n}\nelse{\n    msg={payload:msg.payload,\"disp\":false,topic:\"Soil\"};\n}\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":340,"wires":[["cffad899.1c06e8"]]},{"id":"24ba4c8b.538a84","type":"mraa-gpio-ain","z":"a0febb92.772698","name":"U1","pin":"2","interval":"1000","x":150,"y":520,"wires":[["819a3bc.b1b5ac8"]]},{"id":"f5ae6bdb.971b48","type":"ui_gauge","z":"a0febb92.772698","name":"","group":"49de8910.30c838","order":9,"width":9,"height":6,"gtype":"compass","title":"{{msg.payload.props.name}}","label":"{{msg.payload.props.units}}","format":"{{msg.payload.value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1180,"y":520,"wires":[]},{"id":"110abd81.2cda02","type":"file","z":"a0febb92.772698","name":"Write File","filename":"/usr/dados/jsonfile","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1300,"y":580,"wires":[[]]},{"id":"d2a1a66c.376318","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"str","pretty":true,"x":1150,"y":580,"wires":[["110abd81.2cda02"]]},{"id":"33af59cb.31a366","type":"file in","z":"a0febb92.772698","name":"","filename":"usr/dados/U1.json","format":"utf8","chunk":false,"sendError":false,"x":330,"y":460,"wires":[["1a9eda5b.00acd6"]]},{"id":"1a9eda5b.00acd6","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"obj","pretty":false,"x":530,"y":460,"wires":[["42402d9f.7523f4"]]},{"id":"9785037d.d1a3e","type":"inject","z":"a0febb92.772698","name":"","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"props","payload":"","payloadType":"date","x":130,"y":460,"wires":[["33af59cb.31a366"]]},{"id":"42402d9f.7523f4","type":"join","z":"a0febb92.772698","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":570,"y":520,"wires":[["527b4830.f34b28"]]},{"id":"819a3bc.b1b5ac8","type":"change","z":"a0febb92.772698","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"value","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":520,"wires":[["42402d9f.7523f4"]]},{"id":"527b4830.f34b28","type":"function","z":"a0febb92.772698","name":"","func":"if (msg.payload.props.enabled==\"False\"){\n    msg.payload.value=\"Disabled\"; \n}\nelse{\nvar sensor=msg.payload.value; \nvar min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\n\nmsg.payload.value= (sensor/1023)*(max-min)+min; \n\nmsg.payload.value=Math.round(msg.payload.value*100)/100\n}\nmsg.payload.props.name=msg.payload.props.name+\"-U1\"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":520,"wires":[["6b140ba.a05adf4","bb240a84.f856a8"]]},{"id":"6b140ba.a05adf4","type":"function","z":"a0febb92.772698","name":"","func":"var min=msg.payload.props.rangeMin;\nvar max=msg.payload.props.rangeMax;\nvar data= msg.payload.value;\n\nmsg = {payload:msg.payload,ui_control:{min:min,max:max},topic:\"Soil\"};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":1000,"y":520,"wires":[["f5ae6bdb.971b48"]]},{"id":"35cc422.0b29cbe","type":"function","z":"a0febb92.772698","name":"","func":"if (msg.payload.props.enabled==\"True\"){\n    var time=new Date().toISOString();\n    var sensor_name=msg.payload.props.name;\n    payload={\"t\":time,\"v\":msg.payload.value,\"s\":sensor_name};\n    msg.payload=payload\n    return msg;\n}","outputs":1,"noerr":0,"x":1000,"y":400,"wires":[["d3688e98.ea467"]]},{"id":"bb240a84.f856a8","type":"function","z":"a0febb92.772698","name":"","func":"if (msg.payload.props.enabled==\"True\"){\n    var time=new Date().toISOString();\n    var sensor_name=msg.payload.props.name;\n    payload={\"t\":time,\"v\":msg.payload.value,\"s\":sensor_name};\n    msg.payload=payload\n    return msg;\n}","outputs":1,"noerr":0,"x":1000,"y":580,"wires":[["d2a1a66c.376318"]]},{"id":"fbd1b8cb.ace158","type":"function","z":"a0febb92.772698","name":"","func":"if (msg.payload.props.enabled==\"True\"){\n    var time=new Date().toISOString();\n    var sensor_name=msg.payload.props.name;\n    payload={\"t\":time,\"v\":msg.payload.value,\"s\":sensor_name};\n    msg.payload=payload\n    return msg;\n}","outputs":1,"noerr":0,"x":1000,"y":780,"wires":[["4d47597d.5cc758"]]},{"id":"49de8910.30c838","type":"ui_group","z":"","name":"Default","tab":"99139d81.bd79b","order":1,"disp":true,"width":"30","collapse":false},{"id":"99139d81.bd79b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]