Node-Red Flows/flows_11_5_2022.json
[{"id":"a0febb92.772698","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"372d0ba6.e9e094","type":"mraa-gpio-ain","z":"a0febb92.772698","name":"U0","pin":"0","interval":"1000","x":70,"y":60,"wires":[["b010d524.538728","fe37ec2c.e4713"]]},{"id":"b010d524.538728","type":"debug","z":"a0febb92.772698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":200,"y":200,"wires":[]},{"id":"3e41124a.83f12e","type":"ui_gauge","z":"a0febb92.772698","name":"","group":"49de8910.30c838","order":8,"width":9,"height":6,"gtype":"compass","title":"Distância","label":"mm","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810,"y":60,"wires":[]},{"id":"fe37ec2c.e4713","type":"range","z":"a0febb92.772698","minin":"0","maxin":"1023","minout":"50","maxout":"300","action":"scale","round":false,"property":"payload","name":"","x":340,"y":60,"wires":[["f1450fc8.dc6a9","75307a44.c529e4"]]},{"id":"f1450fc8.dc6a9","type":"debug","z":"a0febb92.772698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":490,"y":200,"wires":[]},{"id":"fe25db9d.65b5a8","type":"exec","z":"a0febb92.772698","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":450,"y":660,"wires":[["b4379c1.8e5d96","1181c308.38422d","a71cbda9.ef069"],[],[]]},{"id":"e5cd4a5c.1468e8","type":"inject","z":"a0febb92.772698","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":660,"wires":[["fe25db9d.65b5a8"]]},{"id":"b4379c1.8e5d96","type":"ui_gauge","z":"a0febb92.772698","name":"","group":"49de8910.30c838","order":1,"width":7,"height":4,"gtype":"gage","title":"Temparatura Processador IOT 2040","label":"ºC","format":"{{value}}","min":0,"max":"99","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"70","x":810,"y":640,"wires":[]},{"id":"1181c308.38422d","type":"ui_chart","z":"a0febb92.772698","name":"","group":"49de8910.30c838","order":2,"width":14,"height":4,"label":"Temperatura Processador IOT2040","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":810,"y":680,"wires":[[]]},{"id":"8e614724.2174d8","type":"mraa-gpio-ain","z":"a0febb92.772698","name":"","pin":"3","interval":"1000","x":70,"y":400,"wires":[["95762401.934788","930e54df.845f28"]]},{"id":"95762401.934788","type":"debug","z":"a0febb92.772698","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":480,"wires":[]},{"id":"d4bd00d3.1694e","type":"ui_gauge","z":"a0febb92.772698","name":"","group":"49de8910.30c838","order":10,"width":8,"height":6,"gtype":"gage","title":"Pressão","label":"bar","format":"{{value}}","min":0,"max":"10","colors":["#cd3737","#00e626","#ca3838"],"seg1":"4","seg2":"8","x":480,"y":400,"wires":[]},{"id":"ae1257ac.8ca898","type":"file","z":"a0febb92.772698","name":"Write File","filename":"/usr/dados/jsonfile","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1090,"y":100,"wires":[[]]},{"id":"930e54df.845f28","type":"range","z":"a0febb92.772698","minin":"0","maxin":"1023","minout":"-2.5","maxout":"10","action":"scale","round":false,"property":"payload","name":"","x":320,"y":400,"wires":[["d4bd00d3.1694e","a2c68750.275a98"]]},{"id":"75307a44.c529e4","type":"function","z":"a0febb92.772698","name":"","func":"num = msg.payload\nmsg.payload = Math.round(num * 100) / 100\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":60,"wires":[["3e41124a.83f12e","f7f60e63.350d6"]]},{"id":"d7fc2953.b29098","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"str","pretty":true,"x":940,"y":100,"wires":[["ae1257ac.8ca898"]]},{"id":"a72a8a25.5a8678","type":"change","z":"a0febb92.772698","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"Date().toISOString()","tot":"jsonata"},{"t":"set","p":"mensagem","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1260,"y":40,"wires":[[]]},{"id":"f7f60e63.350d6","type":"function","z":"a0febb92.772698","name":"","func":"var time=new Date().toISOString();\nvar sensor_name=\"Sensor Laser\";\npayload={\"time\":time,\"value\":msg.payload,\"sensor\":sensor_name};\nmsg.payload=payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":100,"wires":[["d7fc2953.b29098","e96562b7.90124"]]},{"id":"28eb0c38.2b9314","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"str","pretty":true,"x":880,"y":740,"wires":[["451d0168.873d7"]]},{"id":"a71cbda9.ef069","type":"function","z":"a0febb92.772698","name":"","func":"var time=new Date().toISOString();\nvar sensor_name=\"Temperatura Processador\";\nmsg.payload=parseInt(msg.payload);\npayload={\"time\":time,\"value\":msg.payload,\"sensor\":sensor_name};\nmsg.payload=payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":740,"wires":[["28eb0c38.2b9314","ebc587a1.7a9d08"]]},{"id":"451d0168.873d7","type":"file","z":"a0febb92.772698","name":"Write File","filename":"/usr/dados/jsonfile","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":1030,"y":740,"wires":[[]]},{"id":"a2c68750.275a98","type":"function","z":"a0febb92.772698","name":"","func":"var time=new Date().toISOString();\nvar sensor_name=\"Sensor Pressao\";\npayload={\"time\":time,\"value\":msg.payload,\"sensor\":sensor_name};\nmsg.payload=payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":460,"wires":[["4d47597d.5cc758","9ed746da.d73458"]]},{"id":"4d47597d.5cc758","type":"json","z":"a0febb92.772698","name":"","property":"payload","action":"str","pretty":true,"x":630,"y":460,"wires":[["711b6d3d.c46e44"]]},{"id":"711b6d3d.c46e44","type":"file","z":"a0febb92.772698","name":"Write File","filename":"/usr/dados/jsonfile","appendNewline":false,"createDir":false,"overwriteFile":"false","encoding":"none","x":780,"y":460,"wires":[[]]},{"id":"e96562b7.90124","type":"debug","z":"a0febb92.772698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":180,"wires":[]},{"id":"9ed746da.d73458","type":"debug","z":"a0febb92.772698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":520,"wires":[]},{"id":"ebc587a1.7a9d08","type":"debug","z":"a0febb92.772698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":910,"y":820,"wires":[]},{"id":"49de8910.30c838","type":"ui_group","z":"","name":"Default","tab":"99139d81.bd79b","order":1,"disp":true,"width":30,"collapse":false},{"id":"99139d81.bd79b","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]